<div class="col-md-12">
        <div class="x_panel">
             <div class="x_title">
                <h2>Criterios :<b>Patas</b></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                 <div class="col-md-4">

                 
                <table class="table table-striped" name="tablaEmpalmes" id="tablaEmpalmes" style="width: 100%;">
                                <thead>
                                    <tr>
                                            <th>Fierro</th>
                                            <th>Valor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each infoFierros}}
                                        <tr>
                                                <td>{{desripcion}}</td>
                                                <td>
                                                    <input class="form-control input-sm" id="v_{{id_fierros}}" type="text" value="{{largo}}">
                                                </td>
                                        </tr>
                                    {{/each}}
                                </tbody>       
                            </table>
                <div class="form-group row">
                        
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-8">
                            <input type="hidden" name="fcodigo" id="fcodigo" value="{{codigo}}">
                            <input type="hidden" name="forigen" id="forigen" value="{{origen}}">
                            <button type="button" class="btn btn-success" onclick="cargaInformacionPatas()">{{msjBoton}} </button>
                        </div>
                </div>
            </div>
            </div>
        </div>
</div>