<style>
    html,
    body {
      margin: 0;
      padding: 0;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
    }

    #calendar {
      max-width: 100%;
      margin: 40px auto;
    }
    .close {
            float: right;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1;
            color: #000;
            text-shadow: 0 1px 0 #fff;
            opacity: .5;
        }
     .close:not(:disabled):not(.disabled) {
            cursor: pointer;
        }
        button.close {
            padding: 0;
            background-color: transparent;
            border: 0;
            -webkit-appearance: none;
        }
        .fc-toolbar {
    text-transform: capitalize;
}
</style>

 <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.min.css' rel='stylesheet' /> 
 <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.min.js"></script> 
 <script src='../core/locales/es.js'></script>
 

 <script>

   document.addEventListener('DOMContentLoaded', function() {
  var calendarEl = document.getElementById('calendar');

  var calendar = new FullCalendar.Calendar(calendarEl, {
    headerToolbar: {
      left: 'prev,next',
      center: 'title',
      right: ''
    },
    businessHours: [ // specify an array instead
        {
            daysOfWeek: [ 1, 2, 3, 4 ], // Monday, Tuesday, Wednesday
            startTime: '08:00', // 8am
            endTime: '18:30' // 6pm
        },
        {
            daysOfWeek: [ 5 ], //  Friday
            startTime: '08:00', // 10am
            endTime: '13:30' // 4pm
        }
        ],
    slotMinTime: "08:00:00",
    slotMaxTime: "18:30:00",
    initialView: 'timeGridWeek',
    initialDate: new Date(),
    hiddenDays: [0, 6],
    allDaySlot: false,
    contentHeight: 650,
    height: 650,
    selectable: true,
    select: function(info) {
      //alert('selected ' + info.startStr + ' to ' + info.endStr);
     var diaInicial = calendar.formatDate(info.startStr, {
                                                                year: 'numeric',
                                                                month: 'numeric',
                                                                day: 'numeric'
                                                              });

      var horaInicial =  calendar.formatDate(info.startStr, { hour: '2-digit' , minute : '2-digit'});

      var diaTermino = calendar.formatDate(info.endStr, {
                                                                year: 'numeric',
                                                                month: 'numeric',
                                                                day: 'numeric'
                                                              });

      var horaTermino =  calendar.formatDate(info.endStr, { hour: '2-digit' , minute : '2-digit'});

      var Per = "";
      if (diaInicial == diaTermino)
      {
        Per = "Día " + diaInicial + " Horario : " + horaInicial + " Hasta " + horaTermino;
      }
      else
      {
        Per = "Desde" + diaInicial + " " +horaInicial +  " Hasta "+  diaTermino + " " + horaTermino;
      }

     $('#fechaI').val(diaInicial);
     $('#horaI').val(horaInicial);
     $('#fechaT').val(diaTermino);
     $('#horaT').val(horaTermino);

     $('#periodo').html(Per);
      $('#exampleModal').modal('toggle'); 
    },
    events: '/bitacora/getBitacora',
    eventClick: function(event) {
      if(event.event._def.extendedProps.tipoObjeto === 1 )
      {
        if (event.event._def.extendedProps.myId) {
                    // 
                  $('#exampleModalEliminar').modal('toggle');  
                  $('#idEliminar').val(event.event._def.extendedProps.myId);  
                  
                }
      }
      else
      {
        alert("Los permisos no pueden ser elminados en la bitacora");
      }
        
    }
    });
 
  calendar.setOption('locale', 'es');
  calendar.render();
});

  </script>
<body>
<div class="x_panel">
                  <div class="x_title">
                    <h2>Horas Bitácora</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <div id='calendar' name="calendar" style="width: 70%;"></div>

                  </div>
</div>
  <div class="modal fade" id="exampleModalEliminar" tabindex="-1" aria-labelledby="exampleModalLabelEliminar" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form action="/bitacora/eliminarHoras" method="POST" id="eliminarHora" name="eliminarHora">
        <input id="idEliminar" name="idEliminar" type="hidden" value="">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Quieres borrar el registro de la bitacora ? </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <div class="modal-footer">

            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="submit" id="btnEliminar" class="btn btn-danger">Eliminar</button>
          </div>
        </div>  
        </form>
    </div>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Ingresar Horas Bítacora </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <form action="/bitacora/cargarHoras" method="POST" id="llenadoBitacora" name="llenadoBitacora">

          <div class="x_content">

            <div class="x_title">
              <div class="clearfix"></div>
                <div class="item form-group">
                  <label>
                     <!-- <input type="radio" class="flat" name="tipoP" id="Pro" value="Pro" checked onclick="validoTipo(this.value);"> Actividad relacionada a proyectos     <br>
                           <input type="radio" class="flat" name="tipoP" id="Act" value="Act" onclick="validoTipo(this.value);"> Actividad no relacionada a proyecto
                    -->
                  </label>
                </div>
             <div class="item form-group">
                <label>Periodo : </label>
                <label id="periodo" name="periodo"></label>
                <input id="fechaI" name="fechaI" type="hidden" value="">
                <input id="horaI" name="horaI" type="hidden" value="">
                <input id="fechaT" name="fechaT" type="hidden" value="">
                <input id="horaT" name="horaT" type="hidden" value="">

                <input id="tipoIngreso" name="tipoIngreso" type="hidden" value="">
             </div>
             
              <div name="proyecto" id="proyecto">
                <div class="item form-group">
                   <label class="col-form-label col-md-1 col-sm-1 label-align" for="Etapa"> </label>
                   <p><input type="checkbox" name="esRelacionada" id="esRelacionada" onclick="CargaInformacion();">  Actividada No relacionada a proyecto </p> 

                    <label class="col-form-label col-md-1 col-sm-1 label-align" for="Etapa"> </label>
                    <p style="visibility: show" name="mod" id="mod"><input type="checkbox" name="esmoficacaciones" id="esmoficacaciones">  Modificaciones </p> 
                </div>
                <div class="item form-group" id="divActividades" name="divActividades" style="visibility: hidden">
                 <label class="col-form-label col-md-3 col-sm-3 label-align" for="Etapa">Actividades  </label>
                  <select class=" form-control" name="actividad" id="actividad">
                      <option value="0" selected>Seleccione</option>
                      <option value="-1">Actividad RLE</option>
                      <option value="-2">Permiso NO recuperable</option>
                      <option value="-3">Capacitacion</option>
                      <option value="-5">Seminario/Congreso</option>
                      <option value="-6">Reunion Coordinacion NAP</option>
                  </select>
                </div>

                <div class="item form-group" id="divProyecto" name="divProyecto">
                 <label class="col-form-label col-md-3 col-sm-3 label-align" for="Etapa">Proyecto  </label>
                  <select class=" form-control" name="idProyecto" id="idProyecto">
                        {{#each proyectos}}
                            <option value="{{id}}">{{year}}-{{code}} : {{nombre}}</option>
                         {{/each}}
                  </select>
                </div>
               <div class="item form-group" id="divEtapa" name="divEtapa">
                 <label class="col-form-label col-md-3 col-sm-3 label-align" for="Etapa">Etapa  </label>
                  <select class=" form-control" name="idEtapaProyecto" id="idEtapaProyecto" onchange="CargaTareas(this.value);">
                        <option value="0">Seleccione</option>
                        {{#each etapas}}
                            <option value="{{id}}">{{descripcion}}</option>
                         {{/each}}
                  </select>
               </div>
               <div class="item form-group" id="divTarea" name="divTarea">
                 <label class="col-form-label col-md-3 col-sm-3 label-align" for="Etapa">Tarea  </label>
                  <select class=" form-control" name="idTarea" id="idTarea">
                  </select>
               </div>
               <div class="item form-group">
                 <label class="col-form-label col-md-3 col-sm-3 label-align" for="Etapa">Descripción  </label>
                  <textarea class=" form-control" name="descripcion" id="descripcion"></textarea>
               </div>
             </div>
             <div name="actividad" id="actividad" style="display:none">
               <div class="item form-group">
                 <label class="col-form-label col-md-3 col-sm-3 label-align" for="Nombre Aprobador">Actividad </label>
                  <select class=" form-control" name="idActividad" id="idActividad">
                      <option value="0">Seleccione</option>
                      <option value="1">Desarrollos para producción</option>
                      <option value="2">Desarrollos BIM</option>
                      <option value="3">Desarrollo Mejoras y otros RLE</option>
                      <option value="4">Desarrollo para nuevos negocios</option>
                      <option value="5">Capacitaciones Internas</option>
                  </select>
               </div>
             </div>

            </div>
          </div>



          <!--</div>-->

              <!--</form>-->

          <div class="modal-footer">

            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" onclick="ValidarIngreso();" id="btnSolicitar" class="btn btn-success">Ingresar</button>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</body>
  <script>

function ValidarIngreso()
{
  // validar la información 
  if($('input[name="esRelacionada"]').is(':checked'))
  {
    // validar que tenga la informacion no relacionada a proyecto. 
    var actvidad = $('#actividad option:selected').val();
    
    if (actvidad == 0 )
    {
       alert ("Seleccione Actividad"); 
    }
    else
    {
      // enviar el submit 
      $('#tipoIngreso').val(2);
       document.llenadoBitacora.submit();
    }
  }
  else
  {
    var proyecto = $('#idProyecto option:selected').val();
    var etapa = $('#idEtapaProyecto option:selected').val();
    var tarea = $('#idTarea option:selected').val();

     if (proyecto != 0 && etapa != 0 && tarea != 0 && proyecto !== undefined)
     {
        // enviar el submit 
        
        $('#tipoIngreso').val(1);
         document.llenadoBitacora.submit();
        //$( "#llenadoBitacora" ).submit();
     }
     else
     {
        alert ("Tiene que ingresar los valores de proyecto // etapa // tarea"); 
     }


  }

}

function CargaInformacion()
{
    if($('input[name="esRelacionada"]').is(':checked'))
    {
      $('#divProyecto').hide();
      $('#divEtapa').hide();
      $('#divTarea').hide(); 
      $('#mod').hide();
      $('#divActividades').show(); 
      $("#divActividades").css('visibility', 'visible');
      }else
    {
    $('#divProyecto').show();
    $('#divEtapa').show();
    $('#divTarea').show();
    $('#mod').show();
    $('#divActividades').hide(); 
    }

}

    function validoTipo(valor)
    {
      switch(valor)
      {
        case "Pro":
        document.getElementById('proyecto').style.display = "block";
        document.getElementById('actividad').style.display = "none";
        break;
        case "Act":
        document.getElementById('proyecto').style.display = "none";
        document.getElementById('actividad').style.display = "block";
        break;
      }
    
    }

    function CargaTareas(valorEtapa)
    {

      $.ajax({
							async: false,
							type : 'POST', 
							url	 : "/bitacora/cargaOpcionesEtapa", 
							data : "idEtapa="+valorEtapa,
							success : function (resultado) 
								{ 
                  $("#idTarea").html(resultado);
								} 
						});
    }
  </script>
