<head>
    <style>
        table {
            table-layout: fixed;
        }

        table td {
            word-wrap: break-word;
            max-width: 400%;
        }

        #grid td {
            white-space: inherit;
        }
         .headerToolbar {
            background-color: #fed300;

        }
        .close {
            float: right;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1;
            color: #000;
            text-shadow: 0 1px 0 #fff;
            opacity: .5;
        }
        .close:not(:disabled):not(.disabled) {
            cursor: pointer;
        }
        button.close {
            padding: 0;
            background-color: transparent;
            border: 0;
            -webkit-appearance: none;
        }
    </style>
</head>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>

<script>
     var nuevoalias = jQuery.noConflict();
	    nuevoalias(document).ready(function() {
	      nuevoalias( function() {
                nuevoalias( "#proyecto" ).autocomplete({
                source: "buscarPro/find=da",
                minLength: 2,
                select: function( event, ui ) {
                    nuevoalias('#idProyecto').val(ui.item.id);
                }
                });
                nuevoalias( "#destinatario" ).autocomplete({
                source: "buscarDesti/find=da",
                minLength: 2,
                select: function( event, ui ) {
                    nuevoalias('#idDestinatario').val(ui.item.id);
                }
                });
            } );

    nuevoalias(function() { nuevoalias('#fechaHora').datetimepicker({ 
        showSecond: false,
        dateFormat: 'dd-mm-yy',
      timeFormat: 'hh:mm',
      stepHour: 1,
      stepMinute: 30
    });        });
        


	});
</script>

<div class="col-md-12 col-sm-12  ">
    <div class="x_panel">
        <div class="x_title">
            <h2>Admisnitración de Solicitud Ploteo<small></small></h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <ul class="nav nav-tabs justify-content-end bar_tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="ingreso-tab" data-toggle="tab" href="#ingreso" role="tab"
                        aria-controls="ingreso" aria-selected="true">Ingresar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pendiente-tab" data-toggle="tab" href="#pendiente" role="tab"
                        aria-controls="pendiente" aria-selected="false">Pendientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="historial-tab" data-toggle="tab" href="#historial" role="tab"
                        aria-controls="historial" aria-selected="false">En proceso</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="ingreso" role="tabpanel" aria-labelledby="ingreso-tab">
                    <form id="IngresoPloteo" name="IngresoPloteo" data-parsley-validate class="form-horizontal form-label-left" action="/ploter/addSolicitud" method="POST">
                        <span class="section">1.- Servicio a solicitar </span>
                        <div class="form-group row">
                            <label class="col-md-1 col-sm-1"> <b>Trabajos</b>:
                            </label>
                            <div class="col-md-11 col-sm-11 ">
                                <div class="checkbox">
                                    <!-- <label><input name="impresion" type="checkbox" value="ING" checked/> ING </label> -->
                                    <!-- <label><input name="impresion" type="checkbox" value="ARQ" /> ARQ </label> -->
                                    <!-- <label><input name="impresion" type="checkbox" value="Listado" /> Listado </label> -->

                                    <label><input name="trabajo"  type="checkbox" value="Portada" /> Portada </label>
                                    <label><input name="trabajo"  type="checkbox" value="Lista de Planos" /> Listado Planos</label>
                                    <label><input name="trabajo"  type="checkbox" value="Limpiar planos" /> Limpiar planos</label>
                                    <label><input name="trabajo"  type="checkbox" value="Bindear" /> Bindear</label>
                                    <label><input name="trabajo"  type="checkbox" value="Calculo Areas" /> Calculo Areas</label>
                                    <label><input name="trabajo"  type="checkbox" value="Otro" /> Otro </label>

                                    <!-- <label><input name="impresion" type="checkbox" value="Doblado" /> Doblado </label> -->
                                    <!-- <label><input name="impresion" type="checkbox" value="PDF" /> PDF </label> -->
                                    <!-- <label><input name="impresion" type="checkbox" value="DWG" /> DWG </label> -->
                                    
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-1 col-sm-1"> <b> Impresión: </b></label>
                            <div class="col-md-11 col-sm-11 ">
                                <div class="checkbox">
                                    <label><input name="impresion" type="checkbox" value="Papel" /> Papel</label>
                                    <label><input name="impresion" type="checkbox" value="Doblado" /> Doblado </label>
                                    <label><input name="impresion" type="checkbox" value="Firma" /> Firma </label>
                                    <label><input name="impresion" type="checkbox" value="DigitalExportar" /> Digital/Exportar </label>
                                    <label><input name="impresion" type="checkbox" value="Mail" /> Mail </label>
                                    <label><input name="impresion" type="checkbox" value="CD" /> CD </label>
                                    <label><input name="impresion" type="checkbox" value="Pendrive" /> Pendrive </label>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-4 col-sm-4 ">
                                <span class="section">2.- Informacion Impresión:</span>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-3 col-sm-3 label-align"
                                        for="Proyecto">Proyecto:<span class="required">*</span></label>
                                    <div class="col-md-9 col-sm-9 ">
                                        <!-- <select class="form-control" name="idProyecto" id="idProyecto">
                                            {{#each proyectos}}
                                            <option value="{{id}}">{{year}}-{{code}} : {{nombre}}</option>
                                            {{/each}}
                                            -->
                                            <input id="proyecto" name="proyecto"  class="form-control">
                                            <input type="hidden" id="idProyecto" name="idProyecto"  >
                                        </select>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="ruta">Ruta Archivos:</label>
                                    <div class="col-md-9 col-sm-9 ">
                                        <input type="text" id="ruta" class="form-control" value="" name="ruta" placeholder="Ruta del proyecto" />
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="fechaHora">Fecha y Hora Entrega:</label>
                                    <div class="col-md-9 col-sm-9 ">
                                         <div class="input-group date" id="fechaHora" data-target-input="nearest">
                                                <input type="text" class="form-control datetimepicker-input" data-target="#fechaHora" name="fecheHora" id="fecheHora" />
                                                <div class="input-group-append" data-target="#fechaHora" data-toggle="datetimepicker">
                                                    <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
                                                </div>
                                          </div>
                                    </div>
                                </div>


                                <div class="item form-group">
                                    <label class="col-form-label col-md-3 col-sm-3 label-align"
                                        for="Destinatario">Destinatario:</label>
                                    <div class="col-md-9 col-sm-9 ">
                                       <!--
                                            <select class="form-control" name="idDestinatario" id="idDestinatario">
                                            {{#each usuarios}}
                                            <option value="{{idUsuario}}">{{Nombre}}</option>
                                            {{/each}}
                                            </select>
                                            -->
                                        <input id="destinatario" name="destinatario"  class="form-control">
                                        <input type="hidden" id="idDestinatario" name="idDestinatario" value="0"  >    
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-3 col-sm-3 label-align"
                                        for="comentarios">Comentarios:</label>
                                    <div class="col-md-9 col-sm-9 ">
                                        <textarea name="comentarios" id="comentarios" class="form-control"
                                            rows="2"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 ">
                                <span class="section">3.- Documentos de Impresión:</span>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="ruta">Series
                                        (seleccione series completas):</label>
                                    <div class="col-md-9 col-sm-9 ">
                                        <div class="checkbox">
                                            <input name="series" type="checkbox" value="Todas" /> Todo
                                            <input name="series" type="checkbox" value="100" /> 100
                                            <input name="series" type="checkbox" value="200" /> 200
                                            <input name="series" type="checkbox" value="300" /> 300
                                            <input name="series" type="checkbox" value="400" /> 400
                                            <input name="series" type="checkbox" value="500" /> 500
                                            <input name="series" type="checkbox" value="600" /> 600
                                            <input name="series" type="checkbox" value="700" /> 700
                                            <input name="series" type="checkbox" value="800" /> 800
                                            <input name="series" type="checkbox" value="900" /> 900
                                        </div>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="Destinatario">Otros (100,103;100-103):</label>
                                    <div class="col-md-9 col-sm-9 ">
                                        <input type="text" id="otroarch" class="form-control" value="" name="otroarch" placeholder="Otros" />
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-3 col-sm-3 label-align"
                                        for="Destinatario">Detalle Escalas:</label>
                                    <div class="col-md-9 col-sm-9 ">
                                        <input type="text" id="escalas" class="form-control" value="" name="escalas" placeholder="Ingrese detalles de escalas" />
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-3 col-sm-3 label-align"
                                        for="Destinatario">Copias Impresion:</label>
                                    <div class="col-md-9 col-sm-9 ">
                                        <input type="number" id="ncopias" class="form-control" value="0" name="ncopias" placeholder="numero de copias" />
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="Copias">Copias CD's:</label>
                                    <div class="col-md-9 col-sm-9 ">
                                        <input type="number" id="ncopiasCD" class="form-control" value="0" name="ncopiasCD" placeholder="numero de copias CDs" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 ">
                                <span class="section">4.- Configuración:</span>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-3 col-sm-3 label-align"
                                        for="Destinatario">Formato Papel:</label>
                                    <div class="col-md-9 col-sm-9 ">
                                        <select class="form-control" name="formapapel" id="formapapel">
                                            <option value="Ninguno">Ninguno</option>
                                            <option value="Carta">Carta</option>
                                            <option value="A0">A0</option>
                                            <option value="A1">A1</option>
                                            <option value="A2">A2</option>
                                            <option value="A3">A3</option>
                                            <option value="A4">A4</option>
                                            <option value="OFICIO">OFICIO</option>
                                            <option value="AF">Ajustado a Formato</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="Destinatario">Formato Entrega:</label>
                                    <div class="col-md-9 col-sm-9 ">
                                        <select class="form-control" name="formatoEntrega" id="formatoEntrega">
                                            <option value="PDF">PDF</option>
                                            <option value="DWG">DWG</option>
                                            <option value="DWF">DWF</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-9 col-sm-9  offset-md-5">
                                <!--<button type="button" class="btn btn-primary">Cancelar</button>-->
                                <button type="button" onclick="validar();" class="btn btn-warning">Enviar Solicitud</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="pendiente" role="tabpanel" aria-labelledby="pendiente-tab">
                    <table class="table table-hover" name="tablaPendientes" id="tablaPendientes">
                        <thead>
                            <tr>
                                <th>Nombre Proyecto</th>
                                <th>Solícito</th>
                                <th>Incluye</th>
                                <th>Entrega</th>
                                <th>Ruta</th>
                                <th>Series</th>
                                <th>Comentario</th>
                                <th>Fecha Solicitud</th>
                                <th>Destinatario</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each ploteos_pendiente}}
                            <tr>
                                <td>{{nomPro}}</td>
                                <td>{{nomIngr}}</td>
                                <td>{{trabajo}} {{impresion}}</td>
                                <td>{{fecha_entrega}}</td>
                                <td>{{ruta}}</td>
                                <td>{{serie}} {{serieespecial}}</td>
                                <td>{{comentario}}</td>
                                <td>{{fecha_solicitud}}</td>
                                <td>{{nomDes}}</td>
                                <td>
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#ver{{id}}"> Ver Detalle </button>
                                        <div class="modal fade" id="ver{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Detalle Solicitud</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                 <div class="form-group row">
                                                        <label class="col-form-label col-md-4 col-sm-4 label-align"	for="Escala">Escala :</label>
							                            <label class="col-form-label col-md-3 col-sm-3"	for="Escala">{{escala}}</label>
                                                 </div>
                                                 <div class="form-group row">
                                                        <label class="col-form-label col-md-4 col-sm-4 label-align"	for="Impresiones">Nº Impresiones :</label>
                                                        <label class="col-form-label col-md-3 col-sm-3"	for="Impresiones">{{nimpresion}}</label>
                                                 </div>
                                                 <div class="form-group row">
                                                        <label class="col-form-label col-md-4 col-sm-4 label-align"	for="Copias">Nº Copias :</label>
                                                        <label class="col-form-label col-md-3 col-sm-3"	for="Copias">{{ncopias}}</label>
                                                 </div>
                                                 <div class="form-group row">
                                                        <label class="col-form-label col-md-4 col-sm-4 label-align"	for="Papel">Formato Papel :</label>
                                                        <label class="col-form-label col-md-3 col-sm-3"	for="Papel">{{formatoPapel}}</label>
                                                 </div>
                                                 <div class="form-group row">
                                                        <label class="col-form-label col-md-4 col-sm-4 label-align"	for="Entrega">Formato Entrega :</label>
                                                        <label class="col-form-label col-md-3 col-sm-3"	for="Entrega">{{formatoEntrega}}</label>
                                                 </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                            </div>
                                        </div>
                                        </div>
                                        </div>
                                        <div class="col-md-6">
                                            <a href="cambiaEstadoProceso/{{id}}"><button type="button" class="btn btn-warning btn-sm" >  En Proceso</button></a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="historial" role="tabpanel" aria-labelledby="historial-tab">
                    <table class="table table-hover" name="tablaHistorial" id="tablaHistorial">
                        <thead>
                            <tr>
                                <th>Nombre Proyecto</th>
                                <th>Solícito</th>
                                <th>Incluye</th>
                                <th>Entrega</th>
                                <th>Ruta</th>
                                <th>Series</th>
                                <th>Comentario</th>
                                <th>Fecha Solicitud</th>
                                <th>Destinatario</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each ploteos_proceso}}
                            <tr>
                                <td>{{nomPro}}</td>
                                <td>{{nomIngr}}</td>
                                <td>{{trabajo}} {{impresion}}</td>
                                <td>{{fecha_entrega}}</td>
                                <td>{{ruta}}</td>
                                <td>{{serie}} {{serieespecial}}</td>
                                <td>{{comentario}}</td>
                                <td>{{fecha_solicitud}}</td>
                                <td>{{nomDes}}</td>
                                <td>
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#ver{{id}}"> Ver Detalle </button>
                                        <div class="modal fade" id="ver{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Detalle Solicitud</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                 <div class="form-group row">
                                                        <label class="col-form-label col-md-4 col-sm-4 label-align"	for="Destinatario">Escala :</label>
							                            <label class="col-form-label col-md-3 col-sm-3"	for="Destinatario">{{escala}}</label>
                                                 </div>
                                                 <div class="form-group row">
                                                        <label class="col-form-label col-md-4 col-sm-4 label-align"	for="Destinatario">Nº Impresiones :</label>
                                                        <label class="col-form-label col-md-3 col-sm-3"	for="Destinatario">{{nimpresion}}</label>
                                                 </div>
                                                 <div class="form-group row">
                                                        <label class="col-form-label col-md-4 col-sm-4 label-align"	for="Destinatario">Nº Copias :</label>
                                                        <label class="col-form-label col-md-3 col-sm-3"	for="Destinatario">{{ncopias}}</label>
                                                 </div>
                                                 <div class="form-group row">
                                                        <label class="col-form-label col-md-4 col-sm-4 label-align"	for="Destinatario">Formato Papel :</label>
                                                        <label class="col-form-label col-md-3 col-sm-3"	for="Destinatario">{{formatoPapel}}</label>
                                                 </div>
                                                 <div class="form-group row">
                                                        <label class="col-form-label col-md-4 col-sm-4 label-align"	for="Destinatario">Formato Entrega :</label>
                                                        <label class="col-form-label col-md-3 col-sm-3"	for="Destinatario">{{formatoEntrega}}</label>
                                                 </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                            </div>
                                        </div>
                                        </div>
                                        </div>
                                        <div class="col-md-6">
                                            <a href="cambiaEstadoTerminado/{{id}}"><button type="button" class="btn btn-warning btn-sm" >Terminado</button></a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>-->

<script src="../../../template/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../../../template/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script> 
<script src="../../../template/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<script>
 $('#tablaPendientes').DataTable({
        language: {
          "decimal": "",
          "emptyTable": "No hay información",
          "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
          "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
          "infoFiltered": "(Filtrado de _MAX_ total entradas)",
          "infoPostFix": "",
          "thousands": ",",
          "lengthMenu": "Mostrar _MENU_ Entradas",
          "loadingRecords": "Cargando...",
          "processing": "Procesando...",
          "search": "Buscar:",
          "zeroRecords": "Sin resultados encontrados",
          "paginate": {
            "first": "Primero",
            "last": "Ultimo",
            "next": "Siguiente",
            "previous": "Anterior"
          }
        },
        "scrolly" : "50vh",
        "scrollCollapse" : true
      });
      $('#tablaHistorial').DataTable({
        language: {
          "decimal": "",
          "emptyTable": "No hay información",
          "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
          "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
          "infoFiltered": "(Filtrado de _MAX_ total entradas)",
          "infoPostFix": "",
          "thousands": ",",
          "lengthMenu": "Mostrar _MENU_ Entradas",
          "loadingRecords": "Cargando...",
          "processing": "Procesando...",
          "search": "Buscar:",
          "zeroRecords": "Sin resultados encontrados",
          "paginate": {
            "first": "Primero",
            "last": "Ultimo",
            "next": "Siguiente",
            "previous": "Anterior"
          }
        },
        "scrolly" : "50vh",
        "scrollCollapse" : true
      });
   /*
    $('#tablaHistorial').DataTable({
        "scrolly" : "50vh",
        "scrollCollapse" : true,
        "paging": false
    });
    $('#tablaPendientes').DataTable({
        "scrolly" : "50vh",
        "scrollCollapse" : true,
        "paging": false
    });
    */
</script>


<script>

    function cargaEstado(estado, key) {
        var informacion = [];
        const dato = {
            estado: estado,
            id: key
        };
        informacion.push(dato);


        $.ajax({
            type: 'post',
            url: '/ploter/cambiaEstado',
            contentType: 'application/json',
            data: JSON.stringify(informacion),
            success: function (response) {
                //console.log(response);
                location.reload();
            },
            error: function (response) {
                alert('server error');
            }
        });

    }

    function validar()
    {
         var idProyecto = $("#idProyecto").val();

         var val = [];
        $(':checkbox:checked').each(function(i){
            if (this.name !== "series")
            {
                val[i] = $(this).val();
            }
          
        });
 
        if (idProyecto !== "" && val.length > 0) 
        {
           // $("form:IngresoPloteo").submit();
           $("#IngresoPloteo").submit();
        }
        
        
    }


</script>
<script>"https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css"</script>