<div class="col-md-12 col-sm-12 ">
	<div class="x_panel">
		<div class="x_title">
			<h2>Editar Usuario
				<!--<small>Edición de los usuarios</small>-->
			</h2>

			<ul class="nav navbar-right panel_toolbox">
			</ul>
			<div class="clearfix">
			</div>
		</div>
		<div class="x_content">
			<br />
			<form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left"
				action="/mantenedores/editarUsuarios" method="POST">
				<div class="item form-group">
					<label class="col-form-label col-md-3 col-sm-3 label-align" for="ID">Id<span
							class="required"></span>
					</label>
					<div class="col-md-6 col-sm-6 ">
						<input type="text" id="idUsuario" name="idUsuario" required="required" class="form-control"
							value="{{usuario.idUsuario}}" Readonly>
					</div>
				</div>
				<div class="item form-group">
					<label class="col-form-label col-md-3 col-sm-3 label-align" for="Nombre">Nombre<span
							class="required">*</span>
					</label>
					<div class="col-md-6 col-sm-6 ">
						<input type="text" id="Nombre" name="Nombre" required="required" class="form-control"
							value="{{usuario.Nombre}}">
					</div>
				</div>
				<div class="item form-group">
					<label class="col-form-label col-md-3 col-sm-3 label-align" for="Email">E-mail<span
							class="required">*</span>
					</label>
					<div class="col-md-6 col-sm-6 ">
						<input type="text" id="Email" name="Email" required="required" class="form-control"
							value="{{usuario.Email}}">
					</div>
				</div>
				<div class="item form-group">
					<label class="col-form-label col-md-3 col-sm-3 label-align" for="Telefono">Teléfono<span
							class="required">*</span>
					</label>
					<div class="col-md-6 col-sm-6 ">
						<input type="text" id="Telefono" name="Telefono" required="required" class="form-control"
							value="{{usuario.Telefono}}">
					</div>
				</div>
				<div class="item form-group">
					<label class="col-form-label col-md-3 col-sm-3 label-align" for="login">Login<span
							class="required">*</span>
					</label>
					<div class="col-md-6 col-sm-6 ">
						<input type="text" id="login" name="login" required="required" class="form-control"
							value="{{usuario.login}}">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-form-label col-md-3 col-sm-3 label-align">Categoría</label>
					<div class="col-md-6 col-sm-6 ">
						<select class="select2_single form-control" tabindex="-1" name="idCategoria">
							{{#each categoria}}
							{{#if (if_equal id_Categoria ../usuario.idCategoria) }}
							<option value="{{id_Categoria}}" selected>{{categoria}}</option>
							{{else}}
							<option value="{{id_Categoria}}">{{categoria}}</option>
							{{/if}}
							{{/each}}

						</select>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-form-label col-md-3 col-sm-3 label-align">Sucursal</label>
					<div class="col-md-6 col-sm-6 ">
						<select class="select2_single form-control" tabindex="-1" name="idSucursal">
							{{#each sucursal}}
							{{#if (if_equal id_Sucursal ../usuario.idSucursal) }}
							<option value="{{id_Sucursal}}" selected>{{direccion}}</option>
							{{else}}
							<option value="{{id_Sucursal}}">{{direccion}}</option>
							{{/if}}
							{{/each}}
						</select>
					</div>
				</div>
				<div class="item form-group">
					<label class="col-form-label col-md-3 col-sm-3 label-align" for="titulo">Título<span
							class="required">*</span>
					</label>
					<div class="col-md-6 col-sm-6 ">
						<input type="text" id="titulo" name="titulo" required="required" class="form-control"
							value="{{usuario.titulo}}">
					</div>
				</div>
				<div class="ln_solid"></div>
				<div class="form-group">
					<div class="col-md-9 col-sm-9  offset-md-3">
						<!--<button type="button" class="btn btn-primary">Cancelar</button>-->
						<button type="submit" class="btn btn-success">Actualizar</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>