              <div class="col-md-6 col-sm-6  ">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Paises<small>Pais donde estara ubicado el proyecto en desarrollo</small></h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Nombre</th>
                          <th>Opciones</th>
                        </tr>
                      </thead>
                      <tbody>
                           {{#if pais }}
                                {{#each paises}}
                                    <tr > 
                                        <th scope="row">{{id}}</th>
                                        <td>{{pais}}</td>
                                        <td style="padding: .15rem;">
                                            <a style="padding: .25rem;" type="button" class="btn btn-danger btn-xs" href="../../pais/delete/{{id}}">
                                                Borrar 
                                            </a>
                                            <a style="padding: .25rem;" type="button" class="btn btn-secondary btn-xs" href="../../pais/edit/{{id}}">
                                                Editar
                                            </a>
                                        </td>
                                    </tr>
                                {{/each}} 
                           {{else}}
                                {{#each paises}}
                                    <tr > 
                                        <th scope="row">{{id}}</th>
                                        <td>{{pais}}</td>
                                        <td style="padding: .15rem;">
                                            <a style="padding: .25rem;" type="button" class="btn btn-danger btn-xs" href="pais/delete/{{id}}">
                                                Borrar 
                                            </a>
                                            <a style="padding: .25rem;" type="button" class="btn btn-secondary btn-xs" href="pais/edit/{{id}}">
                                                Editar
                                            </a>
                                        </td>
                                    </tr>
                                {{/each}} 
                            {{/if}}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
    <div class="col-md-6 ">
        					<div class="x_panel">
								<div class="x_title">
                                      {{#if pais }}
                                        <h2>Actualizar Pais <small>{{pais.pais}}</small></h2>
                                      {{else}}
                                        <h2>Registrar Pais <small>Se podra seleccionar el pais en el ingreso de un proyecto</small></h2>
                                      {{/if}}
									
									<div class="clearfix"></div>
								</div>
								<div class="x_content">

									<!-- start form for validation -->
                                    {{#if pais }}
                                        <form id="demo-form" data-parsley-validate action="/mantenedores/editPais" method="POST">
                                    {{else}}
                                        <form id="demo-form" data-parsley-validate action="/mantenedores/addPais" method="POST">
                                    {{/if}}
									
                                    {{#if pais }}
                                        <label for="ID Pais">Id Pais* :</label>
										<input type="text" id="id" class="form-control" value="{{pais.id}}" name="id" readonly />
                                    {{/if}}
										<label for="Nombre Pais">Nombre Pais * :</label>
										<input type="text" id="name" class="form-control" value="{{pais.pais}}" name="name" required />

									<br />
                                    {{#if pais }}
                                     <button  type="submit" class="btn btn-warning btn-block">
                                                Actualizar
                                    </button>
                                    {{else}}
                                    <button  type="submit" onvolumechange=""class="btn btn-success btn-block">
                                                Ingresar
                                            </button>
                                    {{/if}}
									    

									</form>
									<!-- end form for validations -->

								</div>
							</div>
    </div>