<div class="x_panel">
    <div class="x_title">
        <h2>Información moneda UF <!--<small>Tener los valores actualizados para un correcto funcionamiento de los
                Dashboard</small>--></h2>
        <ul class="nav navbar-right panel_toolbox">
            <button type="button" class="btn btn-success btn-xs"><a class="close-link"
                    href="/mantenedores/valorufmanual"> Actualizar Manual</a></button>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
                        class="fa fa-clock-o"></i></a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {{#each annios}}
                    <a class="dropdown-item" href="/mantenedores/valoruf?anio={{this}}">{{this}}</a>
                    {{/each}}
                </div>
            </li>
            <!--<li><a class="close-link" href="/mantenedores/valorufmanual"><i class="fa fa-hand-o-down"></i></a>    -->
            <!--<li><a class="close-link"><i class="fa fa-close"></i></a>-->
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <br />
        <form class="form-horizontal form-label-left">
        </form>
    </div>
    {{#if actualizarUF}}

    <form id="demo-form" data-parsley-validate action="/mantenedores/actualizarUF" method="POST">
        <input type="hidden" name="year" id="year" value="{{year}}">
        <label>Existen valores de Uf no ingresadas.</label>
        <button type="submit" class="btn btn-success btn-xs"> Actualizar </button>
    </form>

    {{/if}}
    <table class="table table-hover" id="example" class="display">
        <thead>
            <tr>
                <th style="text-align: center;">Fecha</th>
                <th style="text-align: center;">Moneda</th>
                <th style="text-align: center;">Indicador</th>
                <th style="text-align: center;">Actual</th>
            </tr>
        </thead>
        <tbody>
            {{#each indicacoresCL}}
            <tr>
                <th style="text-align: center;">{{@key}}</th>
                <td style="text-align: center;">{{nombre}}</td>
                <td style="text-align: center;">{{valor}}</td>
                <td style="text-align: center;">{{valor_UF}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>