<!doctype html>
<html lang="en">
<style>
    .highcharts-figure .chart-container {
  width: 300px; 
  height: 200px;
  float: left;
}

.highcharts-figure,
.highcharts-data-table table {
  margin: 0 auto;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}

@media (max-width: 600px) {
  .highcharts-figure,
  .highcharts-data-table table {
    width: 100%;
  }

  .highcharts-figure .chart-container {
    width: 300px;
    float: none;
    margin: 0 auto;
  }
}
    .panel-primary {
                        border-color: #000000;
                    }

    .panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #000000;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}

    .panel-primary>.panel-heading {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
    }
    .panel-heading {
        padding: 10px 15px;
        border-bottom: 1px solid transparent;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }

    .col-form-label {
    padding-top: calc(0.2rem + 1px);
    padding-bottom: calc(0.2rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}
.close {
            float: right;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1;
            color: #000;
            text-shadow: 0 1px 0 #fff;
            opacity: .5;
        }
        .close:not(:disabled):not(.disabled) {
            cursor: pointer;
        }
        button.close {
            padding: 0;
            background-color: transparent;
            border: 0;
            -webkit-appearance: none;
        }
</style>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css"> -->
    
    <!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"> </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    


</head>
<body>
    
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>{{proyecto.year}}-{{proyecto.code}} : {{proyecto.nombre}}</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <a type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#ingresar"> <i class="fa fa-archive" aria-hidden="true"> Ingresar Avance Proyecto</i> </a> 

                        <div class="modal fade" id="ingresar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h6 class="modal-title" id="exampleModalLongTitle">Ingresar % Avance</h6>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group row">
                                            <label for="staticEmail" class="col-sm-2 col-form-label">Porcentaje</label>
                                            <div class="col-sm-10">
                                                <input type="text"  class="form-control" id="porcentajeAvances" name="porcentajeAvances" value="" onchange="cargaValoresAvance();">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="staticEmail" class="col-sm-2 col-form-label">Comentario</label>
                                            <div class="col-sm-10">
                                                <textarea class="form-control" id="comentario" name="comentario" rows="3"></textarea>
                                            </div>
                                        </div>
                                        <table id="exampleIndicadoresEconomicosAvance" class="table table-striped table-bordered" style="width:100%;padding-top: 0.3rem;padding-bottom: 0.3rem;">
                                            <tbody>
                                                <tr>
                                                    <td style="padding-top: 0.3rem;padding-bottom: 0.3rem;">Moneda</td>
                                                    <td style="padding-top: 0.3rem;padding-bottom: 0.3rem;">
                                                        <input type="text" readonly class="form-control" id="costoAvanceMoneda" name="costoAvanceMoneda" value="">
                                                        </td>
                                                </tr>
                                                <tr>
                                                    <td style="padding-top: 0.3rem;padding-bottom: 0.3rem;">Costos Estimados Según Avance</td>
                                                    <td style="padding-top: 0.3rem;padding-bottom: 0.3rem;">
                                                        <input type="text" readonly class="form-control" id="costoAvanceUF" name="costoAvanceUF" value="">
                                                        </td>
                                                </tr>
                                                <tr>
                                                    <td style="padding-top: 0.3rem;padding-bottom: 0.3rem;">Desviacion Costo</td>
                                                    <td style="padding-top: 0.3rem;padding-bottom: 0.3rem;">
                                                        <input type="text" readonly class="form-control" id="desvCostoAvanceUF" name="desvCostoAvanceUF" value="">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="padding-top: 0.3rem;padding-bottom: 0.3rem;">% Desviación</td>
                                                    <td style="padding-top: 0.3rem;padding-bottom: 0.3rem;">
                                                        <input type="text" readonly class="form-control" id="porcAvanceDesv" name="porcAvanceDesv" value="">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                            <button class="btn btn-success btn-sm" onclick="cargarAvanceProyecto({{proyecto.id}});"> Ingresar </button>          
                                    </div>
                                </div>
                             </div>
                        </div>
                    </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="resultados-tab" data-toggle="tab" href="#resultados" role="tab" aria-controls="resultados" aria-selected="true">Resultados</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="cinterno-tab" data-toggle="tab" href="#cinterno" role="tab" aria-controls="cinterno" aria-selected="false">Costo Interno</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="cexterno-tab" data-toggle="tab" href="#cexterno" role="tab" aria-controls="cexterno" aria-selected="false">Costo Externo</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="facturacion-tab" data-toggle="tab" href="#facturacion" role="tab" aria-controls="facturacion" aria-selected="false">Facturación</a>
                </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="resultados" role="tabpanel" aria-labelledby="resultados-tab">
                    &nbsp;
                    <div class="row">
                        <div class="col-2">
                            <div class="panel  panel-primary">
                                <div class="panel-heading"> <i class="fa fa-university" aria-hidden="true"> Datos Generales </i></div>
                                    <div class="panel-body">
                                        <div class="row">
                                                <label class="col-form-label col-md-5 label-align" for="moneda">
                                                        <b> Moneda</b>
                                                </label>
                                                <select class="col-form-label col-md-4" name="idMoneda" id="idMoneda" onchange="ActualizaMonedas(this.value);">
                                                         <option value="4" {{selectUF}}>UF</option>
                                                         <option value="2" {{selectUSD}}>USD</option>
                                                         <!-- <option value="10"{{selectSOL}}>SOL</option> -->

                                                </select>
                                                <input type="hidden" name="idProyecto" id="idProyecto" value="{{proyecto.id}}">
                                        </div>

                                        <div class="row">
                                                <label class="col-form-label col-md-5 label-align" for="Estado">
                                                    
                                                        <b> Estado</b>
                                                    
                                                </label>
                                                <label class="col-form-label col-md-7" for="nombre">{{proyecto.descripcion}}</label>
                                        </div>
                                        <div class="row">
                                                <label class="col-form-label col-md-5 label-align" for="cliente">
                                                    
                                                        <b> Cliente</b>
                                                </label>
                                                <label class="col-form-label col-md-7 " for="nombre">{{proyecto.nomCliente}}</label>
                                        </div>
                                        <div class="row">
                                                    <label class="col-form-label col-md-5 label-align" for="tipologia">
                                                        
                                                            <b> Tipología</b>
                                                        </label> 
                                                    <label class="col-form-label col-md-7 " for="nombre">{{proyecto.tipologia}}</label>
                                        </div>
                                        <div class="row">
                                                    <label class="col-form-label col-md-5 label-align" for="servicio">
                                                         
                                                             <b> Servicio</b>
                                                         
                                                         </label> 
                                                    <label class="col-form-label col-md-7 " for="nombre">{{proyecto.tipoServicio}}</label>
                                        </div>
                                        <div class="row">
                                                <label class="col-form-label col-md-5 label-align" for="director">
                                                    
                                                        <b> Director</b>
                                                        </label> 
                                                <label class="col-form-label col-md-7 " for="nombre">{{proyecto.nomDire}}</label>
                                            </div>
                                        <div class="row">
                                                <label class="col-form-label col-md-5 label-align" for="jdp">
                                                    
                                                        <b> Jefe Proyecto</b></label>
                                                <label class="col-form-label col-md-7 " for="nombre">{{proyecto.nomJefe}}</label>
                                        </div>
                                        <div class="row">
                                                    <label class="col-form-label col-md-5 label-align" for="tipologia">
                                                        
                                                            <b> Superficie m<sup>2</sup></b>
                                                    </label>
                                                    <label class="col-form-label col-md-7 " for="superficie" id="superficie">{{proyecto.superficie_pre}}</label>
                                        </div>
                                        <div class="row">
                                                    <label class="col-form-label col-md-5 label-align" for="tarifa">
                                                        
                                                            <b> Tarifa UF/m<sup>2</sup></b>
                                                            </label>
                                                    <label class="col-form-label col-md-7 " for="nombre">{{proyecto.valor_metro_cuadrado}}</label>
                                        </div>
                                        <div class="row">
                                                    <label class="col-form-label col-md-5 label-align" for="numplanos">
                                                        
                                                            <b> Nº Planos</b>
                                                            </label>
                                                    <label class="col-form-label col-md-7 " for="planos" id="planos">{{proyecto.num_plano_estimado}}</label>
                                        </div>
                                        <div class="row">
                                                    <label class="col-form-label col-md-5 label-align" for="numplanos">
                                                            <b>Valor Total Proyecto [{{moneda}}]</b>
                                                            </label>
                                                    <label class="col-form-label col-md-7 " for="planos" id="totalProyecto2"></label>
                                        </div>
                                        <div class="row">
                                                    <label class="col-form-label col-md-5 label-align" for="numplanos">
                                                            <b>Costo Esperado[{{moneda}}]</b>
                                                            </label>
                                                    <label class="col-form-label col-md-7 " for="planos" id="costoTotalEsp">

                                                                {{#if (if_equal moneda "UF")}}
                                                                    {{costoEsperado}}
                                                                {{/if}}
                                                                {{#if (if_equal moneda "US$")}}
                                                                    {{costoEsperadoDolar}}
                                                                {{/if}}

                                                    </label>
                                        </div>
                                        
                                        <div class="row">
                                          <div class="col-3">

                                          </div>
                                          <div class="col-4">
                                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#completar">Completar</button>
                                                <div class="modal fade" id="completar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h6 class="modal-title" id="exampleModalLongTitle">Completar Campos</h6>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                            
                                                            <table id="completar" class="table table-striped table-bordered" style="width:100%;padding-top: 0.3rem;padding-bottom: 0.3rem;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="padding-top: 0.3rem;padding-bottom: 0.3rem;">Superficie</td>
                                                                        <td style="padding-top: 0.3rem;padding-bottom: 0.3rem;">
                                                                            <input type="text"  class="form-control" id="uptSuperficie" name="uptSuperficie" value="{{proyecto.superficie_pre}}">
                                                                            </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="padding-top: 0.3rem;padding-bottom: 0.3rem;">Tarifa UF/m2</td>
                                                                        <td style="padding-top: 0.3rem;padding-bottom: 0.3rem;">
                                                                            <input type="text"  class="form-control" id="uptTarifa" name="uptTarifa" value="{{proyecto.valor_metro_cuadrado}}">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="padding-top: 0.3rem;padding-bottom: 0.3rem;">Nº Planos</td>
                                                                        <td style="padding-top: 0.3rem;padding-bottom: 0.3rem;">
                                                                            <input type="text"  class="form-control" id="uptPlanos" name="uptPlanos" value="{{proyecto.num_plano_estimado}}">
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                            </div>
                                                            <div class="modal-footer">
                                                                    <button class="btn btn-success btn-sm" onclick="ActualizarProyecto({{proyecto.id}});"> Actualizar </button>          
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                          </div>
                                          <div class="col-4">

                                          </div>
                                           
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row">
                                <div class="col-4">
                                    <div class="panel  panel-primary">
                                        <div class="panel-heading"><i class="fa fa-pie-chart" aria-hidden="true"> Indicadores de Productividad </i></div>
                                            <div class="panel-body">
                                                 <table id="iproductividad" class="table table-striped table-bordered" style="width:100%;padding: 0.1rem 0.1rem;">
                                                    <tbody>
                                                        <tr>
                                                            <td style=" text-align: right;"> Costo {{moneda}} / m<sup>2</sup></td>
                                                            <td id="costo_m2"></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="text-align: right;">Costo {{moneda}} / plano</td>
                                                            <td  id="costo_plano"></td>
                                                            <input type="hidden" value="" name="dato0" id="dato0">
                                                            <input type="hidden" value="" name="dato1" id="dato1">
                                                        </tr>
                                                        <tr>
                                                            <td style="text-align: right;">Hrs Dib/ plano</td>
                                                            <td id="hrsDibPlano"></td>
                                                        </tr>
                                                         <tr>
                                                            <td style="text-align: right;">m<sup>2</sup> / plano</td>
                                                            <td  id="m2_plano"></td>
                                                         </tr>
                                                          <tr>
                                                            <td style="text-align: right;">Nº Hrs Mod.</td>
                                                            <td>{{modificaciones.horas}}</td>
                                                          </tr>
                                                    </tbody>
                                                 </table>
                                            </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="panel  panel-primary">
                                        <div class="panel-heading"><i class="fa fa-pie-chart" aria-hidden="true"> Indicadores Económicos </i></div>
                                        <div class="panel-body">
                                                 <table id="ieconomicos" class="table table-striped table-bordered" style="width:100%;padding: 0.1rem 0.1rem;">
                                                    <tbody>
                                                        <tr>
                                                            <td style="text-align: right;">Valor del Proyecto [{{moneda}}]</td>
                                                            <td id="valorProyecto">
                                                                {{#if (if_equal moneda "UF")}}
                                                                    {{proyecto.valor_proyecto}}
                                                                {{/if}}
                                                                {{#if (if_equal moneda "US$")}}
                                                                    {{proGeneral.valorUSD}}
                                                                {{/if}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="text-align: right;">Adicionales [{{moneda}}]</td>
                                                            <td id="adicionalesProyecto"></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="text-align: right;">Total Proyecto [{{moneda}}]</td>
                                                            <td id="totalProyecto"></td>
                                                        </tr>
                                                        <!--
                                                             <tr>
                                                            <td style="text-align: right;">Costo Esperado [{{moneda}}]</td>
                                                            <td id="costoTotalEsp">
                                                                {{#if (if_equal moneda "UF")}}
                                                                    {{costoEsperado}}
                                                                {{/if}}
                                                                {{#if (if_equal moneda "US$")}}
                                                                    {{costoEsperadoDolar}}
                                                                {{/if}}    
                                                            </td>
                                                         </tr>
                                                         -->
                                                          <tr>
                                                                <td style="text-align: right;">Costo Total [{{moneda}}]</td>
                                                                <td  id="costoTotalPro"></td>
                                                          </tr>
                                                          <tr>
                                                                <td style="text-align: right;">Margen [{{moneda}}] (Valor Total Proyecto)</td>
                                                                <td  id="margenPro"></td>
                                                        </tr>
                                                    </tbody>
                                                 </table>
                                            </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="panel  panel-primary">
                                        <div class="panel-heading"><i class="fa fa-pie-chart" aria-hidden="true"> Indicadores Financieros  </i></div>
                                            <table id="ifinancieros" class="table table-striped table-bordered" style="width:100%;padding: 0.1rem 0.1rem;">
                                                    <tbody>
                                                        <tr>
                                                           <td style="text-align: right;">Total Facturado [{{moneda}}]</td>
                                                            <td id="totalFacturado">{{totalFacturado}}</td>
                                                        </tr>
                                                        <tr>
                                                           <td style="text-align: right;">Total Pagado [{{moneda}}]</td>
                                                            <td id="totalPagado">{{totalPagado}}</td>
                                                        </tr>
                                                        <!--
                                                        <tr>
                                                            <td style="text-align: right;">Costo Esperado [{{moneda}}]</td>
                                                            <td id="costoTotalEsp">
                                                                {{#if (if_equal moneda "UF")}}
                                                                    {{costoEsperado}}
                                                                {{/if}}
                                                                {{#if (if_equal moneda "US$")}}
                                                                    {{costoEsperadoDolar}}
                                                                {{/if}}    
                                                            </td>
                                                         </tr>-->
                                                        
                                                         <tr>
                                                            <td style="text-align: right;">Margen [{{moneda}}] (Facturado)</td>
                                                            <td id="margenProFac"></td>
                                                         </tr>
                                                         
                                                          <tr>
                                                               
                                                          </tr>
                                                    </tbody>
                                            </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                 
                                    <div class="col-6">
                                        <figure class="highcharts-figure">
                                        <div id="container-speed" class="chart-container"></div>
                                        </figure>
                                    </div>
                                    <div class="col-6">
                                        <figure class="highcharts-figure">
                                        <div id="container-rpm" class="chart-container"></div>
                                        </figure>
                                    </div>
                            </div>
                            <div class="row">
                                                            <br>
                            <table id="example2a" class="table table-striped table-bordered" style="width:100%;padding-top: 0.3rem;padding-bottom: 0.3rem;">
                                        <thead>
                                            <tr>
                                                <th style="padding-top: 0.3rem;padding-bottom: 0.3rem;"></th>
                                                <th style="padding-top: 0.3rem;padding-bottom: 0.3rem;">Interno [hrs]</th>
                                                <th style="padding-top: 0.3rem;padding-bottom: 0.3rem;">C. Int. [{{moneda}}]</th>
                                                <th style="padding-top: 0.3rem;padding-bottom: 0.3rem;">Externo [hrs]</th>
                                                <th style="padding-top: 0.3rem;padding-bottom: 0.3rem;">C. Ext. [{{moneda}}]</th>
                                                <th style="padding-top: 0.3rem;padding-bottom: 0.3rem;">Totales [hrs]</th>
                                                <th style="padding-top: 0.3rem;padding-bottom: 0.3rem;">Totales [{{moneda}}]</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each colaboradoresCentroCostoGeneral}}
                                             <tr>
                                                <td style="padding-top: 0.3rem;padding-bottom: 0.3rem;">{{nombre}}</td>
                                                <td style="padding-top: 0.3rem;padding-bottom: 0.3rem;">{{horas}}</td>
                                                <td style="padding-top: 0.3rem;padding-bottom: 0.3rem;">
                                                    {{#if (if_equal ../moneda "UF") }}
                                                        {{horasCosto}}
                                                    {{/if}}
                                                    {{#if (if_equal ../moneda "US$") }}
                                                        {{horasCostoDolar}}
                                                    {{/if}}
                                                    </td>
                                                <td style="padding-top: 0.3rem;padding-bottom: 0.3rem;">{{externo}}</td>
                                                <td style="padding-top: 0.3rem;padding-bottom: 0.3rem;">{{costoUFExterno}}</td>
                                                <td style="padding-top: 0.3rem;padding-bottom: 0.3rem;">{{total}}</td>
                                                <td style="padding-top: 0.3rem;padding-bottom: 0.3rem;">
                                                     {{#if (if_equal ../moneda "UF") }}
                                                        {{costoTotal}}
                                                    {{/if}}
                                                    {{#if (if_equal ../moneda "US$") }}
                                                        {{costoTotalDolar}}
                                                    {{/if}}

                                                </td>
                                            </tr>
                                             {{/each}}
                                         </tbody>
                                    </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                        </div>
                        <div class="col-6">
                        </div>
                    </div>

                     <div class="row">
                        <div class="col-6">
                            <div class="panel  panel-primary">
                                <div class="panel-heading"><i class="fa fa-pie-chart" aria-hidden="true">  Marcas de Avance </i></div>
                                    <div class="panel-body">
                                        <table id="exampleIndicadoresAvances" class="table table-striped table-bordered" style="width:100%;padding-top: 0.3rem;padding-bottom: 0.3rem;">
                                            <thead>
                                                <tr>
                                                    <th style="padding-top: 0.3rem;padding-bottom: 0.3rem;">Moneda</th>
                                                    <th style="padding-top: 0.3rem;padding-bottom: 0.3rem;">Fecha</th>
                                                    <th style="padding-top: 0.3rem;padding-bottom: 0.3rem;">Avance [%]</th>
                                                    <th style="padding-top: 0.3rem;padding-bottom: 0.3rem;">Uso Costo Esperado [%]</th>
                                                    
                                                    <th style="padding-top: 0.3rem;padding-bottom: 0.3rem;">Margen Pagado [%]</th>
                                                    <th style="padding-top: 0.3rem;padding-bottom: 0.3rem;">Costo Estimado s/avance [{{moneda}}]</th>
                                                    <th style="padding-top: 0.3rem;padding-bottom: 0.3rem;">Costo Real [{{moneda}}]</th>
                                                    <th style="padding-top: 0.3rem;padding-bottom: 0.3rem;">Desv Costo [{{moneda}}]</th>
                                                    <th style="padding-top: 0.3rem;padding-bottom: 0.3rem;">Desviación [%]</th>
                                                    
                                                    
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#each indicadoresAvancesUser}}
                                                <tr>
                                                    <td style="padding-top: 0.3rem;padding-bottom: 0.3rem;">{{moneda}}</td>
                                                    <td style="padding-top: 0.3rem;padding-bottom: 0.3rem;">{{fecha}}</td>
                                                    <td style="padding-top: 0.3rem;padding-bottom: 0.3rem;">{{porcentaje_avance}}</td>
                                                    <td style="padding-top: 0.3rem;padding-bottom: 0.3rem;">{{costo_esperado}}</td>
                                                    <td style="padding-top: 0.3rem;padding-bottom: 0.3rem;">{{margen_pagado}}</td>
                                                    <td style="padding-top: 0.3rem;padding-bottom: 0.3rem;">{{costoEstAvance}}</td>
                                                    <td style="padding-top: 0.3rem;padding-bottom: 0.3rem;">{{costo}}</td>
                                                    <td style="padding-top: 0.3rem;padding-bottom: 0.3rem;">{{desvCosto}}</td>
                                                    <td style="padding-top: 0.3rem;padding-bottom: 0.3rem;">{{porcDev}}</td>
                                                    
                                                </tr>
                                                 {{/each}}
                                            </tbody>
                                        </table>
                                    </div>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="row">
                                <div class="col-1">

                                </div>
                                <div class="col-5">
                                        <div class="chart-container">
                                                <canvas id="barChartA"></canvas>
                                            </div>
                                    </div>
                                    <div class="col-5">
                                        <div class="chart-container">
                                                <canvas id="barChartB"></canvas>
                                            </div>
                                    </div>
                                  
                            </div>
                        </div>
                     </div>
                </div>
                <div class="tab-pane fade" id="cinterno" role="tabpanel" aria-labelledby="cinterno-tab">
                   &nbsp;
                   <div class="row">
                       <div class="col-5">
                           <table id="example" class="table table-striped table-bordered" style="width:100%;padding-top: 0.3rem;padding-bottom: 0.3rem;">
                                <thead>
                                    <tr>
                                        <th style="padding-top: 0.3rem;padding-bottom: 0.3rem;">Colaborador</th>
                                        <th style="padding-top: 0.3rem;padding-bottom: 0.3rem;">Nº   [hrs]</th>
                                        <th style="padding-top: 0.3rem;padding-bottom: 0.3rem;">Nº Extras [hrs]</th>
                                        <th style="padding-top: 0.3rem;padding-bottom: 0.3rem;">Total    [hrs]</th>
                                        <th style="padding-top: 0.3rem;padding-bottom: 0.3rem;">Costo [{{moneda}}]</th>
                                        <th style="padding-top: 0.3rem;padding-bottom: 0.3rem;">Participación [%]</th>
                                    </tr>
                                </thead>
                                 <tbody>
                                    {{#each colaboradores}}
                                        <tr>
                                            <td style="padding-top: 0.3rem;padding-bottom: 0.3rem;">{{nombre}}</td>
                                            <td style="padding-top: 0.3rem;padding-bottom: 0.3rem;">{{horas}}</td>
                                            <td style="padding-top: 0.3rem;padding-bottom: 0.3rem;">{{horasextras}}</td>
                                            <td style="padding-top: 0.3rem;padding-bottom: 0.3rem;">{{horastotal}}</td>
                                            <td style="padding-top: 0.3rem;padding-bottom: 0.3rem;">

                                                {{#if (if_equal ../moneda "UF") }}
                                                    {{valorUF}}
                                                {{/if}}
                                                {{#if (if_equal ../moneda "US$") }}
                                                    {{valorDolar}}
                                                {{/if}}
                                                </td>
                                            <td style="padding-top: 0.3rem;padding-bottom: 0.3rem;">{{porcentaje}}</td>
                                        </tr>
                                    {{/each}}
                                
                                 </tbody>
                           </table>
                           <br>
                            <table id="example2" class="table table-striped table-bordered" style="width:100%;padding-top: 0.3rem;padding-bottom: 0.3rem;">
                                <thead>
                                    <tr>
                                        <th style="padding-top: 0.3rem;padding-bottom: 0.3rem;"></th>
                                        <th style="padding-top: 0.3rem;padding-bottom: 0.3rem;">Interno [hrs]</th>
                                        <th style="padding-top: 0.3rem;padding-bottom: 0.3rem;">Costo [{{moneda}}]</th>
                                       <!--  <th style="padding-top: 0.3rem;padding-bottom: 0.3rem;">Externo</th> -->
                                       <!--  <th style="padding-top: 0.3rem;padding-bottom: 0.3rem;">Totales</th> -->
                                    </tr>
                                </thead>
                                 <tbody>
                                    {{#each colaboradoresCentroCosto}}
                                        <tr>
                                            <td style="padding-top: 0.3rem;padding-bottom: 0.3rem;">{{nombre}}</td>
                                            <td style="padding-top: 0.3rem;padding-bottom: 0.3rem;">{{horas}}</td>
                                            <td style="padding-top: 0.3rem;padding-bottom: 0.3rem;">
                                                    {{#if (if_equal ../moneda "UF") }}
                                                    {{horasCosto}}
                                                    {{/if}}
                                                    {{#if (if_equal ../moneda "US$") }}
                                                    {{horasCostoDolar}}
                                                    {{/if}}
                                                </td>
                                            <!-- <td style="padding-top: 0.3rem;padding-bottom: 0.3rem;">{{externo}}</td> -->
                                            <!-- <td style="padding-top: 0.3rem;padding-bottom: 0.3rem;">{{total}}</td> -->
                                        </tr>
                                    {{/each}}
                                
                                 </tbody>
                           </table>
                       </div>
                       <div class="col-7">
                           <div class="row">
                                <div class="chart-container">
                                    <canvas id="myChart"></canvas>
                                </div>
                           </div>
                           <div class="row">
                               <div class="col-2">

                               </div>
                               <div class="col-4">
                                    <div class="chart-container">
                                        <canvas id="barChart"></canvas>
                                    </div>
                               </div>
                               <div class="col-4">
                                    <div class="chart-container">
                                        <canvas id="barChart2"></canvas>
                                    </div>
                               </div>
                                <div class="col-2">

                               </div>
                           </div>
                       </div>
                   </div>
                </div>
                <div class="tab-pane fade" id="cexterno" role="tabpanel" aria-labelledby="cexterno-tab">
                                        &nbsp;
                    <div class="row">
                            <div class="col-9">
                                <table class="table table-striped table-bordered" id="tablaCexternos">
                                <thead>
                                    <tr>
                                        <th>Proveedor</th>
                                        <th>Especialidad</th>
                                        <th>Orden de Compra</th>
                                        <th>Descripción</th>
                                        <th>Nº [hrs]</th>
                                        <th>Costo [$]</th>
                                        <th>Costo [{{moneda}}]</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each cexternos}}
                                        <tr>
                                            <td>{{nNombre}}</td>
                                            <td>{{ccosto}}</td>
                                            <td>{{numoc}}</td>
                                            <td>{{descripcion}}</td>
                                            <td>{{numhh}}</td>
                                            <td>{{costo}}</td>
                                            <td>{{totPro}}</td>
                                        </tr>
                                    {{/each}}
                                </tbody>
                                </table>
                            </div>
                            <div class="col-3">
                                 &nbsp;
                                     <div class="row">
                                         <div class="col-11">
                                            <div class="chart-container">
                                                <canvas id="barChart3"></canvas>
                                            </div>
                                         </div>
                                     </div>
                                     <div class="row">
                                         <div class="col-11">
                                            <div class="chart-container">
                                                <canvas id="barChart4"></canvas>
                                            </div>
                                         </div>
                                     </div>
                            </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="facturacion" role="tabpanel" aria-labelledby="facturacion-tab">
                    &nbsp;
                        <table class="table table-striped table-bordered" id="tablaFacturas">
                                <thead>
                                    <tr>
                                        <th>Solicitó</th>
                                        <th>Monto [{{moneda}}]</th>
                                        <th>Valor [{{moneda}}]</th>
                                        <th>Facturación [%]</th>
                                        <th>Hito</th>
                                        <th>Nº Documento</th>
                                        <th>Fecha Emisión</th>
                                        <th>Fecha Depósito</th>
                                        <th>ROC</th>
                                        <th>Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each facturas}}
                                        <tr>
                                            <td>{{Nombre}}</td>
                                            <td>{{monto_a_facturar}}</td>
                                            <td>
                                                {{#if (if_equal ../moneda "UF") }}
                                                    {{uf_valor}}
                                                {{/if}}
                                                {{#if (if_equal ../moneda "US$") }}
                                                    {{dolar_valor}}
                                                {{/if}}
                                            </td>
                                            <td>{{porc_ppto}}</td>
                                            <td>{{tipoCobro}}</td>
                                            <td>{{num_factura}}</td>
                                            <td>{{fecha_factura}}</td>
                                            <td>{{fecha_pago}}</td>
                                            <td>{{roc}}</td>
                                            <td>{{estadoFac}}</td>
                                        </tr>
                                    {{/each}}
                                </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
 
 <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

 <script src="../../../template/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
 <script src="../../../template/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script> 
 <script src="../../../template/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>

<script>
    let valorPrimero = 0;
    var dataTable0 = $('#example').DataTable({
          "dom": "<'row'<'col-sm-12 col-md-6'><'col-sm-12 col-md-6'>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-12 col-md-5'><'col-sm-12 col-md-7'p>>",
                columnDefs: [
                        { className: 'text-center', targets: [0,1,2,3,4,5] },
                    ],
        language: {
          "decimal": "",
          "emptyTable": "No hay información",
          "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
          "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
          "infoFiltered": "(Filtrado de _MAX_ total entradas)",
          "infoPostFix": "",
          "thousands": ",",
          "lengthMenu": "Mostrar _MENU_ Entradas",
          "loadingRecords": "Cargando...",
          "processing": "Procesando...",
          "search": "Buscar:",
          "zeroRecords": "Sin resultados encontrados",
          "paginate": {
            "first": "Primero",
            "last": "Ultimo",
            "next": "Siguiente",
            "previous": "Anterior"
          }
        }
      });
      $('#exampleIndicadoresAvances').DataTable({
          "scrollX": true,
          "dom": "<'row'<'col-sm-12 col-md-6'><'col-sm-12 col-md-6'>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-12 col-md-5'><'col-sm-12 col-md-7'p>>",
                
                columnDefs: [
                        { className: 'text-center', targets: [0,1,2,3,4,5] },
                    ],
        language: {
          "decimal": "",
          "emptyTable": "No hay información",
          "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
          "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
          "infoFiltered": "(Filtrado de _MAX_ total entradas)",
          "infoPostFix": "",
          "thousands": ",",
          "lengthMenu": "Mostrar _MENU_ Entradas",
          "loadingRecords": "Cargando...",
          "processing": "Procesando...",
          "search": "Buscar:",
          "zeroRecords": "Sin resultados encontrados",
          "paginate": {
            "first": "Primero",
            "last": "Ultimo",
            "next": "Siguiente",
            "previous": "Anterior"
          }
        }
      });
      
     var dataTable2 = $('#example2').DataTable({
          "dom": "<'row'<'col-sm-12 col-md-6'><'col-sm-12 col-md-6'>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-12 col-md-5'><'col-sm-12 col-md-7'p>>",
        columnDefs: [
                        { className: 'text-center', targets: [0,1,2] },
                    ],
        language: {
          "decimal": "",
          "emptyTable": "No hay información",
          "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
          "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
          "infoFiltered": "(Filtrado de _MAX_ total entradas)",
          "infoPostFix": "",
          "thousands": ",",
          "lengthMenu": "Mostrar _MENU_ Entradas",
          "loadingRecords": "Cargando...",
          "processing": "Procesando...",
          "search": "Buscar:",
          "zeroRecords": "Sin resultados encontrados",
          "paginate": {
            "first": "Primero",
            "last": "Ultimo",
            "next": "Siguiente",
            "previous": "Anterior"
          }
        }
      });
var dataTable2a = $('#example2a').DataTable({
          "dom": "<'row'<'col-sm-12 col-md-6'><'col-sm-12 col-md-6'>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-12 col-md-5'><'col-sm-12 col-md-7'p>>",
        columnDefs: [
                        { className: 'text-center', targets: [0,1,2,3,4,5,6] },
                    ],
        language: {
          "decimal": "",
          "emptyTable": "No hay información",
          "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
          "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
          "infoFiltered": "(Filtrado de _MAX_ total entradas)",
          "infoPostFix": "",
          "thousands": ",",
          "lengthMenu": "Mostrar _MENU_ Entradas",
          "loadingRecords": "Cargando...",
          "processing": "Procesando...",
          "search": "Buscar:",
          "zeroRecords": "Sin resultados encontrados",
          "paginate": {
            "first": "Primero",
            "last": "Ultimo",
            "next": "Siguiente",
            "previous": "Anterior"
          }
        }
      });

     var dataTableFact = $('#tablaFacturas').DataTable({
          "dom": "<'row'<'col-sm-12 col-md-6'f><'col-sm-12 col-md-6'l>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-12 col-md-5'><'col-sm-12 col-md-7'p>>",
        language: {
          "decimal": "",
          "emptyTable": "No hay información",
          "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
          "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
          "infoFiltered": "(Filtrado de _MAX_ total entradas)",
          "infoPostFix": "",
          "thousands": ",",
          "lengthMenu": "Mostrar _MENU_ Entradas",
          "loadingRecords": "Cargando...",
          "processing": "Procesando...",
          "search": "Buscar:",
          "zeroRecords": "Sin resultados encontrados",
          "paginate": {
            "first": "Primero",
            "last": "Ultimo",
            "next": "Siguiente",
            "previous": "Anterior"
          }
        }
      });

     var dataTable3 =  $('#tablaCexternos').DataTable({
           "dom": "<'row'<'col-sm-12 col-md-6'><'col-sm-12 col-md-6'>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-12 col-md-5'><'col-sm-12 col-md-7'p>>",
                columnDefs: [
                        { className: 'text-center', targets: [0,1,2,3,4,5,6] },
                    ],
        language: {
          "decimal": "",
          "emptyTable": "No hay información",
          "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
          "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
          "infoFiltered": "(Filtrado de _MAX_ total entradas)",
          "infoPostFix": "",
          "thousands": ",",
          "lengthMenu": "Mostrar _MENU_ Entradas",
          "loadingRecords": "Cargando...",
          "processing": "Procesando...",
          "search": "Buscar:",
          "zeroRecords": "Sin resultados encontrados",
          "paginate": {
            "first": "Primero",
            "last": "Ultimo",
            "next": "Siguiente",
            "previous": "Anterior"
          }
        }
      });

$('#tablaCinternos').DataTable({
          "dom": "<'row'<'col-sm-12 col-md-6'f><'col-sm-12 col-md-6'l>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
        language: {
          "decimal": "",
          "emptyTable": "No hay información",
          "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
          "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
          "infoFiltered": "(Filtrado de _MAX_ total entradas)",
          "infoPostFix": "",
          "thousands": ",",
          "lengthMenu": "Mostrar _MENU_ Entradas",
          "loadingRecords": "Cargando...",
          "processing": "Procesando...",
          "search": "Buscar:",
          "zeroRecords": "Sin resultados encontrados",
          "paginate": {
            "first": "Primero",
            "last": "Ultimo",
            "next": "Siguiente",
            "previous": "Anterior"
          }
        }
      });

$(document).ready(function(){
    let valorPrimero = 0;
    $.ajax({
        url: "horas/{{proyecto.id}}",
        dataType: 'json',
        contentType: "application/json; charset=utf-8",
        method: "GET",
        success: function(data) {
            let fechas = [];
            let dataset = [];
            let labelsCentros = [];
            let labelsColor = [];
            let coloresCentro = [];
            let estado = false;
            for (var i in data) {
                fechas.push(data[i].fecha);
                for (var i2 in data[i].centro)
                {
                    let containsCentro = !!dataset.find(centro => {return centro.label === data[i].centro[i2].centro});
                    if (containsCentro === false)
                    {
                        dataset.push({
                            label : data[i].centro[i2].centro,
                            borderWidth: 1,
                            data : [],
                            backgroundColor:data[i].centro[i2].color
                        });
                        labelsCentros.push(data[i].centro[i2].centro);
                        labelsColor.push(data[i].centro[i2].color);

                        
                    }
                }
                if(estado === false)
                        {
                            coloresCentro = data[i].centroColores;
                            estado = true;
                        }

            }

            for (let c in dataset)
            {
                for (var i in data) {
                    let valor = 0;
                     for (var i2 in data[i].centro){
                         let containsCentro = !!data[i].centro.find(centro => {return centro.centro === dataset[c].label});

                          if (containsCentro === true)
                          {
                              let centro = data[i].centro.find(centro => {return centro.centro === dataset[c].label});
                              valor = centro.horas;
                          }
                     }
                    dataset[c].data.push(valor);
                }
            }
            

            var mostrar = $("#myChart");
            var mostrar2 = $("#barChart");
            var mostrar3 = $("#barChart2");

            var mostrar4 = $("#barChart3");
            var mostrar5 = $("#barChart4");
 
                const chart = new Chart(mostrar, {
                type: 'bar',
                data: {
                    labels: fechas,
                    datasets: dataset
                },
                options: {
                            plugins: {
                            title: {
                                display: true,
                                text: 'Distribución Esfuerzo Por Mes'
                            },
                            },
                            responsive: true,
                            scales: {
                            x: {
                                stacked: true,
                            },
                            y: {
                                stacked: true
                            }
                            }
                        }
                });
                       
           let valoresHH = [];
           let valoresHHCosto = [];

            for (let centros in labelsCentros)
            {
                dataTable2.rows().iterator('row', function(context, index){
                    var node = $(this.row(index).node()); 
                    
                    if (node.context.children[0].innerText != "TOTALES")
                    {
                        if (labelsCentros[centros] == node.context.children[0].innerText)
                        {
                            let auxHH = node.context.children[1].innerText;
                                auxHH = auxHH.replace(".","");
                                auxHH = auxHH.replace(",",".");
                                
                            valoresHH.push(auxHH);

                            let auxCosto = node.context.children[2].innerText;
                                auxCosto = auxCosto.replace(".","");
                                auxCosto = auxCosto.replace(",",".");

                            valoresHHCosto.push(auxCosto);
                        }
                    }
                });
            }

            var data = {
                        labels: labelsCentros,
                        datasets: [
                            {
                                fill: true,
                                backgroundColor: labelsColor,
                                data: valoresHH
                            }
                        ]
                    };
            var dataCosto = {
                        labels: labelsCentros,
                        datasets: [
                            {
                                fill: true,
                                backgroundColor: labelsColor,
                                data: valoresHHCosto
                            }
                        ]
                    };

            const chart2 = new Chart(mostrar2, {
                type: 'pie',
                data: data,
                options: {
                            plugins: {
                            title: {
                                display: true,
                                text: 'C.Interno Distribución TIEMPO [hrs]'
                            },
                            },
                            responsive: true
                        }
                });

            const chart3 = new Chart(mostrar3, {
                type: 'pie',
                data: dataCosto,
                options: {
                            plugins: {
                            title: {
                                display: true,
                                text: 'C. Interno Distribución COSTOS [{{moneda}}]'
                            },
                            },
                            responsive: true
                        }
                });

          // Recorrer la tabla de costos externos.

          let cExternos= [];

           dataTable3.rows().iterator('row', function(context, index){
                var node = $(this.row(index).node());

                const centroCostoExterno = !!cExternos.find(centro => {return centro.nombre === node.context.children[1].innerText });
                if (centroCostoExterno === false)
                {
                    let costoExterno = node.context.children[6].innerText.replace(".","");
                    cExternos.push({
                                        nombre :node.context.children[1].innerText ,
                                        color : "",
                                        horas : node.context.children[4].innerText,
                                        costo : costoExterno
                                });

                    const centroCostoExternoValor = cExternos.find(centro => {return centro.nombre === node.context.children[1].innerText });
                }
                else
                {
                    let costoExterno = node.context.children[6].innerText.replace(".","");

                    const centroCostoExternoValor = cExternos.find(centro => {return centro.nombre === node.context.children[1].innerText });

                    centroCostoExternoValor.horas =  parseFloat(centroCostoExternoValor.horas) +  parseFloat(node.context.children[4].innerText);
                    centroCostoExternoValor.costo =  parseFloat(centroCostoExternoValor.costo) +  parseFloat(costoExterno);
                }

           });

        let RocFacturado = 0;
        dataTableFact.rows().iterator('row', function(context, index){
                var node = $(this.row(index).node());
                  if (node.context.children[8].innerText === "SI" && node.context.children[9].innerText === "Pagada")
                  {
                    RocFacturado = parseFloat( RocFacturado) + parseFloat( node.context.children[1].innerText);
                  }

                });

        $("#adicionalesProyecto").html( parseFloat(RocFacturado).toFixed(2));



        //coloresCentro
        let labelsCentrosExterno = [];
        let labelsColorExterno = [];
        let labelsHHExterno = [];
        let labelsCostoExterno = [];

         for (let centros in cExternos)
         {
             for (let centro in coloresCentro)
             {
                 if (cExternos[centros].nombre === coloresCentro[centro].centroCosto)
                 {
                    cExternos[centros].color =  coloresCentro[centro].color;

                    
                 }
             }
             labelsCentrosExterno.push(cExternos[centros].nombre );
             labelsColorExterno.push(cExternos[centros].color );
             labelsHHExterno.push(cExternos[centros].horas );
            // labelsCostoExterno.push(cExternos[centros].costo );
            labelsCostoExterno.push(
                    new Intl.NumberFormat('de-DE').format((parseFloat(cExternos[centros].costo).toFixed(2)).replace(",","."))  
                 );

            

         }

         var dataCostoExternoHH = {
                        labels: labelsCentrosExterno,
                        datasets: [
                            {
                                fill: true,
                                backgroundColor: labelsColorExterno,
                                data: labelsHHExterno
                            }
                        ]
                    };

        var dataCostoExternoCosto = {
                        labels: labelsCentrosExterno,
                        datasets: [
                            {
                                fill: true,
                                backgroundColor: labelsColorExterno,
                                data: labelsCostoExterno
                            }
                        ]
                    };


           const chart4 = new Chart(mostrar4, {
                type: 'pie',
                data: dataCostoExternoHH,
                options: {
                            plugins: {
                            title: {
                                display: true,
                                text: 'C. Externo Distribución HORAS [hrs]'
                            },
                            },
                            responsive: true
                        }
                });

                const chart5 = new Chart(mostrar5, {
                type: 'pie',
                data: dataCostoExternoCosto,
                options: {
                            plugins: {
                            title: {
                                display: true,
                                text: 'C. Externo Distribución COSTOS [{{moneda}}]'
                            },
                            },
                            responsive: true
                        }
                });

            var mostrarA = $("#barChartA");
            var mostrarB = $("#barChartB");

           let valoresHHTotal = [];
           let valoresHHCostoTotal = [];
           let labelsCentrosTotal = [];
           let labelsColorTotal = [];

           dataTable2a.rows().iterator('row', function(context, index){
                var node = $(this.row(index).node()); 
                    
                    if (node.context.children[0].innerText != "TOTALES")
                    {
                        labelsCentrosTotal.push(node.context.children[0].innerText);
                        const centroColor = coloresCentro.find(centro => {return centro.centroCosto === node.context.children[0].innerText });
                        if (centroColor !== undefined)
                        {
                            labelsColorTotal.push(centroColor.color)
                        }
                        
                    }
                });
                
            let totalUF =0;
            let totalUFDib =0;
            let totalHrsDib =0;
            for (let centros in labelsCentrosTotal)
            {
                dataTable2a.rows().iterator('row', function(context, index){
                var node = $(this.row(index).node()); 
                    
                    let auxHHTotal = node.context.children[5].innerText;
                                auxHHTotal = auxHHTotal.replace(".","");
                                auxHHTotal = auxHHTotal.replace(",",".");

                    let auxHHCostoTotal = node.context.children[6].innerText;
                                auxHHCostoTotal = auxHHCostoTotal.replace(".","");
                                auxHHCostoTotal = auxHHCostoTotal.replace(",",".");

                    if (node.context.children[0].innerText != "TOTALES")
                    {
                        if (labelsCentrosTotal[centros] == node.context.children[0].innerText)
                        {
                            valoresHHTotal.push(auxHHTotal);
                            valoresHHCostoTotal.push(auxHHCostoTotal);
                        }

                        if ( node.context.children[0].innerText === "DIBUJO")
                        {
                            totalUFDib = auxHHCostoTotal;
                            totalHrsDib = auxHHTotal
                        }
                    }
                    else
                    {
                        totalUF = auxHHCostoTotal;
                    }
                    
                });
            }


            // mostrar informacion. 
            let valorSuperficie     = parseFloat($("#superficie").text());
            let valorNumPlanos      = parseFloat($("#planos").text()); 
            let valorDelProyecto    = parseFloat($("#valorProyecto").text());
            let valorCostoEsperado  = parseFloat($("#costoTotalEsp").text());
            let valorCostoEsperado2  = $("#costoTotalEsp").text();

            let valorProyectoFormato    = $("#valorProyecto").text();
            let valorProyectoAdicionalFormateado = $("#adicionalesProyecto").text();
            
            

            //$("#costo_m2").html( (parseFloat(totalUF / valorSuperficie).toFixed(2)).replace(".",",") );

            //console.log(totalUF);
            //console.log(valorSuperficie);

            $("#costo_m2").html(new Intl.NumberFormat('de-DE').format((parseFloat(totalUF / valorSuperficie).toFixed(3)).replace(",",".") ));
            $("#costo_plano").html(new Intl.NumberFormat('de-DE').format( (parseFloat( totalUF / valorNumPlanos).toFixed(2)).replace(",",".") ));
            $("#m2_plano").html(new Intl.NumberFormat('de-DE').format( (parseFloat( valorSuperficie / valorNumPlanos).toFixed(2)).replace(",",".")));
            $("#valorProyecto").html(new Intl.NumberFormat('de-DE').format((parseFloat(valorProyectoFormato).toFixed(2)).replace(",",".")));
            $("#adicionalesProyecto").html(new Intl.NumberFormat('de-DE').format((parseFloat(valorProyectoAdicionalFormateado).toFixed(2)).replace(",",".")));

            $("#hrsDibPlano").html( new Intl.NumberFormat('de-DE').format((parseFloat( totalHrsDib / valorNumPlanos).toFixed(2)).replace(",",".")));


            let formateoCostoToralPro = totalUF;

            //console.log(valorDelProyecto + "/// valorDelProyecto");
            //console.log(RocFacturado + "/// RocFacturado");
            $("#costoTotalPro").html( new Intl.NumberFormat('de-DE').format(  formateoCostoToralPro )); 

            $("#totalProyecto").html( parseFloat( valorDelProyecto + RocFacturado).toFixed(2));

            let valorTotalProyectoFormateado = $("#totalProyecto").text();
            $("#totalProyecto").html(new Intl.NumberFormat('de-DE').format((parseFloat(valorTotalProyectoFormateado).toFixed(2)).replace(",",".")));
            $("#totalProyecto2").html(new Intl.NumberFormat('de-DE').format((parseFloat(valorTotalProyectoFormateado).toFixed(2)).replace(",",".")));
            





            let totalProyectoRoc = valorDelProyecto + RocFacturado;

            let margenPro = parseFloat(totalProyectoRoc - totalUF).toFixed(2);

            
            
            let valorFormateadoCostoEsperado = valorCostoEsperado2.replace(".","").replace(",",".");
            

            let formulaRecUtilizado = parseFloat(totalUF * 100 / valorFormateadoCostoEsperado).toFixed(2); 

           // console.log("AQUI");

            let formulaMargenFacturada = 0; 
            
            let totalFacturaPagada = $("#totalPagado").text().replace(".","").replace(",",".");

            $("#margenProFac").html(new Intl.NumberFormat('de-DE').format(parseFloat(totalFacturaPagada - totalUF).toFixed(2)));
             if (formulaRecUtilizado > 100)
            {
                 $('#progressBar').css('width', "100%");
                $("#progressBar").removeClass("bg-info");
                $("#progressBar").addClass("bg-danger");
            }
            else if (formulaRecUtilizado < 75)
            {
                 $('#progressBar').css('width', formulaRecUtilizado + "%");
                $("#progressBar").removeClass("bg-info");
                $("#progressBar").addClass("bg-success");
            }
            else if (formulaRecUtilizado >= 75 && formulaRecUtilizado <= 100)
            {
                 $('#progressBar').css('width', formulaRecUtilizado + "%");
                $("#progressBar").removeClass("bg-info");
                $("#progressBar").addClass("bg-warning");
            }


           
            $('#progressBar').html(formulaRecUtilizado + "% del Costo Esperado");
            $("#dato0").val(formulaRecUtilizado);

            valorPrimero = formulaRecUtilizado;


            let margenFacturado = parseFloat( 100 - ((totalUF * 100 ) / totalFacturaPagada)).toFixed(2);

            $("#dato1").val(margenFacturado);

            if (margenFacturado >= 75){ $("#progressBar2").removeClass("bg-info"); $("#progressBar2").addClass("bg-success");}
            else if (margenFacturado < 75 && margenFacturado >= 65) { $("#progressBar2").removeClass("bg-info"); $("#progressBar2").addClass("bg-warning");}
            else {$("#progressBar2").removeClass("bg-info"); $("#progressBar2").addClass("bg-danger");}
            
            $('#progressBar2').html(margenFacturado + "% Margen Total Pagado");


            if (margenPro < 0)
            {
                // pintar rojo 
                $("#margenPro").css("color","red");
            }
            else
            {
                // pintar verde
                 $("#margenPro").css("color","green");
            }

            $("#margenPro").html(new Intl.NumberFormat('de-DE').format((parseFloat(margenPro).toFixed(2)).replace(",",".")));

            //$("#margenPro").html(margenPro);


            var dataTotal = {
                        labels: labelsCentrosTotal,
                        datasets: [
                            {
                                fill: true,
                                backgroundColor: labelsColorTotal,
                                data: valoresHHTotal
                            }
                        ]
                    };
            var dataCostoTotal = {
                        labels: labelsCentrosTotal,
                        datasets: [
                            {
                                fill: true,
                                backgroundColor: labelsColorTotal,
                                data: valoresHHCostoTotal
                            }
                        ]
                    };


            const chartA = new Chart(mostrarA, {
                type: 'pie',
                data: dataTotal,
                options: {
                            plugins: {
                            title: {
                                display: true,
                                text: 'Distribución HORAS [Hrs]'
                            },
                            },
                            responsive: true
                        }
                });

           const chartB = new Chart(mostrarB, {
                type: 'pie',
                data: dataCostoTotal,
                options: {
                            plugins: {
                            title: {
                                display: true,
                                text: 'Distribución COSTO [{{moneda}}]'
                            },
                            },
                            responsive: true
                        }
                });

                var gaugeOptions = {
                                    chart: {
                                        type: 'solidgauge'
                                    },

                                    title: null,
                                    pane: {
                                        center: ['50%', '85%'],
                                        size: '140%',
                                        startAngle: -90,
                                        endAngle: 90,
                                        background: {
                                        backgroundColor:
                                            Highcharts.defaultOptions.legend.backgroundColor || '#EEE',
                                        innerRadius: '60%',
                                        outerRadius: '100%',
                                        shape: 'arc'
                                        }
                                    },

                                    exporting: {
                                        enabled: false
                                    },

                                    tooltip: {
                                        enabled: false
                                    },

                                    // the value axis
                                    yAxis: {
                                        stops: [
                                        [0.1, '#55BF3B'], // green
                                        [0.5, '#DDDF0D'], // yellow
                                        [0.9, '#DF5353'] // red
                                        ],
                                        lineWidth: 0,
                                        tickWidth: 0,
                                        minorTickInterval: null,
                                        tickAmount: 2,
                                        title: {
                                        y: -70
                                        },
                                        labels: {
                                        y: 16
                                        }
                                    },

                                    plotOptions: {
                                        solidgauge: {
                                        dataLabels: {
                                            y: 5,
                                            borderWidth: 0,
                                            useHTML: true
                                        }
                                        }
                                    }
                                    };

    var gaugeOptions2 = {
                                    chart: {
                                        type: 'solidgauge'
                                    },

                                    title: null,
                                    pane: {
                                        center: ['50%', '85%'],
                                        size: '140%',
                                        startAngle: -90,
                                        endAngle: 90,
                                        background: {
                                        backgroundColor:
                                            Highcharts.defaultOptions.legend.backgroundColor || '#EEE',
                                        innerRadius: '60%',
                                        outerRadius: '100%',
                                        shape: 'arc'
                                        }
                                    },

                                    exporting: {
                                        enabled: false
                                    },

                                    tooltip: {
                                        enabled: false
                                    },

                                    // the value axis
                                    yAxis: {
                                        stops: [
                                        [0, '#DF5353'],     // green 55BF3B
                                        [0.5, '#DDDF0D'],   // yellow DDDF0D
                                        [0.75, '#55BF3B']   // red DF5353
                                        ],
                                        lineWidth: 0,
                                        tickWidth: 0,
                                        minorTickInterval: null,
                                        tickAmount: 2,
                                        title: {
                                        y: -70
                                        },
                                        labels: {
                                        y: 16
                                        }
                                    },

                                    plotOptions: {
                                        solidgauge: {
                                        dataLabels: {
                                            y: 5,
                                            borderWidth: 0,
                                            useHTML: true
                                        }
                                        }
                                    }
                                    };


            
// The speed gauge
var chartSpeed = Highcharts.chart('container-speed', Highcharts.merge(gaugeOptions, {
  yAxis: {
    min: 0,
    max: 100,
    title: {
      text: 'Uso Costos Esperados'
    }
  },

  credits: {
    enabled: false
  },

  series: [{
    name: 'Speed',
    data: [parseInt(formulaRecUtilizado)],
    dataLabels: {
      format:
        '<div style="text-align:center">' +
        '<span style="font-size:25px">{y}</span><span style="font-size:13px;opacity:0.4"> %</span><br/>' +
        '<span style="font-size:12px;opacity:0.4"></span>' +
        '</div>'
    }
  }]

}));

// The RPM gauge
var chartRpm = Highcharts.chart('container-rpm', Highcharts.merge(gaugeOptions2, {
  yAxis: {
    min: 0,
    max: 100,
    title: {
      text: 'Margen (Pagado)'
    }
  },

  series: [{
    name: 'Margen',
    data: [parseFloat(margenFacturado)],
    dataLabels: {
      format:
        '<div style="text-align:center">' +
        '<span style="font-size:25px">{y:.1f}</span></span><span style="font-size:13px;opacity:0.4"> %</span><br/>' +
        '</div>'
    }
  }]

}));


        },
        error: function(data) {
            
        }
    
        // termina ajax
    });

    $(".highcharts-credits").html("");


//
// Tabular la información 

 dataTable2.rows().iterator('row', function(context, index){
                    var node = $(this.row(index).node()); 
                    
                    //const num = parseFloat(node.context.children[1].innerText).toFixed(2);
                    //const num2 = new Intl.NumberFormat('de-DE', { style: 'currency', currency: 'EUR' }).format(num);                    
                    node.context.children[1].innerText = new Intl.NumberFormat('de-DE').format(node.context.children[1].innerText );   
                    node.context.children[2].innerText = new Intl.NumberFormat('de-DE').format(node.context.children[2].innerText );

                });

dataTable0.rows().iterator('row', function(context, index){
                    var node = $(this.row(index).node()); 
                    
                    //const num = parseFloat(node.context.children[1].innerText).toFixed(2);
                    //const num2 = new Intl.NumberFormat('de-DE', { style: 'currency', currency: 'EUR' }).format(num);                    
                    node.context.children[1].innerText = new Intl.NumberFormat('de-DE').format(node.context.children[1].innerText );   
                    node.context.children[2].innerText = new Intl.NumberFormat('de-DE').format(node.context.children[2].innerText );
                    node.context.children[3].innerText = new Intl.NumberFormat('de-DE').format(node.context.children[3].innerText );
                    node.context.children[4].innerText = new Intl.NumberFormat('de-DE').format(node.context.children[4].innerText );
                    node.context.children[5].innerText = new Intl.NumberFormat('de-DE').format(node.context.children[5].innerText );


                });

dataTable2a.rows().iterator('row', function(context, index){
                    var node = $(this.row(index).node()); 
                    
                    //const num = parseFloat(node.context.children[1].innerText).toFixed(2);
                    //const num2 = new Intl.NumberFormat('de-DE', { style: 'currency', currency: 'EUR' }).format(num);                    
                    node.context.children[1].innerText = new Intl.NumberFormat('de-DE').format(node.context.children[1].innerText );   
                    node.context.children[2].innerText = new Intl.NumberFormat('de-DE').format(node.context.children[2].innerText );
                    node.context.children[3].innerText = new Intl.NumberFormat('de-DE').format(node.context.children[3].innerText );
                    node.context.children[4].innerText = new Intl.NumberFormat('de-DE').format(node.context.children[4].innerText );
                    node.context.children[5].innerText = new Intl.NumberFormat('de-DE').format(node.context.children[5].innerText );
                    node.context.children[6].innerText = new Intl.NumberFormat('de-DE').format(node.context.children[6].innerText );


                });

dataTableFact.rows().iterator('row', function(context, index){
                    var node = $(this.row(index).node());   
                    node.context.children[1].innerText = new Intl.NumberFormat('de-DE').format(node.context.children[1].innerText.replace(",",".") );
                });

dataTable3.rows().iterator('row', function(context, index){
                    var node = $(this.row(index).node());   
                    node.context.children[6].innerText = new Intl.NumberFormat('de-DE').format(node.context.children[6].innerText);
                });


// Formateo numeros Indicadores de productividad. 
            let costoEsperadoFormato     = $("#costoTotalEsp").text();
            let costoTotalProFormato     = $("#costoTotalPro").text();
            let costoTotalPagadoFormato  = $("#totalPagado").text(); 
            let TotalPagadoFormato       = $("#totalFacturado").text(); 
            
            
            

            $("#totalFacturado").html(new Intl.NumberFormat('de-DE').format((parseFloat(TotalPagadoFormato).toFixed(2)).replace(",",".")));
            //$("#margenPro").html(new Intl.NumberFormat('de-DE').format((parseFloat(margenProFormato).toFixed(2)).replace(",",".")));

            //let margenProFacFormato      = $("#margenProFac").text();
            
            $("#costoTotalEsp").html( new Intl.NumberFormat('de-DE').format((parseFloat( costoEsperadoFormato).toFixed(2)).replace(",",".")));
            //$("#costoTotalPro").html( new Intl.NumberFormat('de-DE').format((parseFloat( costoTotalProFormato).toFixed(2)).replace(",",".")));
            $("#totalPagado").html( new Intl.NumberFormat('de-DE').format((parseFloat( costoTotalPagadoFormato).toFixed(2)).replace(",",".")));
            //$("#margenProFac").html( new Intl.NumberFormat('de-DE').format((parseFloat( margenProFacFormato).toFixed(2)).replace(",",".")));


});

function ActualizarProyecto(idProyecto)
{
    let uptSuperficie   = parseFloat($("#uptSuperficie").val());
    let uptTarifa       = parseFloat($("#uptTarifa").val());
    let uptPlanos       = parseFloat($("#uptPlanos").val());

    let infomacion = {
        idProyecto,
        uptSuperficie,
        uptTarifa,
        uptPlanos    };


$.ajax({
				async: false,
				type : 'POST', 
				url	 : "/reporteria/uptProyecto", 
				data : infomacion,
					success : function (resultado) 
						{ 
                            toastr.success('Datos Proyectos Actualizados.', 'Información', {
                                    "progressBar": true
                                });
                            location.reload();
						} 
				});


}
function cargarAvanceProyecto(idProyecto)
    {
        let valorSuperficie     = parseFloat($("#superficie").text());
        let valorNumPlanos      = parseFloat($("#planos").text()); 
        let valorDelProyecto    = parseFloat($("#valorProyecto").text().replace(".","").replace(",",".")); 
        let costoActualProye    = parseFloat($("#costoTotalPro").text().replace(".","").replace(",","."));

        let costoAvanceUF       = parseFloat($("#costoAvanceUF").val());
        let desvCostoAvanceUF   = parseFloat($("#desvCostoAvanceUF").val());
        let porcAvanceDesv      = parseFloat($("#porcAvanceDesv").val());

        //let moneda = $("#idMoneda").val();
        let moneda = $('#idMoneda option:selected').text();
        let costoEsperado = $("#dato0").val();
        let MargenPagado = $("#dato1").val();

        
        let margenUF = valorDelProyecto - costoActualProye;
        let margenPor = ((valorDelProyecto - costoActualProye)/valorDelProyecto) * 100;

        let informacion = {
                                id : idProyecto,
                                porcentaje : $("#porcentajeAvances").val(),
                                comentario : $("#comentario").val(),
                                superficie : valorSuperficie,
                                planos : valorNumPlanos,
                                venta : valorDelProyecto,
                                costo : costoActualProye,
                                margenUF : margenUF.toFixed(2),
                                margenPor : margenPor.toFixed(1),
                                costoAvanceUF,
                                desvCostoAvanceUF,
                                porcAvanceDesv,
                                moneda,
                                costoEsperado,
                                MargenPagado
                            };

        
        $.ajax({
				async: false,
				type : 'POST', 
				url	 : "/reporteria/avance", 
				data : informacion,
					success : function (resultado) 
						{ 
                            toastr.success('Porcentaje de avance ingresado correctamente.', 'Información', {
                                    "progressBar": true
                                });
                            location.reload();
						} 
				});
         
    }

function cargaValoresAvance()
{
    let porcentajeAvance =  $("#porcentajeAvances").val() ;
    let valorCostoEsperado  = parseFloat($("#costoTotalEsp").text().replace(".","").replace(",","."));
    let valorCostoActual  = parseFloat($("#costoTotalPro").text().replace(".","").replace(",","."));
    let moneda = $('#idMoneda option:selected').text();

    let CostoEstimadoAvance = parseFloat( valorCostoEsperado * porcentajeAvance / 100).toFixed(2);
    let desviacionCosto = parseFloat(CostoEstimadoAvance - valorCostoActual).toFixed(2);
    let porcentaje = parseFloat(desviacionCosto / CostoEstimadoAvance * 100).toFixed(2);

    $("#costoAvanceUF").val(CostoEstimadoAvance) ;
    $("#desvCostoAvanceUF").val(desviacionCosto) ;
    $("#porcAvanceDesv").val(porcentaje) ;

    $("#costoAvanceMoneda").val(moneda) ;

}

function ActualizaMonedas( valorMoneda )
{
  // 
  let moneda        = valorMoneda;
  let idProyecto    = $("#idProyecto").val() ;

  let findMonedaProyecto = moneda + "_" + idProyecto;
  


   $(location).attr('href','/reporteria/proyectos/'+ findMonedaProyecto);
   
}

</script>

</html>