<div class="col-md-3">
    <div class="x_panel">
        <div class="x_title">
            <h2>Buscar Proyectos</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 col-form-label">Moneda Presentación</label>
                    <div class="col-sm-8">
                        <select class="form-control" name="id_moneda" id="id_moneda">
                                    <option value="0">Seleccione una opción</option>
                                        {{#each monedas}}
                                            <option value="{{id_moneda}}">{{descripcion}}</option>
                                        {{/each}}
                        </select>
                    </div>
            </div>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 col-form-label">Servicio Proyecto</label>
                    <div class="col-sm-8">
                        <select class="form-control" name="id_servicio_proyecto" id="id_servicio_proyecto">
                                    <option value="0">Seleccione una opción</option>
                                        {{#each servicioProyectos}}
                                            <option value="{{id}}">{{descripcion}}</option>
                                        {{/each}}
                        </select>
                    </div>
            </div>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 col-form-label">Estado Proyecto</label>
                    <div class="col-sm-8">
                        <select class="form-control" name="id_estado_proyecto" id="id_estado_proyecto">
                                    <option value="0">Seleccione una opción</option>
                                        {{#each estadoProyectos}}
                                            <option value="{{id}}">{{descripcion}}</option>
                                        {{/each}}
                        </select>
                    </div>
            </div>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 col-form-label">Director</label>
                    <div class="col-sm-8">
                        <select class="form-control" name="id_director" id="id_director">
                                    <option value="0">Seleccione una opción</option>
                                        {{#each directorProyectos}}
                                            <option value="{{idUsuario}}">{{Nombre}}</option>
                                        {{/each}}
                        </select>
                    </div>
            </div>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-3 col-form-label">Periodo</label>
                    <div class="col-sm-4">
                        <input type="number" id="desdeProyecto" name="desdeProyecto"  class="form-control" placeholder="Desde">
                    </div>
                    -
                    <div class="col-sm-4">
                        <input type="number" id="hastaProyecto" name="hastaProyecto"  class="form-control" placeholder="Hasta">
                    </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4"></div>
                <div class="col-sm-5">
                    <button type="submit" class="btn btn-success" onclick="cargarListadoProyectos()">Buscar</button>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-9" id="cargaResultado">

</div>
<script>
    function cargarListadoProyectos()
    {
        var servicio = $("#id_servicio_proyecto").val();
        var moneda = $("#id_moneda").val();
        var estado = $("#id_estado_proyecto").val();
        var director = $("#id_director").val();
        var desde = $("#desdeProyecto").val();
        var hasta = $("#hastaProyecto").val();

        let informacion = {
            servicio,moneda,estado,director,desde,hasta
        };
        
        $('#cargaResultado').html('<div class="col-md-4"></div><div class="col-md-4"><button class="btn btn-primary" type="button" disabled> <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Loading...</button></div><div class="col-md-4"></div>');

         $.ajax({
                method:'POST',
                url : '/reporteria/buscarListadoProyectos',
                data : informacion,
                success : function(result)
                    {
                        $( "#cargaResultado" ).html(result); 
                    }
                });



    }
</script>