 <table class="table table-striped" name="tablaEmpalmes" id="tablaEmpalmes" style="width: 100%;">
    <thead>
        <tr>
            <th> Nombre Proyecto</th>
            <th> Cod Proyecto</th>
            <th> Director </th>
            <th> Servicio </th>
            <th> Cliente </th>
            <th> Presupuesto </th>
            <th> Valor Presupuesto</th>
            <th> Adicionales</th>
            <th> Total Contratado</th>
            <th> Facturado</th>
            <th> Pend. de Pago</th>
            <!-- <th> Inconbrable</th> -->
            <th> Pend. de Facturación</th>
            <th> Estado</th>
            <!-- <th> PAGADO</th>
            <th> EN COBRANZA</th>-->
        </tr>
    </thead>
    <tbody>
        {{#each proyectos}}
        <tr>
            <td>{{nombre}}</td>
            <td>{{year}}-{{code}}</td>
            <td>{{nomDirector}}</td>
            <td>{{tipoServicio}}</td>
            <td>{{nomCliente}}</td>
            <td></td>
            <td>{{valor_proyecto}}</td>
            <td>{{adicional}}</td>
            <td>{{contratado}}</td>
            <td>{{facturado}}</td>
            <td>{{pendientePago}}</td>
            <!-- <td></td> -->
            <td>{{pendienteFacturacion}}</td>
            <td>{{estado}}</td>
            <!--<td>{{pagado}}</td>
            <td>{{cobranza}}</td>-->
        </tr>
        {{/each}}
    </tbody>  
    <tfoot>
        <tr>
            <td colspan="5"></td>
            <td>TOTALES</td>
            <td>{{infoAnalisis.vpresupuesto}}</td>
            <td>{{infoAnalisis.adicional}}</td>
            <td>{{infoAnalisis.totalcontrado}}</td>
            <td>{{infoAnalisis.facturadao}}</td>
            <td>{{infoAnalisis.penPago}}</td>
            <td>{{infoAnalisis.pendFact}}</td>
            <td></td>
        </tr>
    </tfoot>     
 </table>