							<div class="x_panel">
								<div class="x_title">
									<h2>Costos Usuario<!--<small>Los costos seran por mes</small></h2>-->
									<div class="clearfix"></div>
								</div>
								<div class="x_content">
									<br />
									<form class="form-label-left input_mask" action="/costos/usuario" method="GET">
										<div class="form-group row">
											<label class="col-form-label col-md-1 col-sm-1 label-align">Año</label>
                                                <div class="col-md-2 col-sm-2 ">
                                                    <select id="anio" name="anio" class="form-control" required>
                                                         {{#each annios}}
                                                            <option value="{{this}}">{{this}}</option>
                                                         {{/each}} 
                                                    </select>
                                                </div>
                                                <label class="col-form-label col-md-1 col-sm-1 label-align">Mes</label>
                                                <div class="col-md-2 col-sm-2 ">
                                                    <select id="mes" name="mes" class="form-control" required>
                                                        {{#each messes}}
                                                                {{#if actual}}
                                                                    <option value="{{id}}" selected>{{nombre}}</option>
                                                                {{else}}
                                                                    <option value="{{id}}">{{nombre}}</option>
                                                                {{/if}}
                                                                
                                                        {{/each}} 
                                                    </select>
                                                </div>
                                                <div class="col-md-4 col-sm-4 ">
												    <button type="submit" class="btn btn-warning">Revisar</button>
                                                     <a href="/costos/descargarPlanilla?anio={{year}}&mes={{mes}}"><button type="button" class="btn btn-success">Descargar </button></a>
												    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target=".bs-example-modal-sm">Cargar</button>
                                                    <a href="/costos/duplicarAnterior?anio={{year}}&mes={{mes}}"><button type="button" class="btn btn-info">Replicar Mes anterior</button></a>
											    </div>
										</div>
										<div class="ln_solid"></div>
									</form>
                                        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
                                                        <div class="modal-dialog modal-sm">
                                                        <div class="modal-content">

                                                            <div class="modal-header">
                                                            <h4 class="modal-title" id="myModalLabel2">Cargar Archivo</h4>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                                                            </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form action="/costos/fileupload" method="post" enctype="multipart/form-data">
                                                                    <input type="file" name="filetoupload">
                                                                    <input type="submit">
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                            <button type="button" class="btn btn-primary">Guardar</button>
                                                            </div>

                                                        </div>
                                                        </div>
                                                    </div>
								        </div>
                                        <div class="modal fade bs-example-modal-xs" tabindex="-1" role="dialog" aria-hidden="true" id="updateUser">
                                                        <div class="modal-dialog modal-xs">
                                                        <div class="modal-content">

                                                            <div class="modal-header">
                                                            <h4 class="modal-title" id="myModalLabel2">Actualizar costo usuario</h4>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                                                            </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <input type="hidden" id="annio" name="annio" value="">
                                                                <input type="hidden" id="mes" name="mes" value="">
                                                                <input type="hidden" id="id" name="id" value="">
                                                                <input type="text" id="nombre" name="nombre" value="" readonly>
                                                                <input type="text" id="valor" name="valor" value="" >
                                                            </div>
                                                            <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                            <button type="button" class="btn btn-primary" onclick="ActualizarDatos();">Actualizar</button>
                                                            </div>

                                                        </div>
                                                        </div>
                                         </div>
								        </div>
							</div>
               <div class="x_panel">
						<div class="x_content">
							<br />
							<form class="form-horizontal form-label-left">
							</form>
						</div>
                        <table class="table table-hover" id="example" class="display">
                            <thead>
                                <tr>
                                    <th style="text-align: center;">Id</th>
                                    <th style="text-align: center;">Nombre</th>
                                    <th style="text-align: center;">Centro Costo</th>
                                    <th style="text-align: center;">Categoria</th>
                                    <th style="text-align: center;">Sucursal</th>
                                    <th style="text-align: center;">Fecha</th>
                                    <th style="text-align: center;">Costo</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each costos}}
                                <tr>
                                    <th style="text-align: center;">{{idUsuario}}</th>
                                    <td>{{Nombre}}</td>
                                    <td style="text-align: center;">{{centroCosto}}</td>
                                    <td style="text-align: center;">{{categoria}}</td>
                                    <td style="text-align: center;">{{direccion}}</td>
                                    <td style="text-align: center;">{{annio}}-{{mes}}</td>
                                    <td onclick="cargaPopUpUdate({{idUsuario}},'{{Nombre}}','{{costo}}','{{annio}}','{{mes}}');">{{costoFormat}}</td>
                                </tr>
                                {{/each}} 
                            </tbody>
                    </table>
				</div>
<script>

    function cargaPopUpUdate (id, nombre, valor, annio , mes)
    {
        $("#id").val(id);
        $("#annio").val(annio);
        $("#mes").val(mes);
        $("#valor").val(valor);
        $("#nombre").val(nombre);
        $("#updateUser").modal();

    }

    function ActualizarDatos()
    {
        var id =  $("#id").val();
        var valor =  $("#valor").val();
        var nombre =  $("#nombre").val();
        var annio =  $("#annio").val();
        var mes =  $("#mes").val();

        //alert("cargar indo" + id + "////" + valor + "////" + nombre);

        var informacion = [];
            const costo = {
                        vid : id,
                        vvalor : valor,
                        vnombre : nombre,
                        vannio : annio,
                        vmes : mes
                    };
        informacion.push(costo);

         $.ajax({
                            type: 'post',
                            url: '/costos/ajax',
                            contentType: 'application/json',
                            data: JSON.stringify(informacion),
                            
                        });

    alert("User actualizado");
    $('#updateUser').modal('hide');
    

    }
</script>