  <head>
    <style>
        table {
            table-layout: fixed;
        }

        table td {
            word-wrap: break-word;
            max-width: 400%;
        }

        #grid td {
            white-space: inherit;
        }
         .headerToolbar {
            background-color: #fed300;

        }
        .close {
            float: right;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1;
            color: #000;
            text-shadow: 0 1px 0 #fff;
            opacity: .5;
        }
        .close:not(:disabled):not(.disabled) {
            cursor: pointer;
        }
        button.close {
            padding: 0;
            background-color: transparent;
            border: 0;
            -webkit-appearance: none;
        }
          .dataTables_filter{
	    position: relative;
  		float: left;
            }
            .dataTables_length{
                    position: relative;
                    float: right;
            }
    </style>
</head>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>

<div class="col-md-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Ingresar Orden de Compra</h2>
            <div class="clearfix"></div>
            
        </div>
        <div class="x_content">

            <ul class="nav nav-tabs justify-content-end bar_tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="ingreso-tab" data-toggle="tab" href="#ingreso" role="tab"
                        aria-controls="ingreso" aria-selected="true">Ingresar OC</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="listado-tab" data-toggle="tab" href="#listado" role="tab"
                        aria-controls="listado" aria-selected="false">Listado Ingresados</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="ingreso" role="tabpanel" aria-labelledby="ingreso-tab">

                <div class="row">
                    <div class="col-md-6">
                        <form id="ingresoOC" name="ingresoOC" data-parsley-validate class="form-horizontal form-label-left" action="/solicitudes/addOC" method="POST">
                        
                         <div class="form-group row">
                             <label class="col-form-label col-md-1 col-sm-1 "></label>
                             <label class="col-form-label col-md-6 col-sm-6 "><p class="fs-5"><u><strong>Configuración General</strong></u></p>
                             </label>
                         </div>
                             <div class="form-group row">
                                <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Emisor"> <b>Folio Referencia:</b></label>
                                    <div class="col-md-4 col-sm-4">
                                         <input type="text" id="folioNum" name="folioNum"  class="form-control">
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <button type="button" class="btn btn-success" onclick="CargarInformacionFolio();">Cargar </button>
                                    </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Emisor"> <b>Emisor:</b></label>
                                    <div class="col-md-6 col-sm-6">
                                        <select class="select2_single form-control" tabindex="1" name="emisor" id="emisor" onchange="cargaEmisorOC(this.value);">
                                            <option value="">Seleccione</option>
                                                {{#each empresas}}
                                                    <option value="{{id}}">{{razonsocial}}</option>
                                                {{/each}}
                                        </select>
                                    </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Emisor"> <b>Moneda:</b></label>
                                    <div class="col-md-6 col-sm-6">
                                        <select class="select2_single form-control" tabindex="1" name="id_monedaoc" id="id_monedaoc">
                                            <option value="">Seleccione</option>
                                                {{#each monedas}}
                                                      {{#if (if_equal 1 id_moneda) }}
                                                        <option value="{{id_moneda}}" selected>{{descripcion}} </option>
                                                      {{else}}
                                                        <option value="{{id_moneda}}">{{descripcion}} </option>
                                                      {{/if}}
                                                    
                                                {{/each}}
                                        </select>
                                    </div>
                            </div>
                             <div class="form-group row">
                                <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Emisor"> <b>Incluye IVA:</b></label>
                                    <div class="col-md-6 col-sm-6">
                                        <select class="select2_single form-control" tabindex="1" name="incluyeIVA" id="incluyeIVA">
                                            <option value="">Seleccione</option>
                                            <option value="Y">SI</option>
                                            <option value="N">NO</option>
                                        </select>
                                    </div>
                            </div>
            <div class="form-group row" style="visibility: hidden; display:none;">
                <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Emisor"><b>Razon Social:</b></label>
                    <div class="col-md-6 col-sm-6">
                        <input type="text" id="razonsocial" name="razonsocial"  class="form-control" readonly>
                    </div>
            </div>
            <div class="form-group row" style="visibility: hidden; display:none;">
                <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Emisor"><b>Rut:</b></label>
                    <div class="col-md-6 col-sm-6">
                        <input type="text" id="rut" name="rut"  class="form-control" readonly>
                    </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Emisor"><b>Tipo :</b></label>
                    <div class="col-md-6 col-sm-6">
                        <select class="select2_single form-control" tabindex="1" name="id_tipo_proveedor" id="id_tipo_proveedor" onchange="cargaTipoProveedor(this.value);">
                            <option value="">Seleccione</option>
                            <option value="1">Proveedor Interno</option>
                            <option value="2">Proveedor Externo</option>
                            <option value="3">Compra</option>
                        </select>
                    </div>
            </div>
            <div class="form-group row" id="razonsocialProv" style="visibility: hidden; display:none;">
                <label class="col-form-label col-md-3 col-sm-3 label-align"	for="rnombrepro" id="rnombrepro"><b>#####:</b></label>
                    <div class="col-md-6 col-sm-6">
                        <select class="select2_single form-control" tabindex="1" name="razonsocialpro" id="razonsocialpro" onchange="cargaRutProovedor(this.value);">

                        </select>
                    </div>
                    <div class="col-md-1 col-sm-1">
                      <!--   <button type="button" class="btn btn-success btn-sm"><a type="button" style="color: white;">+</a></button> -->
                    </div>
            </div>
            <div class="form-group row" style="visibility: hidden; display:none;">
                <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Emisor"><b>Rut:</b></label>
                    <div class="col-md-6 col-sm-6">
                        <input type="text" id="rutproveedor" name="rutproveedor"  class="form-control" readonly>
                        <input type="hidden" id="idproveedor" name="rutproidproveedorveedor"  class="form-control">
                    </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Emisor"><b>Solicitante:</b></label>
                    <div class="col-md-6 col-sm-6">
                        <select class="select2_single form-control" tabindex="1" name="id_solicitante" id="id_solicitante">
                            <option value="">Seleccione</option>
                            {{#each solicitantes}}
                                <option value="{{idUsuario}}">{{Nombre}}</option>
                            {{/each}}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Emisor"><b>Quien Recepciona:</b></label>
                    <div class="col-md-6 col-sm-6">
                        <select class="select2_single form-control" tabindex="1" name="id_recepcionador" id="id_recepcionador">
                            <option value="">Seleccione</option>
                            {{#each recepcionador}}
                                <option value="{{idUsuario}}">{{Nombre}}</option>
                            {{/each}}
                    </select>
                </div>
            </div>
            <div class="form-group row" >
                <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Emisor"><b>Nº Días Pago:</b></label>
                    <div class="col-md-6 col-sm-6">
                        <input type="number" id="numdias" name="numdias"  class="form-control">
                    </div>
            </div>
            <div class="form-group row" >
                <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Emisor"><b>Observaciones:</b></label>
                    <div class="col-md-6 col-sm-6">
                        <textarea id="observaciones" name="observaciones"  class="form-control"></textarea>
                    </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Emisor"><b>Director:</b></label>
                    <div class="col-md-6 col-sm-6">
                        <select class="select2_single form-control" tabindex="1" name="id_director" id="id_director">
                            <option value="0">Seleccione</option>
                            {{#each directores}}
                                <option value="{{idUsuario}}">{{Nombre}}</option>
                            {{/each}}
                    </select>
                </div>
            </div>
             <div class="form-group row">
                <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Emisor"><b>Centro Costo:</b></label>
                    <div class="col-md-6 col-sm-6">
                        <select class="select2_single form-control" tabindex="1" name="id_centro_costo" id="id_centro_costo" onchange="cargaAreaNegocio(this.value);">
                            <option value="">Seleccione</option>
                            {{#each centroCostos}}
                                <option value="{{id}}">{{centroCosto}}</option>
                            {{/each}}
                    </select>
                </div>
            </div>
            <div class="form-group row" id="areanegocio1" style="visibility: hidden; display:none;">
                <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Emisor"><b>Proyecto</b></label>
                    <div class="col-md-6 col-sm-6">
                        <select class="select2_single form-control" tabindex="1" name="id_proyecto" id="id_proyecto">
                            <option value="">Seleccione</option>
                            {{#each proyectos}}
                                <option value="{{id}}">{{year}}-{{code}} : {{nombre}} </option>
                            {{/each}}
                         </select>
                </div>
            </div>
            <div class="form-group row" id="areanegocio2" style="visibility: hidden; display:none;">
                <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Emisor"><b>Etapa</b></label>
                    <div class="col-md-6 col-sm-6">
                        <select class="select2_single form-control" tabindex="1" name="id_etapa" id="id_etapa">
                            <option value="">Seleccione</option>
                            {{#each etapas}}
                                <option value="{{id}}">{{descripcion}} </option>
                            {{/each}}
                        </select>
                </div>
            </div>
             <div class="form-group row" >
                <div class="col-md-9 col-sm-9"></div>
                <div class="col-md-1 col-sm-1">
                    
                </div>
             </div>
            <div class="modal fade" id="requerimiento" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-centered-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Requerimiento</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group row">
                                <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Emisor"><b>Cantidad</b></label>
                                    <div class="col-md-8 col-sm-8">
                                        <input type="text" id="cantidad" name="cantidad"  class="form-control">
                                    </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Emisor"><b>Descripción</b></label>
                                    <div class="col-md-8 col-sm-8">
                                        <textarea id="descripcion" name="descripcion"  class="form-control"></textarea>
                                    </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Emisor"><b>Precio Unitario (Monto Neto)</b></label>
                                    <div class="col-md-8 col-sm-8">
                                        <input type="text" id="punitario" name="punitario"  class="form-control">
                                    </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Emisor"><b>Moneda</b></label>
                                    <div class="col-md-8 col-sm-8">
                                       <select class="select2_single form-control" tabindex="1" name="id_moneda" id="id_moneda" onchange="cargaTipoCambio(this.value);">
                                            <option value="">Seleccione</option>
                                            {{#each monedas}}
                                                <option value="{{id_moneda}}">{{descripcion}} </option>
                                            {{/each}}
                                        </select>
                                    </div>
                            </div>
                             <div class="form-group row">
                                <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Emisor"><b>Tipo Cambio</b></label>
                                    <div class="col-md-8 col-sm-8">
                                        <input type="text" id="tipocambio" name="tipocambio"  class="form-control">
                                    </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal" onclick="cargaDetalle()">Ingresar</button>
                         </div>
                    </div>
                </div>
            </div>
            
                    </div>
                    <div class="col-md-6">
                        <div id="tablaInformacion">
                            <table class="table table-hover" id="tableRequerimiento" name="tableRequerimiento">
                                <thead>
                                    <tr>
                                        <th>Cant.</th>
                                        <th>Descripción</th>
                                        <th>Precio Unitario</th>
                                        <th>Moneda</th>
                                        <th>Monto</th>
                                        <th>Monto en $</th>
                                        <th> <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#requerimiento">+</button> </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each requerimientos}}
                                        <tr>
                                            <td>{{cantidad}}</td>
                                            <td>{{descripcion}}</td>
                                            <td>{{precio_unitario}}</td>
                                            <td>{{mon}}</td>
                                            <td>{{monto}}</td>
                                            <td>$ {{montopeso}}</td>
                                            <td>
                                                <button type="button" class="btn btn-danger btn-sm" onclick="EliminarRegistro({{id}});">-</button>
                                            </td>
                                        </tr>
                                    {{/each}}
                                    <tfoot>
                                        <th style="border-bottom-width: 0px;">
                                            <td style="border-bottom-width: 0px;"></td>
                                            <td style="border-bottom-width: 0px;" colspan="3">
                                            <!--  <button type="button" class="btn btn-success btn-sm" onclick="ingresarOC();">Ingresar Orden de Compra</button> -->
                                            </td>
                                        </th>
                                        
                                    </tfoot>
                                </tbody>
                            </table>
            </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <button type="button" class="btn btn-success btn-sm" onclick="ingresarOC();">Ingresar Orden de Compra</button>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                    </form>
                </div>        
                </div>
                <div class="tab-pane fade" id="listado" role="tabpanel" aria-labelledby="listado-tab">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Listado Ingresados </h2> 
                                <ul class="nav navbar-right panel_toolbox">
                                    <form id="exportar" action="/solicitudes/exportOCExcel" method="POST"> 
                                        <button type="submit" class="btn btn-secondary btn-sm" style="margin-top: 15px;"> <i class="fa fa-file-excel-o"> Exportar</i> </button> 
                                    </form>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
        <div class="x_content">
            <table class="table table-hover" id="tablaOrden">
                        <thead>
                            <tr>
                                <th>Emisor</th>
                                <th>Tipo</th>
                                <th>Solicitante</th>
                                <th>Proovedor</th>
                                <th>Fecha Ingreso</th>
                                <th>Fecha Aprobación</th>
                                <th>Folio</th>
                                <th>Monto Total</th>
                                <th>Nº Documento</th>
                                <th>Centro Costo</th>
                                <th>Proyecto</th>
                                <th>Estado</th>
                                <th></th>
                            </tr>
                        </thead>
                   <tbody>
                       {{#each ordenCompra}}
                             <tr>
                                <td>{{razonsocial}}</td>
                                <td>{{tipo}}</td>
                                <td>{{solicitante}}</td>
                                <td>{{nomProoveedor}}</td>
                                <td>{{fechaIngreso}}</td>
                                <td>{{fechaAProbacion}}</td>
                                <td>{{folio}}</td>
                                <td>{{simbolo}} {{montoTotal}}</td>
                                <td>{{num_documento}}</td>
                                <td>{{centroCosto}}</td>
                                <td>{{year}}-{{code}} : {{proyecto}}</td>
                                <td>{{estado}}</td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Basic example">

                                        <button type="button" class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="top" title="{{obs}}">
                                             
                                             <i class="fa fa-info">
                                             </i>
                                             
                                         </button>

                                        {{#if (if_equal 1 id_estado) }}
                                            <!--
                                                <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target=".bs-example-modal-lg" onclick="verDetalle({{id}},1)">
                                                <i class="fa fa-search"></i>
                                            </button>
                                            -->
                                            <button type="button" class="btn btn-secondary btn-sm">
                                                <a href="/solicitudes/createPDFPre/{{id}}" style="color: white;" target="_blank">
                                                <i class="fa fa-search">
                                                </i>
                                                </a>
                                            </button>
                                            <!-- SOLO EN ESTE ESTADO SE PUEDE EDITAR -->
                                            <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target=".bs-example-modal-lg3" onclick="EditarOC({{id}})">
                                                <i class="fa fa-edit"></i>
                                            </button>

                                            <div class="modal fade bs-example-modal-lg3" id="verDetalleEditar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                    <div class="modal-dialog modal-lg" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLongTitle">Editar</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div id="formEditOC">

                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>

                                        {{/if}}

                                        {{#if (if_equal "Y" aprobacionSolicitante) }}
                                            {{#if (if_distinto 4 id_estado)}}
                                                <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target=".bs-example-modal-lg2" onclick="verDetalleAprob({{id}},1)">
                                                    <a style="color: white;">
                                                    <i class="fa fa-check">
                                                    </i>
                                                    </a>
                                                </button>
                                                <div class="modal fade bs-example-modal-lg2" id="verDetalleAprob" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                    <div class="modal-dialog modal-lg" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLongTitle">Información</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div id="detalleOrdenCompraAprob">

                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-success btn-sm" onclick="AprobarSolicitante({{id}});">
                                                                        Aprobar
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {{/if}}
                                        {{/if}}

                                        {{#if (if_equal 2 id_estado) }}
                                         <button type="button" class="btn btn-secondary btn-sm">
                                             <a href="/solicitudes/createPDF/{{id}}" style="color: white;" target="_blank">
                                             <i class="fa fa-print">
                                             </i>
                                             </a>
                                         </button>
                                        {{/if}}
                                        {{#if (if_equal 3 id_estado) }}
                                         <button type="button" class="btn btn-success btn-sm">
                                             <a href="/solicitudes/createPDF/{{id}}" style="color: white;" target="_blank">
                                             <i class="fa fa-print">
                                             </i>
                                             </a>
                                         </button> 
                                         
                                            {{#if (if_equal "N" recepcionado_finanza) }}
                                                {{#if (if_equal "Y" ../UserFinanzas) }}
                                                    <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target=".bs-example-modal-m" onclick="cargaFinanza({{id}})">
                                                        <a style="color: white;">
                                                        <i class="fa fa-clipboard">
                                                        </i>
                                                        </a>
                                                    </button>
                                                 {{/if}}
                                            {{/if}}
                                        {{/if}}
                                        <!-- PODER BORRAR -->
                                        {{#if (if_equal id_solicitante ../req.user.idUsuario) }}
                                            {{#if (if_distinto 4 id_estado)}}
                                         <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target=".bs-example-modal-lg4" onclick="cargaOCEliminar({{id}}, '{{folio}}' , '{{nomProoveedor}}')">
                                                    <a style="color: white;">
                                                    <i class="fa fa-trash">
                                                    </i>
                                                    </a>
                                         </button>
                                            <div class="modal fade bs-example-modal-lg4" id="verDetalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                        <div class="modal-dialog modal-lg" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLongTitle"> Eliminar OC </h5>
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form id="rechazarOC" name="rechazarOC" data-parsley-validate class="form-horizontal form-label-left" action="/solicitudes/rechazarOC" method="POST">
                                                                        <div class="form-group row">
                                                                                    <label for="staticEmail" class="col-sm-2 col-form-label">Proveedor</label>
                                                                                    <div class="col-sm-8">
                                                                                        <input type="text" id="rcproveedor" name="rcproveedor"  class="form-control" readonly>
                                                                                    </div>
                                                                        </div> 
                                                                         <div class="form-group row">
                                                                                    <label for="staticEmail" class="col-sm-2 col-form-label">Folio</label>
                                                                                    <div class="col-sm-8">
                                                                                        <input type="text" id="rcfolio" name="rcfolio"  class="form-control" readonly>
                                                                                    </div>
                                                                        </div>  
                                                                         <div class="form-group row">
                                                                                    <label for="staticEmail" class="col-sm-2 col-form-label">Comentario Rechazo</label>
                                                                                    <div class="col-sm-8">
                                                                                         <input type="hidden" id="rcid" name="rcid"  class="form-control" readonly>
                                                                                        <textarea class="form-control" placeholder="Ingresar Comentario" id="rcrechazo" name="rcrechazo"></textarea>
                                                                                    </div>
                                                                        </div>   
                                                                    </form>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-danger" onclick="eliminarOC();">Rechazar</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                            {{/if}}
                                         {{/if}}
                                    </div>
                                </td>
                            </tr>
                        {{/each}}
                   </tbody>
            </table> 
            <div class="modal fade bs-example-modal-lg" id="verDetalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Información</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        <div class="modal-body">
                            <div id="detalleOrdenCompra">

                            </div>
                        </div>
                        <div class="modal-footer">
                            
                         </div>
                    </div>
                </div>
            </div>
            <div class="modal fade bs-example-modal-m" id="verDetalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Finanzas </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group row" style="margin-bottom: 1px;">
                                <label class="col-form-label col-md-2 label-align" for="Tipo"> <b>Nº Documento:</b></label>
                                <div class="col-md-6 col-sm-6">
                                    <input type="text" name="num_documento" id="num_documento" class="form-control">
                                </div> 
                            </div>
                            <div class="form-group row" style="margin-bottom: 1px;">
                                <label class="col-form-label col-md-2 label-align" for="Tipo"> <b>Comentario:</b></label>
                                <div class="col-md-6 col-sm-6">
                                <textarea class="form-control" id="comentario_finanza" name="comentario_finanza" rows="3"></textarea>
                                
                                <input type="hidden" name="id_finanza" id="id_finanza" >
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                           
                            <button type="button" class="btn btn-danger" onclick="TerminarOCRechazo()">Rechazar</button>
                            <button type="button" class="btn btn-success" onclick="TerminarOC()">Terminar</button>
                         </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>-->

<script src="../../../template/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../../../template/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script> 
<script src="../../../template/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

{{#if verToask }}
<!--INFORMACIÓN-->
<script>
    if ("{{verToask.tipo}}" == "Editar") {
        toastr.warning('{{verToask.body}}', '{{verToask.titulo}}', {
            "progressBar": true
        });
    }
    else if ("{{verToask.tipo}}" == "Crear") {
        toastr.success('{{verToask.body}}', '{{verToask.titulo}}', {
            "progressBar": true
        });
    }
    else if ("{{verToask.tipo}}" == "Eliminar") {
        toastr.error('{{verToask.body}}', '{{verToask.titulo}}', {
            "progressBar": true
        });
    }

</script>
{{/if}}


<script>
 $('#tablaOrden').DataTable({
     "dom": "<'row'<'col-sm-12 col-md-6'f><'col-sm-12 col-md-6'l>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
        language: {
          "decimal": "",
          "emptyTable": "No hay información",
          "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
          "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
          "infoFiltered": "(Filtrado de _MAX_ total entradas)",
          "infoPostFix": "",
          "thousands": ",",
          "lengthMenu": "Mostrar _MENU_ Entradas",
          "loadingRecords": "Cargando...",
          "processing": "Procesando...",
          "search": "Buscar:",
          "zeroRecords": "Sin resultados encontrados",
          "paginate": {
            "first": "Primero",
            "last": "Ultimo",
            "next": "Siguiente",
            "previous": "Anterior"
          }
        },
        "scrolly" : "50vh",
        "scrollCollapse" : true
      });
</script>

<script>

    function eliminarOC2(id, folio, nomProveedor)
    {
        $("#rcid").val(id); 
        $("#rcfolio").val(folio); 
        $("#rcproveedor").val(nomProveedor); 

         document.getElementById("rechazarOC").submit();


    }
    function eliminarOC()
    {
        document.getElementById("rechazarOC").submit();
    }

    function cargaOCEliminar(id, folio, nomProveedor)
    {
        $("#rcid").val(id); 
        $("#rcfolio").val(folio); 
        $("#rcproveedor").val(nomProveedor); 


    }
    function CargarInformacionFolio()
    {
        let folioNum = $("#folioNum").val();
        let informacion = { folioNum };

        $.ajax({
                    async: false,
                    type : 'POST', 
                    url	 : "/solicitudes/buscarFolio", 
                    data : informacion,
                    success : function (resultado) 
                        { 
                           if (typeof resultado === 'object' && resultado !== null)
                           {
                             $("#emisor").val(resultado.id_proveedor);
                             $("#id_tipo_proveedor").val(resultado.id_tipo);
                             cargaTipoProveedor(resultado.id_tipo);
                             $("#razonsocialpro").val(resultado.id_razonsocialpro);

                             $("#id_solicitante").val(resultado.id_solicitante);
                             $("#id_recepcionador").val(resultado.id_recepcionador);
                             $("#numdias").val(resultado.numdiapago);

                             $("#id_director").val(resultado.id_director);
                             $("#id_centro_costo").val(resultado.id_centro_costo);
                             
                             $("#id_proyecto").val(resultado.id_proyecto);
                             $("#id_etapa").val(resultado.id_etapa);
                             $("#incluyeIVA").val(resultado.conIVA);

                             
                           }
                        } 
                });

    }
    function EditarOC (id)
    {

    let informacion = { id };

         $.ajax({
                    async: false,
                    type : 'POST', 
                    url	 : "/solicitudes/editarOC", 
                    data : informacion,
                    success : function (resultado) 
                        { 
                            $("#formEditOC").html(resultado);
                        } 
                });
    }

    function AprobarSolicitante(id)
    {
        let informacion = { id };

         $.ajax({
                        type: 'post',
                        url: '/solicitudes/aprobSolicitanteOC',
                        data: informacion,
                        dataType: 'text'
                })
            .done(function (data) {
                            $(location).attr('href','/solicitudes/ordencompra?a=3');
                        });

    }

    function TerminarOCRechazo()
    {
        let id_finanza          = $("#id_finanza").val();
        let comentario_finanza  = $("#comentario_finanza").val();
        let num_documento       = $("#num_documento").val();


        let informacion = {
                                id_finanza ,
                                comentario_finanza,
                                num_documento
                            };
        
        $.ajax({
                        type: 'post',
                        url: '/solicitudes/terminoOCRechazo',
                        data: informacion,
                        dataType: 'text'
                        })
                        .done(function (data) {
                            $(location).attr('href','/solicitudes/ordencompra?a=3');
                        });
    }

    function TerminarOC()
    {
        let id_finanza          = $("#id_finanza").val();
        let comentario_finanza  = $("#comentario_finanza").val();
        let num_documento       = $("#num_documento").val();


        let informacion = {
            id_finanza ,
            comentario_finanza,
            num_documento
        };
        
        $.ajax({
                        type: 'post',
                        url: '/solicitudes/terminoOC',
                        data: informacion,
                        dataType: 'text'
                        })
                        .done(function (data) {
                            $(location).attr('href','/solicitudes/ordencompra?a=2');
                        });

    }

    function cargaFinanza(id)
    {
        $("#id_finanza").val(id);

    }

    function cargaEmisorOC(valor)
    {
        if (valor !== "")
        {
                $.ajax({
                                    async: false,
                                    type : 'POST', 
                                    url	 : "/solicitudes/buscaEmpresa", 
                                    data : "id="+valor,
                                    success : function (resultado) 
                                        { 
                                            
                                            $("#razonsocial").val(resultado.razonsocial);
                                            $("#rut").val(resultado.rut);
                                        } 
                                });
        }
        else
        {
            $("#razonsocial").val("");
            $("#rut").val("");
        }
    }

    function cargaTipoProveedor(valor)
    {
        if (valor !== "")
        {
            switch(valor)
            {
                case 1:
                case "1":
                    $("#rnombrepro").html("<b>Nombre</b>");
                    $("#razonsocialProv").css("visibility", "visible");
                    $("#razonsocialProv").show();
                break;
                case 2:
                case "2":
                    $("#rnombrepro").html("<b>Nombre/ Razon Social</b>");
                    $("#razonsocialProv").css("visibility", "visible");
                    $("#razonsocialProv").show();
                break;
                case 3:
                case "3":
                    $("#rnombrepro").html("<b>Contacto</b>");
                    $("#razonsocialProv").css("visibility", "visible");
                    $("#razonsocialProv").show();
                break;
            }

            // buscar información para cargar el listado. 
             $.ajax({
                                    async: false,
                                    type : 'POST', 
                                    url	 : "/solicitudes/buscaProveedor", 
                                    data : "id="+valor,
                                    success : function (resultado) 
                                        { 
                                            $("#razonsocialpro").html(resultado);
                                        } 
                                });


        }
    }

    function cargaRutProovedor(valor)
    {
        if (valor !== "")
        {

            // buscar información para cargar el listado. 
             $.ajax({
                                    async: false,
                                    type : 'POST', 
                                    url	 : "/solicitudes/buscaProveedorRut", 
                                    data : "id="+valor,
                                    success : function (resultado) 
                                        { 
                                            $("#rutproveedor").val(resultado.rut);
                                        } 
                                });


        }

    }

    function cargaAreaNegocio( valor)
    {
    if (valor !== "")
        {

            // buscar información para cargar el listado. 
             $.ajax({
                                    async: false,
                                    type : 'POST', 
                                    url	 : "/solicitudes/buscaCentroCosto", 
                                    data : "id="+valor,
                                    success : function (resultado) 
                                        { 
                                            switch(resultado.areanegocio)
                                            {
                                                case "1":
                                                case 1:
                                                    $("#areanegocio1").css("visibility", "visible");
                                                    $("#areanegocio2").css("visibility", "visible");
                                                    $("#areanegocio1").show();
                                                    $("#areanegocio2").show();
                                                break;
                                                case "2":
                                                case 2:
                                                case "3":
                                                case 3:
                                                    $("#areanegocio1").css("visibility", "hidden");
                                                    $("#areanegocio2").css("visibility", "hidden");
                                                    $("#areanegocio1").hide();
                                                    $("#areanegocio2").hide();
                                                break;
                                            }
                                        } 
                                });


        }


    }

    function cargaDetalle()
    {
        // cargar la informacion del detalle. 

        let cantidad        = $("#cantidad").val();
        let descripcion     = $("#descripcion").val();
        let precioUnitario  = $("#punitario").val();
        let moneda          = $("#id_moneda").val();
        let tipocambio      = $("#tipocambio").val();

        let informacion = {
            cantidad ,
            descripcion,
            precioUnitario,
            moneda,
            tipocambio
        };
        
        if (moneda != "")
        {
            $.ajax({
                        type: 'post',
                        url: '/solicitudes/ordecompradetalle',
                        data: informacion,
                        dataType: 'text'
                        })
                        .done(function (data) {

                            // cargar la informacion de la tabla 
                                $('#tablaInformacion').html(data);
                            // dejar todas las columnas en blanco 
                            $("#cantidad").val("");
                            $("#descripcion").val("");
                            $("#punitario").val("");
                            $("#id_moneda").val("");
                            $("#tipocambio").val("");

                        });
        }
        // mostrar mensaje que tiene que repletar la moneda.
     
           // $('#requerimiento').modal('toggle'); //Me muestra el formulario si esta oculto

        

    }
    
    function EliminarRegistro (id)
    {
        // cargar la informacion del detalle. 
        let informacion = {  id  };
        

        $.ajax({
              type: 'post',
              url: '/solicitudes/ordecompradetalleEliminar',
              data: informacion,
              dataType: 'text'
               })
              .done(function (data) {
                $('#tablaInformacion').html(data);
              });
    
    }

    function ingresarOC()
    {
        let id_empresa         = $("#emisor").val();
        let id_monedaoc        = $("#id_monedaoc").val();
        let id_tipo_proveedor  = $("#id_tipo_proveedor").val();
        let id_solicitante     = $("#id_solicitante").val();
        let id_director        = $("#id_director").val();
        let id_centro_costo    = $("#id_centro_costo").val();
        let id_proyecto        = $("#id_proyecto").val();
        let id_etapa           = $("#id_etapa").val();
        let id_recepcionador   = $("#id_recepcionador").val();
        let numdias             = $("#numdias").val();
        let razonsocialpro      = $("#razonsocialpro").val();
        let conIVA              = $("#incluyeIVA").val();
        let observaciones       = $("#observaciones").val();


        //__________________________________________________

         let filas = $("#tableRequerimiento").find('tbody tr').length;


        if (filas == 0)
        {
            alert("Ingresar los requerimientos para generar una OC");
             return false;
        }

        if (id_centro_costo == "")
        {
            alert("Ingresar Centro Costo.");
             return false;
        }

        // 1 y 2 proveedores interno o externo 
        if (id_tipo_proveedor == 1 || id_tipo_proveedor == 2)
        {
            
            
            if (razonsocialpro == "")
            {
                //console.log("tipo razonsocialpro");
                return false;
            }
        }
        else if (id_tipo_proveedor == 3)
        {

        }
        else
        {
            //console.log("tipo proveedor");
            return false;
        }

        //  validar centro de costo 
        if (id_centro_costo == 2 || id_centro_costo == 3 || id_centro_costo == 4 || 
            id_centro_costo == 5 || id_centro_costo == 7 || id_centro_costo == 8)
        {
            if (id_proyecto == "" || id_etapa == "")
            {
                //console.log("centro costo");
                return false;
            }
        }
        // crear el objeto


        let informacion = {
            id_empresa,
            id_monedaoc,
            id_tipo_proveedor,
            id_solicitante,
            id_director,
            id_centro_costo,
            razonsocialpro : razonsocialpro,
            id_proyecto : id_proyecto,
            id_etapa : id_etapa,
            conIVA,
            observaciones
        };

         $("#ingresoOC").submit();

    }

    function verDetalleAprob(idIngresada, estado)
    {

         let informacion = {  id :  idIngresada , estado};

         $.ajax({
              type: 'post',
              url: '/solicitudes/verDetalleOrdenCompra',
              data: informacion,
              dataType: 'text'
               })
              .done(function (data) {
                $('#detalleOrdenCompraAprob').html(data);
              });



    }
    function verDetalle(idIngresada,estado)
    {
        
         let informacion = {  id :  idIngresada , estado};

         $.ajax({
              type: 'post',
              url: '/solicitudes/verDetalleOrdenCompra',
              data: informacion,
              dataType: 'text'
               })
              .done(function (data) {
                $('#detalleOrdenCompra').html(data);
              });

    }

    function cargaTipoCambio(id)
    {
        switch(id)
        {
            case 1:
            case "1":
             $("#tipocambio").val("1");
            break;
            default:
            $("#tipocambio").val("");
            break;
        }


    }
</script>

