<!--
  <link href='../../core/main.css' rel='stylesheet' />
  <link href='../../daygrid/main.css' rel='stylesheet' />
  <link href='../../list/main.css' rel='stylesheet' /> 
  <link href='../../timegrid/main.css' rel='stylesheet' />
  -->

<!--CSS-->
<style>
  html,
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  }

  #calendar {
    max-width: 100%;
    margin: 40px auto;
  }

  .headerToolbar {
    background-color: #fed300;

  }
  .close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
.close:not(:disabled):not(.disabled) {
    cursor: pointer;
}
button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}
</style>


<!--Codigo del FULL CALENDAR-->
<!--
  <script src='../core/main.js'></script>
  <script src='../interaction/main.js'></script>
  <script src='../../daygrid/main.js'></script>
  <script src='../../list/main.js'></script>
  <script src='../../timegrid/main.js'></script>
  <script src='../core/locales/es.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
  -->

<link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.min.css' rel='stylesheet' />
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.min.js"></script>
<script src='../core/locales/es.js'></script>




<!--Funcionalidad y uso de fullcalendar-->
<script>

  document.addEventListener('DOMContentLoaded', function () {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      headerToolbar: {
        left: 'prev,next',
        center: 'title',
        right: 'Miboton,Miboton2'
      },
      initialDate: new Date(),
      hiddenDays: [0, 6],
      contentHeight: 650,
      height: 650,
      customButtons: {
        Miboton: {
          text: "Ingresar Solicitud",
          click: function () {

            // ir a la base de datos preguntar lacantidad de dias que entrega 
            $.ajax({
              type: 'post',
              url: '/solicitudes/getDias',
              data: Object,
              dataType: 'text'
            })
              .done(function (data) {
                //console.log(data);
                $('#txtfecha').val(data);
              });

            // crear objeto dinamico que me entregue la información 
            
            $.ajax({
              type: 'post',
              url: '/solicitudes/getDiasEs',
              data: Object,
              dataType: 'text'
            })
              .done(function (data) {
                //console.log(data);
                $('#dinamicoDias').html(data);
              });


            $('#exampleModal').modal('toggle'); //Me muestra el formulario si esta oculto
          }
        },
        Miboton2: {
          text: "Revisar dias Ingresados",
          click: function () {

            // ir a la base de datos preguntar lacantidad de dias que entrega 
            $.ajax({
              type: 'post',
              url: '/solicitudes/getDiasIngresados',
              data: Object,
              dataType: 'text'
               })
              .done(function (data) {
                $('#listadoDias').html(data);
              });
            $('#exampleModal2').modal('toggle'); //Me muestra el formulario si esta oculto
          }
        }
      },
      events: '/solicitudes/eventos',
      dateClick: function (info) {
        // console.log(jsEvent);
        var diaSolicitado = calendar.formatDate(info.dateStr, {
          year: 'numeric',
          month: 'numeric',
          day: 'numeric'
        });

        var allEvents = calendar.getEvents();
        var exists = false;
        $.each(allEvents, function (index, value) {
          var diaEvento = calendar.formatDate(value.start, {
            year: 'numeric',
            month: 'numeric',
            day: 'numeric'
          });

          if (diaSolicitado == diaEvento)
            exists = true;

        });

        if (!exists) {
          calendar.addEvent({ date: info.dateStr });

          var informacion = [];
          const fecha = {
            dia: info.dateStr
          };
          informacion.push(fecha);
          $.ajax({
            type: 'post',
            url: '/solicitudes/ajaxAdd',
            contentType: 'application/json',
            data: JSON.stringify(informacion),
          });
        }

      },
    });
    calendar.setOption('locale', 'es');
    calendar.render();
  });

  function EliminarDia(id)
  {
    var informacion = [];
          const fecha = {
            dia: id
          };
          informacion.push(fecha);

     $.ajax(
            {
              type: 'post',
              url: '/solicitudes/eliminarDia',
              contentType: 'application/json',
              data: JSON.stringify(informacion),
            }
            );
     $.ajax({
              type: 'post',
              url: '/solicitudes/getDiasIngresados',
              data: Object,
              dataType: 'text'
               })
              .done(function (data) {
                $('#listadoDias').html(data);
              });
  }

  function ReloadPAgina()
  {
    location.reload();
  }
</script>


<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Vacaciones <small>Revisar dias ingresados</small> </h5>
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="listadoDias">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Vacaciones <small>Ingresar solicitud</small> </h5>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </button>
      </div>
      <div class="modal-body">
        <form action="/solicitudes/AddIngreso" method="POST">

          <div class="x_content">

            <div class="x_title">
              <div class="clearfix"></div>
              <br />
               <div class="form-group row">
                  <label for="staticEmail" class="col-sm-3 col-form-label">Aprobador * :</label>
                  <div class="col-sm-9">
                  <select class=" form-control" name="idAprobador" id="idAprobador">
                    {{#each usuarios}}
                        <option value="{{idUsuario}}">{{Nombre}}</option>
                    {{/each}}
                  </select>
                  </div>
               </div>  
               <div class="form-group row">
                 <label for="staticEmail" class="col-sm-3 col-form-label">Nº Dias * :</label>
                 <div class="col-sm-9">
                    <input type="txt" id="txtfecha" class="form-control" value="{{sol_selec_dias.fecha}}" name="txtfecha" Readonly />
                 </div>
               </div>
               <div id="dinamicoDias" name="dinamicoDias">
                  mostrar los dias dinamicamente 
               </div>
               <div class="form-group row">
                 <label for="staticEmail" class="col-sm-3 col-form-label">Informar * :</label>
                 <div class="col-sm-9">
                    <select class=" form-control" name="idInformar" id="idInformar">
                        {{#each usuarios}}
                        <option value="{{idUsuario}}">{{Nombre}}</option>
                        {{/each}}
                    </select>
                 </div>
               </div>           
               <div class="form-group row">
                  <label for="staticEmail" class="col-sm-3 col-form-label">Comentario * :</label>
                  <div class="col-sm-9">
                      <textarea type="txt" id="comentario" name="comentario" required="required" class="form-control" rows="5" cols="84"></textarea>
                  </div>
               </div>
            </div>
          </div>



          <!--</div>-->

          <!--</form>-->

          <div class="modal-footer">

            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="submit" id="btnAgregar" class="btn btn-warning">Agregar</button>
          </div>
      </div>
      </form>
    </div>
  </div>
</div>

<div class="x_panel">
  <div class="x_title">
    <h2>Ingreso de Vacaciones</h2>
    <ul class="nav navbar-right panel_toolbox">

      Ingresando&nbsp;<button style=" background-color: rgb(255, 243, 51)"></button>&nbsp;&nbsp;
      Solicitado&nbsp;<button style=" background-color: rgb(51, 196, 255)"></button>&nbsp;&nbsp;
      Aprobado&nbsp;<button style=" background-color:rgb(51, 255, 88)"></button>
    </ul>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">

    <div id='calendar' name="calendar" style="width: 70%;"></div>

  </div>
</div>