
<!--LISTAR-->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
  <script	src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyCXQ6ltnbOZRP3U7JH3evn5O5OnfR--O4I"></script>
 <style>
     .close {
            float: right;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1;
            color: #000;
            text-shadow: 0 1px 0 #fff;
            opacity: .5;
        }
        .close:not(:disabled):not(.disabled) {
            cursor: pointer;
        }
        button.close {
            padding: 0;
            background-color: transparent;
            border: 0;
            -webkit-appearance: none;
        }
 </style>
  <script>
        var nuevoalias = jQuery.noConflict();
	    nuevoalias(document).ready(function() {
	      nuevoalias( function() {
                nuevoalias( "#director" ).autocomplete({
                source: "buscarDirector/find=da",
                minLength: 2,
                select: function( event, ui ) {
                    nuevoalias('#id_director').val(ui.item.id);
                }
                });
                nuevoalias( "#jefe" ).autocomplete({
                source: "buscarJefe/find=da",
                minLength: 2,
                select: function( event, ui ) {
                    nuevoalias('#id_jefe').val(ui.item.id);
                }
                });
                nuevoalias( "#mandante" ).autocomplete({
                source: "buscarMandante/find=da",
                minLength: 2,
                select: function( event, ui ) {
                    nuevoalias('#id_mandante').val(ui.item.id);
                }
                });
                nuevoalias( "#cliente" ).autocomplete({
                source: "buscarCliente/find=da",
                minLength: 2,
                select: function( event, ui ) {
                    nuevoalias('#id_cliente').val(ui.item.id);
                }
                });
                nuevoalias( "#arquitecto" ).autocomplete({
                source: "buscarArquitecto/find=da",
                minLength: 2,
                select: function( event, ui ) {
                    nuevoalias('#id_arquitecto').val(ui.item.id);
                }
                });
                nuevoalias( "#revisor" ).autocomplete({
                source: "buscarRevisor/find=da",
                minLength: 2,
                select: function( event, ui ) {
                    nuevoalias('#id_revisor').val(ui.item.id);
                }
                });
            } );

            // 
            var searchInput = 'direccion';
            var autocomplete;
			    autocomplete = new google.maps.places.Autocomplete((document.getElementById(searchInput)), {
				                types: ['geocode'],
			});

            google.maps.event.addListener(autocomplete, 'place_changed', function () {
				var near_place = autocomplete.getPlace();
                
                    for (var i=0; i<near_place.address_components.length; i++)
                    {
                        if (near_place.address_components[i].types[0] === "country")
                        {
                            // Crear un objeto de busqueda para ver si el pais esta registrado en la base de datos.
                            var obt = { pais : near_place.address_components[i].long_name} ;
                             $.ajax({
                                            method:'POST',
                                            url : '/proyecto/buscarPais',
                                            data : obt,
                                            success : function(result)
                                            {
                                               if (result.estado === 0)
                                               {
                                                   alert("Pais no registrado");
                                               }
                                               else
                                               {
                                                   nuevoalias('#id_pais').val(result.id_pais);
                                                   //nuevoalias('#zona').html('<option value="A">CAREWE</option>');
                                                  var zona = "";
                                                  var suelo = "";
                                                  var categoria = "";
                                                  result.zona.forEach(element => zona += "<option value="+element.valor+">"+element.valor+"</option>");
                                                  result.suelo.forEach(element => suelo += "<option value="+element.valor+">"+element.valor+"</option>");
                                                  result.categoria.forEach(element => categoria += "<option value="+element.valor+">"+element.valor+"</option>");
                                                  nuevoalias('#zona').html(zona);
                                                  nuevoalias('#suelo').html(suelo);
                                                  nuevoalias('#categoria').html(categoria);
                                                  buscaCodigo();
                                               }
                                            }
                                     });

                        }
                    }
                nuevoalias('#loc_lat').val(near_place.geometry.location.lat());
                nuevoalias('#loc_long').val(near_place.geometry.location.lng());
			});


	});
  </script>



<div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
        <div class="x_title">
            <h2>Ingresar Proyecto<small></small></h2>
             <ul class="nav navbar-right panel_toolbox">
				<li><a onclick="window.history.go(-1); return false;"><i class="fa fa-arrow-circle-left"></i> Volver</a></li>
			</ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <form id="cargaProyecto" name="cargaProyecto" data-parsley-validate class="form-horizontal form-label-left" action="/proyecto/cargarProyecto" method="POST">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Datos Generales</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Datos Financieros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">Equipo Proyecto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Información APL</a>
            </li>
            </ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="form-group row">
          &nbsp;
      </div>
                    <div class="form-group row">
                        <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Destinatario">Año:</label>
							<div class="col-md-7 col-sm-7">
							    <select class="form-control" name="year" id="year" onchange="buscaCodigo();">
								    <option value="0">Ingrese año</option>
									<script>
										var d = new Date();
										var n = d.getFullYear();
										for (var i = n; i >= 2011; i--)
											document.write('<option value= '+i+'>' + i + '</option>');
									</script>
								</select>
							</div>
                    </div>
                    <div class="form-group row">
                            <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Direccion">Dirección:</label>
                            <div class="col-md-7 col-sm-7">
                                <input type="text" id="direccion" name="direccion"  class="form-control">
                                    <input type="hidden" name="loc_lat" id="loc_lat" />
								    <input type="hidden" name="loc_long" id="loc_long" />
                                    <input type="hidden" name="id_pais" id="id_pais"/>
                            </div>
                    </div>
                                         <div class="form-group row">
                         <label class="col-form-label col-md-3 col-sm-3 label-align">Tipo Servicio:</label>
									<div class="col-md-7 col-sm-7">
										<select class="select2_single form-control" tabindex="-1" name="id_servicio" id="id_servicio" onchange="buscaCodigo();">
                                             <option value="0">Ninguno</option>
                                            {{#each servicio}}
                                                <option value="{{id}}">{{descripcion}}</option>
                                            {{/each}}
                                        </select>
									</div>
                     </div>

                    <div class="form-group row">
                        <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Destinatario">Código:</label>
							<div class="col-md-7 col-sm-7">
                                <!--
							    <select class="form-control" name="code" id="code">
								    <option value="0">Ingrese código</option>
									<script>
										var n = 600;
										for (var i = n; i >= 1; i--)
											document.write('<option>' + i + '</option>');
									</script>

								</select>
                                -->
                                <input type="text" id="code" name="code"  class="form-control" readonly>
							</div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Destinatario">Nombre:</label>
							<div class="col-md-7 col-sm-7">
							    <input type="text" id="nombre" name="nombre"  class="form-control">
							</div>
                    </div>

                    <div class="form-group row">
                         <label class="col-form-label col-md-3 col-sm-3 label-align">Tipo Proyecto:</label>
									<div class="col-md-7 col-sm-7">
										<select class="select2_single form-control" tabindex="-1" name="id_tipo_proyecto" id="id_tipo_proyecto">
											<option value="0">Seleccione una opción</option>
											{{#each tipo}}
											<option value="{{id}}">{{descripcion}}</option>
											{{/each}}
										</select>
									</div>
                     </div>




                     <div class="form-group row">
									<label class="col-form-label col-md-3 col-sm-3 label-align">Estado:</label>
									<div class="col-md-7 col-sm-7">
										<select class="select2_single form-control" tabindex="-1" name="id_Estado" id="id_Estado">
											<option value="0">Seleccione una opción</option>
											{{#each estado}}
											<option value="{{id}}">{{descripcion}}</option>
											{{/each}}
										</select>
									</div>
					    </div>
                    <div class="form-group row">
                            <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Destinatario">Superficie Preliminar:</label>
                                <div class="col-md-1 col-sm-1">
                                    <input type="number" id="superficie_pre" name="superficie_pre" class="form-control" onchange="ModificaValorProyecto(2);">
                                </div>
                                <label class="col-form-label col-md-2 col-sm-2" for="Destinatario"> m<sup>2</sup></label>
                    </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-3 col-sm-3 label-align">Complejidad:</label>
                                <div class="col-md-7 col-sm-7">
                                                        <select class="select2_single form-control" tabindex="-1" name="id_Complejidad" id="id_Complejidad">
                                                            <option value="0">Seleccione una opción</option>
                                                            
                                                            <option value="1">Baja</option>
                                                            <option value="2">Media</option>
                                                            <option value="3">Alta</option>
                                                            
                                                        </select>
                                </div>
                        </div>
                    <div class="form-group row">
                        <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Destinatario">Nº Pisos</label>
                            <div class="col-md-7 col-sm-7">
                                <input type="number" id="num_pisos" name="num_pisos"  class="form-control">
                            </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Destinatario">Nº Subterráneos</label>
                            <div class="col-md-7 col-sm-7">
                                <input type="number" id="num_subte" name="num_subte"  class="form-control">
                            </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-9 col-sm-9">
                        
                        </div>
                    <div class="col-md-1 col-sm-1">
                        <button type="button" class="btn btn-secondary btn-sm" onclick="cargaTab(2);">Siguiente</button>
                    </div>
                    </div>
  </div>
  <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="form-group row">
            &nbsp;
        </div>
        <div class="form-group row">
            <div class="col-md-12 col-sm-12 ">
                <div class="col-md-6 col-sm-6 ">
                    <div class="form-group row">
                            <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Destinatario">Tipo Moneda Cobro:</label>
                                <div class="col-md-5 col-sm-5">
                                    <select class="select2_single form-control" tabindex="-1" name="id_tipo_cobro" id="id_tipo_cobro" onchange="ModificaTipoCobro();">
                                        <option value="1">Pesos Chilenos</option>
                                        <option value="2">Dolar americano</option>
                                        <option value="4" selected >Unidad de Fomento</option>
                                        <option value="10">Sol</option>
                                    </select>
                                </div>
                    </div>
                    <div class="form-group row">
                            <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Destinatario">Valor x m2:</label>
                                <div class="col-md-5 col-sm-5">
                                    <input type="text" id="valor_x_m2" name="valor_x_m2"  class="form-control" onchange="ModificaValorProyecto(1);">
                                </div>
                                <label class="col-form-label col-md-2 col-sm-2" for="Destinatario" id="monedaM2" name="monedaM2">UF/ m<sup>2</sup></label>
                    </div>
                    <div class="form-group row">
                            <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Destinatario">Superficie Preliminar:</label>
                                <div class="col-md-5 col-sm-5">
                                    <input type="number" id="superficie_pre_r" name="superficie_pre_r" class="form-control" readonly>
                                </div>
                                <label class="col-form-label col-md-2 col-sm-2" for="Destinatario"> m<sup>2</sup></label>
                    </div>
                    <div class="form-group row">
                            <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Destinatario">Valor del Proyecto:</label>
                                <div class="col-md-5 col-sm-5">
                                    <input type="text" id="valor_proyecto" name="valor_proyecto"  class="form-control" onchange="ModificaValorProyecto(3);">
                                </div>
                                <label class="col-form-label col-md-2 col-sm-2" for="Destinatario" id="monedaTipo" name="monedaTipo"> UF</label>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 ">
                        <div class="form-group row">
                             <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Destinatario">Fecha Inicio:</label>
                                <div class="col-md-6 col-sm-6">
                                    <input type="date" id="fecha_inicio" name="fecha_inicio"  class="form-control" onchange="fechaInicio();">
                                </div>
                        </div>
                </div>
            </div>
        </div>
         <div class="form-group row">
             <div class="col-md-1 col-sm-1">
                 <button type="button" class="btn btn-secondary btn-sm" onclick="cargaTab(1);">Anterior</button>
             </div>
                        <div class="col-md-9 col-sm-9">
                        
                        </div>
                    <div class="col-md-1 col-sm-1">
                        <button type="button" class="btn btn-secondary btn-sm" onclick="cargaTab(3);">Siguiente</button>
                    </div>
        </div>
  </div>
  <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">
      <div class="form-group row">
          &nbsp;
      </div>
                          <div class="form-group row">
                        <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Destinatario" id="eDirector">Director Proyecto:</label>
							<div class="col-md-8 col-sm-8">
							    <input id="director" name="director"  class="form-control">
                                <input type="hidden" id="id_director" name="id_director" value="0">
							</div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Destinatario" id="eJefe">Jefe Proyecto:</label>
							<div class="col-md-8 col-sm-8">
							    <input id="jefe" name="jefe"  class="form-control">
                                <input type="hidden" id="id_jefe" name="id_jefe" value="0">
							</div>
                    </div>
                  
                    <div class="form-group row">
                        <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Destinatario" id="eclienteContacto">Cliente / Contacto:</label>
							<div class="col-md-8 col-sm-8">
							    <input id="cliente" name="cliente"  class="form-control">
                                <input type="hidden" id="id_cliente" name="id_cliente" required="required" class="form-control" value="0">
							</div>
                            <div class="col-md-1 col-sm-1">
                                <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#ver" onclick="verFormulario();"><i class="fa fa-user-plus"></i></button>
                                <!-- Modal -->
                                    <div class="modal fade" id="ver" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle">Agregar Contacto</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                            <div class="modal-body">
                                                   <form name="vContacto" id="vContacto">
                                                        <table width="100%">										
                                                            <tr>
                                                                <td></td>
                                                                <td style="padding-right:5px;" align=right class="PopUpCheck">Nombre</td>
                                                                <td colspan="3" class="PopUpCheck"> 
                                                                    <input class="form-control" placeholder="Nombre Contancto" id="iNombreContacto" required name="iNombreContacto" onkeypress="desactivaIngreso();"> 
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan=6 style="padding-top:5px;" align=center class="PopUpCheck">
                                                                <table>
                                                                    <tr>
                                                                        <td style="padding-right:5px;"><label>Comprobar&nbsp; similitud : </label></td>
                                                                        <td><button type="button" class="btn btn-warning" onclick="VerificarIngreso();">Verificar</button></td>
                                                                    </tr>
                                                                </table>
                                                                </td>
                                                                                                            
                                                            </tr>									
                                                            <tr>
                                                                <td id="respVerificacion" colspan="6">
                                                                                                            
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </form>	
                                            </div>
                                            </div>
                                        </div>
                                        </div>

                            </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Destinatario" id="eArquitecto">Arquitecto:</label>
							<div class="col-md-8 col-sm-8">
							    <input id="arquitecto" name="arquitecto" class="form-control">
                                <input type="hidden" id="id_arquitecto" name="id_arquitecto"  class="form-control" value="0">
							</div>
                    </div>
                     <div class="form-group row">
                    <div class="col-md-3 col-sm-3">
                    </div>
                    <div class="col-md-1 col-sm-1">
                        <button type="button" class="btn btn-secondary btn-sm" onclick="cargaTab(2);">Anterior</button>
                    </div>
                        <div class="col-md-7 col-sm-7">
                        
                        </div>
                    <div class="col-md-1 col-sm-1">
                        <button type="button" class="btn btn-secondary btn-sm" onclick="cargaTab(4);">Siguiente</button>
                    </div>
                    </div>
  </div>
  <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">
      <div class="form-group row">
          &nbsp;
      </div>
        <div class="form-group row" id="erevisor">
                        <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Destinatario">Revisor:</label>
							<div class="col-md-7 col-sm-7">
							    <input id="revisor" name="revisor"  class="form-control">
                                <input type="hidden" id="id_revisor" name="id_revisor" class="form-control" value="0">
							</div>
        </div>

        <div class="form-group row" id="eFechaEstimadaApc">
                             <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Destinatario">Fecha Estimada APC:</label>
                                <div class="col-md-2 col-sm-2">
                                    <input type="date" id="fecha_termino" name="fecha_termino"  class="form-control" onchange="fechaTermino();">
                                </div>
        </div>
        <div class="form-group row">
                             <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Destinatario" id="efechaEntregaApl">Fecha Entrega APL:</label>
                                <div class="col-md-2 col-sm-2">
                                    <input type="date" id="fecha_entrega" name="fecha_entrega"  class="form-control">
                                </div>
                        </div>

        <div class="form-group row" id="esuperficie">
            <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Destinatario">Superficie APL</label>
				<div class="col-md-7 col-sm-7">
				    <input type="number" id="superficie_apl" name="superficie_apl"  class="form-control">
				</div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Destinatario">Zona</label>
				<div class="col-md-7 col-sm-7">
				   <!--  <input type="text" id="zona" name="zona"  class="form-control"> -->
                   <select class="select2_single form-control" tabindex="-1" name="zona" id="zona">
						<option value="0">Ingrese una dirección</option>							
					</select>
				</div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Destinatario">Suelo</label>
				<div class="col-md-7 col-sm-7">
				    <!-- <input type="text" id="suelo" name="suelo"  class="form-control">-->
                    <select class="select2_single form-control" tabindex="-1" name="suelo" id="suelo">
						<option value="0">Ingrese una dirección</option>							
					</select>
				</div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Destinatario">Categoria</label>
				<div class="col-md-7 col-sm-7">
				    <!--<input type="text" id="categoria" name="categoria"  class="form-control">-->
                    <select class="select2_single form-control" tabindex="-1" name="categoria" id="categoria">
						<option value="0">Ingrese una dirección</option>							
					</select>
				</div>
        </div>
        <div class="form-group row" id="eplanos">
            <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Destinatario">Nº Planos Estimado</label>
				<div class="col-md-7 col-sm-7">
				    <input type="number" id="num_planos_estimado" name="num_planos_estimado"  class="form-control">
				</div>
        </div>
         <div class="form-group row">
                    <div class="col-md-3 col-sm-3">
                    </div>
                    <div class="col-md-1 col-sm-1">
                        <button type="button" class="btn btn-secondary btn-sm" onclick="cargaTab(3);">Prev</button>
                    </div>
                        <div class="col-md-4 col-sm-4">
                        
                        </div>
                    <div class="col-md-1 col-sm-1">
                        <button type="button" class="btn btn-success btn-sm" onclick="validarFormulario();">Ingresar</button>
                    </div>
                    </div>


</div>
            
                <!--
                <div class="form-group row">
                    <div class="col-md-5 col-sm-5">
                        
                    </div>
                    <div class="col-md-5 col-sm-5">
                        <button type="button" class="btn btn-success btn-sm" onclick="validarFormulario();">Ingresar</button>
                    </div>
                </div>
                -->
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<script>
    function ModificaTipoCobro ()
    {
        var id_tipo           = $( "#id_tipo_cobro" ).val();

        switch(id_tipo)
        {
            case "1":
            case 1:
            // "$"
            $( "#monedaTipo" ).html("$");
            $( "#monedaM2" ).html("$ /m<sup>2</sup>");
            break;
            case "2":
            case 2:
            // "US$"
            $( "#monedaTipo" ).html("US$");
            $( "#monedaM2" ).html("US$ /m<sup>2</sup>");
            break;
            case "4":
            case 4:
            // "UF"
            $( "#monedaTipo" ).html("UF");
            $( "#monedaM2" ).html("UF /m<sup>2</sup>");
            break;
            case "10":
            case 10:
            // "S/"
            $( "#monedaTipo" ).html("S");
            $( "#monedaM2" ).html("S /m<sup>2</sup>");
            break;
        }

    }
    function ModificaValorProyecto( dato )
    {
        var valor_x_m2    = $( "#valor_x_m2" ).val();
        var superficie    = $( "#superficie_pre" ).val();
        var valor_pro    = $( "#valor_proyecto" ).val();

         $( "#superficie_pre_r" ).val($("#superficie_pre" ).val());
       
        if((valor_x_m2 !== null && valor_x_m2 !== '' )
            && (superficie !== null && superficie !== '' )
            && (valor_pro !== null && valor_pro !== '' ))
            {
                switch(dato)
                {
                    case 1:$( "#valor_proyecto" ).val(valor_x_m2 * superficie );break;
                    case 2:$( "#valor_x_m2" ).val(valor_pro / superficie );break;
                    case 3:$( "#valor_x_m2" ).val(valor_pro / superficie ); break;
                }
            }
        else if((valor_x_m2 !== null && valor_x_m2 !== '' )
            && (superficie !== null && superficie !== '' ))
            {
                var vproyecto = valor_x_m2 * superficie;
                $( "#valor_proyecto" ).val(vproyecto);
            }
        else if((valor_pro !== null && valor_pro !== '')
            && (superficie !== null && superficie !== '' ))
            {
                var vxm2 = valor_pro / superficie;
                $( "#valor_x_m2" ).val(vxm2);
            }
    }
function validarFormulario()
{
    // DATOS GENERALES 
    var annio           = $( "#year" ).val();
    var codigo          = $( "#code" ).val();
    var nombre          = $( "#nombre" ).val();
    var tipoProyecto    = $( "#id_tipo_proyecto" ).val();
    var tipoServicio    = $( "#id_servicio" ).val();
    var estado          = $( "#id_Estado" ).val();
    var direccion       = $( "#direccion" ).val();
    var id_Complejidad  = $( "#id_Complejidad" ).val();
    var num_pisos       = $( "#num_pisos" ).val();
    var num_subte       = $( "#num_subte" ).val();
    
    


    var estadoEnvio = true;

   // validar 
   //$("#year").css({'border-color': '#dc3545'}); // ROJO #dc3545  // VERDE #28a745
   // alert(codigo);
    if(annio !== null && annio !== '' && annio !== '0') {$("#year").css({'border-color': '#28a745'});} else {$("#year").css({'border-color': '#dc3545'}); estadoEnvio = false;} 
    if(codigo !== null && codigo !== '' && codigo !== '0') {$("#code").css({'border-color': '#28a745'});} else {$("#code").css({'border-color': '#dc3545'}); estadoEnvio = false;}
    if(nombre !== null && nombre !== '') {$("#nombre").css({'border-color': '#28a745'});} else {$("#nombre").css({'border-color': '#dc3545'});estadoEnvio = false;}
    //if(tipoProyecto !== null && tipoProyecto !== '' && tipoProyecto !== '0') {$("#id_tipo_proyecto").css({'border-color': '#28a745'});} else {$("#id_tipo_proyecto").css({'border-color': '#dc3545'});estadoEnvio = false;}
    if(tipoServicio !== null && tipoServicio !== '' && tipoServicio !== '0') {$("#id_servicio").css({'border-color': '#28a745'});} else {$("#id_servicio").css({'border-color': '#dc3545'});estadoEnvio = false;}
    //if(estado !== null && estado !== '' && estado !== '0') {$("#id_Estado").css({'border-color': '#28a745'});} else {$("#id_Estado").css({'border-color': '#dc3545'});estadoEnvio = false;}
    if(direccion !== null && direccion !== '' ) {$("#direccion").css({'border-color': '#28a745'});} else {$("#direccion").css({'border-color': '#dc3545'});estadoEnvio = false;}
    //if(id_Complejidad !== null && id_Complejidad !== '' && id_Complejidad !== '0') {$("#id_Complejidad").css({'border-color': '#28a745'});} else {$("#id_Complejidad").css({'border-color': '#dc3545'});estadoEnvio = false;}
    //if(num_pisos !== null && num_pisos !== '') {$("#num_pisos").css({'border-color': '#28a745'});} else {$("#num_pisos").css({'border-color': '#dc3545'});estadoEnvio = false;}
    //if(num_subte !== null && num_subte !== '') {$("#num_subte").css({'border-color': '#28a745'});} else {$("#num_subte").css({'border-color': '#dc3545'});estadoEnvio = false;}
    

    // DATOS FINANCIEROS 
    var valorxmts     = $( "#valor_x_m2" ).val();
    var valorproyecto = $( "#valor_proyecto" ).val();
    var superficie    = $( "#superficie_pre" ).val();
    var finicio       = $( "#fecha_inicio" ).val();
    var fentrega      = $( "#fecha_entrega" ).val();
    var ftermino      = $( "#fecha_termino" ).val();

    //if(valorxmts !== null && valorxmts !== '' ) {$("#valor_x_m2").css({'border-color': '#28a745'});} else {$("#valor_x_m2").css({'border-color': '#dc3545'});estadoEnvio = false;}
    //if(valorproyecto !== null && valorproyecto !== '' ) {$("#valor_proyecto").css({'border-color': '#28a745'});} else {$("#valor_proyecto").css({'border-color': '#dc3545'});estadoEnvio = false;}
    //if(superficie !== null && superficie !== '' ) {$("#superficie_pre").css({'border-color': '#28a745'});} else {$("#superficie_pre").css({'border-color': '#dc3545'});estadoEnvio = false;}
    //if(finicio !== null && finicio !== '' ) {$("#fecha_inicio").css({'border-color': '#28a745'});} else {$("#fecha_inicio").css({'border-color': '#dc3545'});estadoEnvio = false;}
    //if(fentrega !== null && fentrega !== '' ) {$("#fecha_entrega").css({'border-color': '#28a745'});} else {$("#fecha_entrega").css({'border-color': '#dc3545'});estadoEnvio = false;}
    //if(ftermino !== null && ftermino !== '' ) {$("#fecha_termino").css({'border-color': '#28a745'});} else {$("#fecha_termino").css({'border-color': '#dc3545'});estadoEnvio = false;}

    // EQUIPO PROYECTO 
     var director       = $( "#id_director" ).val();
     var jefe           = $( "#id_jefe" ).val();
     //var mandante       = $( "#id_mandante" ).val();
     var cliente        = $( "#id_cliente" ).val();
     var arquitecto     = $( "#id_arquitecto" ).val();
     var revisor        = $( "#id_revisor" ).val();

    //if(director !== null && director !== '' ) {$("#director").css({'border-color': '#28a745'});} else {$("#director").css({'border-color': '#dc3545'});estadoEnvio = false;}
    //if(jefe !== null && jefe !== '' ) {$("#jefe").css({'border-color': '#28a745'});} else {$("#jefe").css({'border-color': '#dc3545'});estadoEnvio = false;}
    //if(mandante !== null && mandante !== '' ) {$("#mandante").css({'border-color': '#28a745'});} else {$("#mandante").css({'border-color': '#dc3545'});estadoEnvio = false;}
    //if(cliente !== null && cliente !== '' ) {$("#cliente").css({'border-color': '#28a745'});} else {$("#cliente").css({'border-color': '#dc3545'});estadoEnvio = false;}
    //if(arquitecto !== null && arquitecto !== '' ) {$("#arquitecto").css({'border-color': '#28a745'});} else {$("#arquitecto").css({'border-color': '#dc3545'});estadoEnvio = false;}
    //if(revisor !== null && revisor !== '' ) {$("#revisor").css({'border-color': '#28a745'});} else {$("#revisor").css({'border-color': '#dc3545'});estadoEnvio = false;}

    // 

    if (estadoEnvio)
    {
        // realizar el envio 
        $( "#cargaProyecto" ).submit();
    }
    else
    {
        toastr.warning('Ingrese los datos requeridos en Datos Generales.', 'Mensaje', {
            "progressBar": true
        });
    }
}

function fechaInicio ()
{
    // preguntar información.
    var valorFechaTermino   =  $( "#fecha_termino" ).val();
    var valorFechaInicio    =  $( "#fecha_inicio" ).val();

    if (valorFechaTermino != "")
    {
        const termino = new Date(valorFechaTermino);
        const inicio = new Date(valorFechaInicio);
        const diffTime = termino - inicio;
        const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24)); 
        if (diffDays < 0)
        {
            alert("La fecha de inicio no puede ser mayor a la fecha de termino");
            $( "#fecha_inicio" ).val("");
        }
    }
}

function cargaTab(tab)
{
    switch(tab)
    {
        case 1:
        $( "#home" ).addClass('tab-pane active');
        $( "#home-tab" ).addClass('nav-link active');

        $( "#profile-tab" ).removeClass('nav-link active');
        $( "#profile-tab" ).addClass('nav-link');
        $( "#profile" ).removeClass('tab-pane active');
        $( "#profile" ).addClass('tab-pane');
        break;

        case 2:
        $( "#profile" ).addClass('tab-pane active');
        $( "#profile-tab" ).addClass('nav-link active');

        $( "#home-tab" ).removeClass('nav-link active');
        $( "#home-tab" ).addClass('nav-link');
        $( "#home" ).removeClass('tab-pane active');
        $( "#home" ).addClass('tab-pane');

        $( "#messages-tab" ).removeClass('nav-link active');
        $( "#messages-tab" ).addClass('nav-link');
        $( "#messages" ).removeClass('tab-pane active');
        $( "#messages" ).addClass('tab-pane');
        
        break;

        case 3:
        $( "#messages" ).addClass('tab-pane active');
        $( "#messages-tab" ).addClass('nav-link active');

        $( "#profile-tab" ).removeClass('nav-link active');
        $( "#profile-tab" ).addClass('nav-link');
        $( "#profile" ).removeClass('tab-pane active');
        $( "#profile" ).addClass('tab-pane');
        
        $( "#settings-tab" ).removeClass('nav-link active');
        $( "#settings-tab" ).addClass('nav-link');
        $( "#settings" ).removeClass('tab-pane active');
        $( "#settings" ).addClass('tab-pane');
        break;

        case 4:
        $( "#settings" ).addClass('tab-pane active');
        $( "#settings-tab" ).addClass('nav-link active');

        $( "#messages-tab" ).removeClass('nav-link active');
        $( "#messages-tab" ).addClass('nav-link');
        $( "#messages" ).removeClass('tab-pane active');
        $( "#messages" ).addClass('tab-pane');
        break;


    }
}

function fechaTermino ()
{
    // preguntar información.
    var valorFechaTermino   =  $( "#fecha_termino" ).val();
    var valorFechaInicio    =  $( "#fecha_inicio" ).val();

    if (valorFechaInicio != "")
    {
        const termino = new Date(valorFechaTermino);
        const inicio = new Date(valorFechaInicio);
        const diffTime = termino - inicio;
        const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24)); 
        if (diffDays < 0)
        {
            alert("La fecha de termino no puede ser menor a la fecha de inicio");
            $( "#fecha_termino" ).val("");
        }
    }
}

function buscaCodigo()
{
    // buscar la informacion del codigo de proyecto
    var year       =  $( "#year" ).val();
    var pais       =  $( "#id_pais" ).val();
    var servicio   =  $( "#id_servicio" ).val();

    cargaServicio(servicio);

    if ((year != "" && year > 0)
    && (pais != "" && pais > 0)
    && (servicio != "" && servicio > 0))
    {
       var obt = { year : year, pais:pais,servicio:servicio  } ;
                             $.ajax({
                                            method:'POST',
                                            url : '/proyecto/buscarCodigo',
                                            data : obt,
                                            success : function(result)
                                            {
                                                $( "#code" ).val(result); 
                                            }
                                     });
    }


}

function cargaServicio(id_servicio)
{
    let pais       =  $( "#id_pais" ).val();
    if (id_servicio != 0)
    {
        if (id_servicio == 2) // coordinación cambiar los labels 
        {
            $("#settings-tab").html("Entrega");
            $("#eplanos").hide();
            $("#erevisor").hide();
            $("#esuperficie").hide();
            $("#eFechaEstimadaApc").hide();

            $("#eDirector").html("Profesional Responsable:");
            $("#eJefe").html("Coordinador:");
            $("#eclienteContacto").html("Ingeniero Revisor:");

            if (pais == 1)
            {
                $("#eArquitecto").html("Calculista:");
            }
            else if (pais == 6)
            {
                $("#eArquitecto").html("Cliente:");
            }
            else
            {
                $("#eArquitecto").html("Calculista:");
            }
            
            $("#efechaEntregaApl").html("Fecha Entrega:");

            // Ingeniero Revisor sera por centros de costos
                nuevoalias( "#cliente" ).autocomplete({
                    source: "buscarIngRev/find=da",
                    minLength: 2,
                    select: function( event, ui ) {
                        nuevoalias('#id_cliente').val(ui.item.id);
                    }
                    });
            


            // Prof a cargo Mariane y Luis
            if (pais == 6)
            {
                nuevoalias( "#director" ).autocomplete({
                source: "buscarProAPe/find=da",
                minLength: 2,
                select: function( event, ui ) {
                    nuevoalias('#id_director').val(ui.item.id);
                }
                }); 

                 nuevoalias( "#jefe" ).autocomplete({
                source: "buscarCoordPe/find=da",
                minLength: 2,
                select: function( event, ui ) {
                    nuevoalias('#id_jefe').val(ui.item.id);
                }
                });

            }
            else
            {
                nuevoalias( "#director" ).autocomplete({
                    source: "buscarProA/find=da",
                    minLength: 2,
                    select: function( event, ui ) {
                        nuevoalias('#id_director').val(ui.item.id);
                    }
                    });   

                    // Coordinador solo simon
                nuevoalias( "#jefe" ).autocomplete({
                source: "buscarCoord/find=da",
                minLength: 2,
                select: function( event, ui ) {
                    nuevoalias('#id_jefe').val(ui.item.id);
                }
                });

            }

            
        }
        else
        {
            $("#settings-tab").html("Información APL");
            $("#eplanos").show();
            $("#erevisor").show();
            $("#esuperficie").show();
            $("#eFechaEstimadaApc").show();

            $("#eDirector").html("Director Proyecto:");
            $("#eJefe").html("Jefe Proyecto:");
            $("#eclienteContacto").html("Cliente / Contacto:");
            $("#eArquitecto").html("Arquitecto:");
            $("#efechaEntregaApl").html("Fecha Entrega APL:");

            nuevoalias( "#director" ).autocomplete({
                source: "buscarDirector/find=da",
                minLength: 2,
                select: function( event, ui ) {
                    nuevoalias('#id_director').val(ui.item.id);
                }
                });

            nuevoalias( "#jefe" ).autocomplete({
                source: "buscarJefe/find=da",
                minLength: 2,
                select: function( event, ui ) {
                    nuevoalias('#id_jefe').val(ui.item.id);
                }
                });

            nuevoalias( "#cliente" ).autocomplete({
                source: "buscarCliente/find=da",
                minLength: 2,
                select: function( event, ui ) {
                    nuevoalias('#id_cliente').val(ui.item.id);
                }
                });


        }
        
    }
}

function verFormulario()
{
$('.PopUpCheck').show();
$('#respVerificacion').html('');
$('#iNombreContacto').val(''); 

}
function VerificarIngreso ( )
{
	
	var INombreContacto = $("#iNombreContacto").val();
	$('#buttonInsertContacto').show();
	$('#buttonVolver').hide();
	if ( iNombreContacto != "")
	{


		var TableContactoForm = '';
			$.ajax({
							async: false,
							type : 'POST', 
							url	 : "/costos/ajaxNombre", 
							data : "NombreContacto="+INombreContacto,
							success : function (resultado) 
								{ 
		
									TableContactoForm = resultado; 
									ActivaIngresoContacto ();
								} 
						});
						
		if (TableContactoForm === "1")
		{
			document.getElementById("respVerificacion").innerHTML = "";
			FormIngresoContacto();
		}
		else
		{
			document.getElementById("respVerificacion").innerHTML = TableContactoForm;
		}
	}
	else
	{
		// Sin nombre 
	
	}
	
	$( "#buttonCerrar" ).removeClass( "btn btn-primary" ).addClass( "btn btn-default" );
	
	
}

function ActivaIngresoContacto ()
{

	$("#buttonInsertContacto").removeAttr("disabled");
}

function desactivaIngreso ()
{
	$('#buttonInsertContacto').attr('disabled','disabled');
	//--------------------------------------------------------->
}

function FormIngresoContacto()
{
	

	$.ajax({
							async: false,
							type : 'POST', 
							url	 : "/contacto/ajaxNombre", 
							data : "NombreContacto="+INombreContacto,
							success : function (resultado) 
								{ 
		
									TableContactoForm = resultado; 
									ActivaIngresoContacto ();
								} 
						});


	document.getElementById("respVerificacion").innerHTML = '';
	var INombreContacto = $("#iNombreContacto").val();
	var TableContactoForm = '';
	$.ajax
		(
			{
				async: false,
				type : 'POST', 
				url	 : "/contacto/bFormIngreso", 
				data : "iNombreContacto="+INombreContacto,
					success : function (resultado) 
						{ 
		
							TableContactoForm = resultado; 
							ActivaIngresoContacto ();
						} 
			}
		);
	
	document.getElementById("respVerificacion").innerHTML = TableContactoForm;
	
	$('#buttonInsertContacto').hide();
	$('#buttonVolver').show();
	// cambiar clase al boton Cerrar para seguir con una misma linea de colores
	$( "#buttonCerrar" ).removeClass( "btn btn-default" ).addClass( "btn btn-primary" );
	// ocultar div de check similitud 
	$('.PopUpCheck').hide();
}

function InsertarContactoCloseForm ()
{
	var obj	= creaObjetoContacto();
	
	var TableContactoForm = '';
	$.ajax
		(
			{
				async: false,
				type : 'POST', 
				url	 : "/contacto/addContacto", 
				data : obj,
					success : function (resultado) 
						{ 
							TableContactoForm = resultado; 
							 //location.reload();
                             //$("#ver").close();
                              $('#ver').modal('hide');
                             toastr.success('Contacto Agregado', 'Mensaje', {
                                            "progressBar": true
                                        });
						} 
			}
		);

	// revisar el reeenvio. 

	
}
function creaObjetoContacto ()
{
	var obj = new Object();
		var nombre 		    	= $( "#iNombreContacto" );
		var direccion	   	 	= $( "#iDireccionContacto" );
		var telefono	    	= $( "#iTelefonoContacto" );
		var tipo_conctacto  	= $( "#iTipoContacto" );
		var empresa_asociada  	= $( "#iEmpresaAsociada" );
		var movil	    		= $( "#iMovilContacto" );
		var url   				= $( "#iUrlContacto" );
		var e_mail 				= $( "#iMailContacto" );
		var comentario			= $( "#iComentarioContacto" );
		//var concepto			= $( "#concepto" );
		var concepto = "";
				$('input[name="concepto[]"]:checked').each(function() {
					concepto += $(this).val() + ",";
				});
	
	obj.nombre			= nombre.val(); 
	obj.direccion		= direccion.val(); 
	obj.telefono		= telefono.val(); 
	obj.tipo_conctacto	= tipo_conctacto.val(); 
	obj.empresa_asociada = empresa_asociada.val(); 
	obj.movil			= movil.val(); 
	obj.url				= url.val(); 
	obj.e_mail			= e_mail.val(); 
	obj.comentario		= comentario.val(); 
	obj.concepto		= concepto; 
	
	return obj;	
}

</script>

