<head>
  <style>
    #exampleModal {
      position: fixed;
      background: rgba(0, 0, 0, 0.7);
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="x_panel">
      <div class="x_title">
        <h2>Proyectos
          <!--<small>Listado de proyectos</small>-->
        </h2>
        <!-- Button trigger modal -->
        <div style="text-align: right;width:1020px">
          <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#exampleModal">
            Filtros avanzados
          </button>
        </div>

        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <br />
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Filtros avanzados</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="form-group row">
                <div class="col-md-12 col-sm-15 ">
                  <div class="modal-body">
                    <div class="col-md-6 col-sm-6 ">
                      <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="Destinatario">Año:</label>
                        <div class="col-md-7 col-sm-7">
                          <select class="form-control" name="year" id="year">
                            <option>Seleccione una opción</option>
                            <script>
                              var d = new Date();
                              var n = d.getFullYear();
                              for (var i = n; i >= 2011; i--)
                                document.write('<option>' + i + '</option>');
                            </script>

                          </select>
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="code">Codigo<span
                            class="required">*</span>
                        </label>
                        <div class="col-md-7 col-sm-7 ">
                          <input type="number" id="code" name="code" required="required" class="form-control">
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="nombre">Nombre:<span
                            class="required">*</span>
                        </label>
                        <div class="col-md-7 col-sm-7 ">
                          <input type="text" id="nombre" name="nombre" required="required" class="form-control">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-form-label col-md-3 col-sm-3 label-align">Tipo:</label>
                        <div class="col-md-7 col-sm-7">
                          <select class="select2_single form-control" tabindex="-1" name="id_Tipo" id="id_Tipo">
                            <option>Seleccione una opción</option>
                            {{#each tipo}}
                            <option value="{{id}}">{{descripcion}}</option>
                            {{/each}}
                          </select>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-form-label col-md-3 col-sm-3 label-align">Estado:</label>
                        <div class="col-md-7 col-sm-7">
                          <select class="select2_single form-control" tabindex="-1" name="id_Estado" id="id_Estado">
                            <option>Seleccione una opción</option>
                            {{#each estado}}
                            <option value="{{id}}">{{descripcion}}</option>
                            {{/each}}
                          </select>
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="SuperficiePPTO">Superficie
                          PPTO:<span class="required">*</span>
                        </label>
                        <div class="col-md-7 col-sm-7 ">
                          <input type="number" id="SuperficiePPTO" name="SuperficiePPTO" required="required"
                            class="form-control">
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="SuperficieAPC">Superficie
                          APC:<span class="required">*</span>
                        </label>
                        <div class="col-md-7 col-sm-7 ">
                          <input type="number" id="SuperficieAPC" name="SuperficieAPC" required="required"
                            class="form-control">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-form-label col-md-3 col-sm-3 label-align">País:</label>
                        <div class="col-md-7 col-sm-7">
                          <select class="select2_single form-control" tabindex="-1" name="id_Pais" id="id_Pais">
                            <option>Seleccione una opción</option>
                            {{#each pais}}
                            <option value="{{id}}">{{pais}}</option>
                            {{/each}}
                          </select>
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="Ciudad">Ciudad:<span
                            class="required">*</span>
                        </label>
                        <div class="col-md-7 col-sm-7 ">
                          <input type="text" id="Ciudad" name="Ciudad" required="required" class="form-control">
                        </div>
                      </div>
                      <!-- Autocomplete location search input -->
                      <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="Ubicacion">Ubicación:
                          <span class="required">*</span>
                        </label>
                        <div class="col-md-7 col-sm-7 ">
                          <input type="text" class="form-control" id="search_input" name="Ubicacion"
                            placeholder="Escriba la dirección..." />
                          <input type="hidden" id="loc_lat" />
                          <input type="hidden" id="loc_long" />
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="Npisos">N°
                          Pisos:<span class="required">*</span>
                        </label>
                        <div class="col-md-7 col-sm-7 ">
                          <input type="number" id="Npisos" name="Npisos" required="required" class="form-control">
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="Nsubterraneo">N°
                          Subterraneo:<span class="required">*</span>
                        </label>
                        <div class="col-md-7 col-sm-7 ">
                          <input type="number" id="Nsubterraneo" name="Nsubterraneo" required="required"
                            class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6 ">
                      <div class="form-group row">
                        <label class="col-form-label col-md-3 col-sm-3 label-align">Director de
                          Proyecto:</label>
                        <div class="col-md-7 col-sm-7">
                          <select class="select2_single form-control" tabindex="-1" name="id_Director_Proyecto"
                            id="id_Director_Proyecto">
                            <option>Seleccione una opción</option>
                            {{#each usuarios}}
                            <option value="{{idUsuario}}">{{NombreCompleto}}</option>
                            {{/each}}
                          </select>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-form-label col-md-3 col-sm-3 label-align">Jefe de
                          proyecto:</label>
                        <div class="col-md-7 col-sm-7">
                          <select class="select2_single form-control" tabindex="-1" name="id_Jefe_Proyecto"
                            id="id_Jefe_Proyecto">
                            <option>Seleccione una opción</option>
                            {{#each usuarios}}
                            <option value="{{idUsuario}}">{{NombreCompleto}}</option>
                            {{/each}}
                          </select>
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="ValorMC">
                          ValorM2:<span class="required">*</span>
                        </label>
                        <div class="col-md-7 col-sm-7 ">
                          <input type="number" id="ValorMC" name="ValorMC" required="required" class="form-control">
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="Zona"> Zona:<span
                            class="required">*</span>
                        </label>
                        <div class="col-md-7 col-sm-7 ">
                          <input type="text" id="Zona" name="Zona" required="required" class="form-control">
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="Suelo">Suelo:<span
                            class="required">*</span>
                        </label>
                        <div class="col-md-7 col-sm-7 ">
                          <input type="text" id="Suelo" name="Suelo" required="required" class="form-control">
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="FechaIni"> Fecha
                          inicio:<span class="required">*</span>
                        </label>
                        <div class="col-md-7 col-sm-7 ">
                          <input type="date" id="FechaIni" name="FechaIni" required="required" class="form-control">
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="FechaEnt"> Fecha
                          entrega:<span class="required">*</span>
                        </label>
                        <div class="col-md-7 col-sm-7 ">
                          <input type="date" id="FechaEnt" name="FechaEnt" required="required" class="form-control">
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="FechaTer"> Fecha
                          termino:<span class="required">*</span>
                        </label>
                        <div class="col-md-7 col-sm-7 ">
                          <input type="date" id="FechaTer" name="FechaTer" required="required" class="form-control">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-form-label col-md-3 col-sm-3 label-align">Cliente:</label>
                        <div class="col-md-7 col-sm-7">
                          <select class="select2_single form-control" tabindex="-1" name="id_Cliente" id="id_Cliente">
                            <option>Seleccione una opción</option>
                            {{#each contacto}}
                            <option value="{{id}}">{{name}}</option>
                            {{/each}}
                          </select>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-form-label col-md-3 col-sm-3 label-align">Arquitectura:</label>
                        <div class="col-md-7 col-sm-7">
                          <select class="select2_single form-control" tabindex="-1" name="id_Arquitectura"
                            id="id_Arquitectura">
                            <option>Seleccione una opción</option>
                            {{#each contacto}}
                            <option value="{{id}}">{{name}}</option>
                            {{/each}}
                          </select>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-form-label col-md-3 col-sm-3 label-align">Constructora:</label>
                        <div class="col-md-7 col-sm-7">
                          <select class="select2_single form-control" tabindex="-1" name="id_Constructora"
                            id="id_Constructora">
                            <option>Seleccione una opción</option>
                            {{#each contacto}}
                            <option value="{{id}}">{{name}}</option>
                            {{/each}}
                          </select>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-form-label col-md-3 col-sm-3 label-align">Revisor:</label>
                        <div class="col-md-7 col-sm-7">
                          <select class="select2_single form-control" tabindex="-1" name="id_Revisor" id="id_Revisor">
                            <option>Seleccione una opción</option>
                            {{#each contacto}}
                            <option value="{{id}}">{{name}}</option>
                            {{/each}}
                          </select>
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="Nplanos">N°de
                          planos:<span class="required">*</span>
                        </label>
                        <div class="col-md-7 col-sm-7 ">
                          <input type="number" id="Nplanos" name="Nplanos" required="required" class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                      <button type="button" class="btn btn-warning" onclick="filtradoNo();">Filtrar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>



        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" action="/proyecto/listPro"
          method="POST">
          <div class="form-group row">
            <div class="col-md-12 col-sm-15 ">
              <div class="col-md-4 col-sm-4 ">
                <div class="item form-group">
                  <label class="col-form-label col-md-3 col-sm-3 label-align" for="Destinatario">Año:</label>
                  <div class="col-md-9 col-sm-9">
                    <select class="form-control" name="year" id="year">
                      <option>Seleccione una opción</option>
                      <script>
                        var d = new Date();
                        var n = d.getFullYear();
                        for (var i = n; i >= 2011; i--)
                          document.write('<option>' + i + '</option>');
                      </script>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-form-label col-md-3 col-sm-3 label-align">Tipo:</label>
                  <div class="col-md-9 col-sm-9">
                    <select class="select2_single form-control" tabindex="-1" name="id_Tipo" id="id_Tipo">
                      <option>Seleccione una opción</option>
                      {{#each tipo}}
                      <option value="{{id}}">{{descripcion}}</option>
                      {{/each}}
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 ">
                <div class="form-group row">
                  <label class="col-form-label col-md-3 col-sm-3 label-align">Código:</label>
                  <div class="col-md-9 col-sm-9">
                    <select class="select2_single form-control" tabindex="-1" name="code" id="code">
                      <option>Seleccione una opción</option>
                      {{#each buscadores}}
                      <option value="{{id}}">{{code}}</option>
                      {{/each}}
                    </select>
                  </div>
                </div>
                <div class="item form-group">
                  <label class="col-form-label col-md-3 col-sm-3 label-align" for="Zona"> Zona:<span></span>
                  </label>
                  <div class="col-md-9 col-sm-9 ">
                    <input type="text" id="Zona" name="Zona" class="form-control">
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 ">
                <div class="item form-group">
                  <label class="col-form-label col-md-3 col-sm-3 label-align" for="nombre">Nombre:<span></span>
                  </label>
                  <div class="col-md-9 col-sm-9 ">
                    <input type="text" id="nombre" name="nombre" class="form-control">
                  </div>
                </div>
                <div class="item form-group">
                  <label class="col-form-label col-md-3 col-sm-3 label-align" for="Suelo">Suelo:<span></span>
                  </label>
                  <div class="col-md-9 col-sm-9 ">
                    <input type="text" id="Suelo" name="Suelo" class="form-control">
                  </div>
                </div>
              </div>
              <div class="col-md-9 col-sm-9  offset-md-5">
                <button type="button" class="btn btn-warning">Filtrar.</button>
              </div>
            </div>
          </div>
        </form>







        <table class="table table-hover" id="tablafacturacion" name="tablafacturacion">
          <thead>
            <tr>
              <th style="text-align: center;">Año</th>
              <th style="text-align: center;">Código</th>
              <th style="text-align: center;">Nombre</th>
              <th style="text-align: center;">País</th>
              <th style="text-align: center;">Zona</th>
              <th style="text-align: center;">Suelo</th>
              <th style="text-align: center;">JP</th>
              <th style="text-align: center;">DP</th>
              <th style="text-align: center;">N° Pisos</th>
              <th style="text-align: center;">N° Subterraneo</th>
              <th style="text-align: center;">Estado</th>
              <th style="text-align: center;">Opciones</th>
            </tr>
          </thead>
          <tbody>
            {{#if buscad }}
            {{#each buscadores}}
            <tr>
              <td style="text-align: center;">{{year}}</td>
              <td style="text-align: center;">{{code}}</td>
              <td style="text-align: center;">{{nombre}}</td>
              <td style="text-align: center;">{{id_Pais}}</td>
              <td style="text-align: center;">{{Zona}}</td>
              <td style="text-align: center;">{{Suelo}}</td>
              <td style="text-align: center;">{{id_Jefe_Proyecto}}</td>
              <td style="text-align: center;">{{id_Director_Proyecto}}</td>
              <td style="text-align: center;">{{Npisos}}</td>
              <td style="text-align: center;">{{Nsubterraneo}}</td>
              <td style="text-align: center;">{{id_Estado}}</td>

              <td style="padding: .15rem;">
                <a style="padding: .25rem;" type="button" class="btn btn-secondary btn-xs"
                  href="../../buscador/edit/{{id}}">
                  Editar
                </a>
                <a style="padding: .25rem;" type="button" class="btn btn-danger btn-xs"
                  href="../../buscador/delete/{{id}}">
                  Borrar
                </a>
              </td>

            </tr>
            {{/each}}
            {{else}}
            {{#each buscadores}}
            <tr>
              <td style="text-align: center;">{{year}}</td>
              <td style="text-align: center;">{{code}}</td>
              <td style="text-align: center;">{{nombre}}</td>
              <td style="text-align: center;">{{id_Pais}}</td>
              <td style="text-align: center;">{{Zona}}</td>
              <td style="text-align: center;">{{Suelo}}</td>
              <td style="text-align: center;">{{id_Jefe_Proyecto}}</td>
              <td style="text-align: center;">{{id_Director_Proyecto}}</td>
              <td style="text-align: center;">{{Npisos}}</td>
              <td style="text-align: center;">{{Nsubterraneo}}</td>
              <td style="text-align: center;">{{id_Estado}}</td>

              <td style="padding: .15rem;">
                <a style="padding: .25rem;" type="button" class="btn btn-secondary btn-xs" href="buscador/edit/{{id}}">
                  Editar
                </a>
                <a style="padding: .25rem;" type="button" class="btn btn-danger btn-xs" href="buscador/delete/{{id}}">
                  Borrar
                </a>
              </td>
            </tr>
            {{/each}}
            {{/if}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>


<script>
  function filtradoNo() {
    //alert("filtradoNo");
    $.ajax({
      type: 'post',
      url: '/proyecto/listPro',
      data: Object,
      dataType: 'text'
    })









    /*.done(function (data) {
      //console.log(data);
      $('#filtradoNo').val(data);
    });
  $('#exampleModal').modal('toggle'); //Me muestra el formulario si esta oculto*/
  }









</script>