
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>

 <script>
        var nuevoalias = jQuery.noConflict();
	    nuevoalias(document).ready(function() {
	      nuevoalias( function() {
                nuevoalias( "#cliente" ).autocomplete({
                source: "buscarCliente/find=da",
                minLength: 2,
                select: function( event, ui ) {
                    nuevoalias('#id_cliente').val(ui.item.id);
                }
                });
                nuevoalias( "#arquitecto" ).autocomplete({
                source: "buscarArquitecto/find=da",
                minLength: 2,
                select: function( event, ui ) {
                    nuevoalias('#id_arquitecto').val(ui.item.id);
                }
                });
            } );
	});
  </script>

    <div class="x_panel">
      <div class="x_title">
        <h2>Busqueda  Proyectos
          <!--<small>Listado de proyectos</small>-->
        </h2>
         <div class="clearfix"></div>
      </div>
        <div class="x_content">
            <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" action="/proyecto/filtroProyecto"    method="POST">
             <div class="row">
            <div class="col-md-12 col-sm-12">
                 <div class="col-md-3 col-sm-3">
                        <div class="item form-group">
                            <label class="col-form-label col-md-4 col-sm-4 label-align" for="code">Nombre :</label>
                            <div class="col-md-7 col-sm-7 "><input type="text" id="nombre" name="nombre" class="form-control"></div>
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-4 col-sm-4 label-align" for="code">Código :</label>
                            <div class="col-md-7 col-sm-7 "><input type="text" id="codigo" name="codigo" class="form-control"></div>
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-4 col-sm-4 label-align" for="code">Director :</label>
                            <div class="col-md-7 col-sm-7 ">
                                <select class="select2_single form-control"  name="director" id="director">
                                    <option value="0">Seleccione</option>
                                        {{#each directores}}
                                            <option value="{{idUsuario}}">{{Nombre}}</option>
                                        {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-4 col-sm-4 label-align" for="code">Jefe Proyecto:</label>
                            <div class="col-md-7 col-sm-7 ">
                                <select class="select2_single form-control"  name="jefe" id="jefe">
                                    <option value="0">Seleccione</option>
                                        {{#each jefes}}
                                            <option value="{{idUsuario}}">{{Nombre}}</option>
                                        {{/each}}
                                </select>
                            </div>
                        </div>
                 </div>
                 <div class="col-md-3 col-sm-3">
                    <div class="item form-group">
                            <label class="col-form-label col-md-4 col-sm-4 label-align" for="code">Tipo Proyecto:</label>
                            <div class="col-md-7 col-sm-7 ">
                                <select class="select2_single form-control"  name="tipo_proyecto" id="tipo_proyecto">
                                    <option value="0">Seleccione</option>
                                        {{#each tipos_proyecto}}
                                            <option value="{{id}}">{{descripcion}}</option>
                                        {{/each}}
                                </select>
                            </div>
                    </div>
                    <div class="item form-group">
                            <label class="col-form-label col-md-4 col-sm-4 label-align" for="code">Nº Pisos:</label>
                            <div class="col-md-7 col-sm-7 ">
                                <input type="text" id="numpisos" name="numpisos" class="form-control">
                            </div>
                    </div>
                     <div class="item form-group">
                            <label class="col-form-label col-md-4 col-sm-4 label-align" for="code">Nº Subterraneo:</label>
                            <div class="col-md-7 col-sm-7 ">
                                <input type="text" id="numsubte" name="numsubte" class="form-control">
                            </div>
                    </div>
                 </div>
                 <div class="col-md-3 col-sm-3">
                    <div class="item form-group">
                            <label class="col-form-label col-md-4 col-sm-4 label-align" for="code">Cliente / Contacto:</label>
                            <div class="col-md-8 col-sm-8 ">
                                <input id="cliente" name="cliente"  class="form-control">
                                <input type="hidden" id="id_cliente" name="id_cliente" required="required" class="form-control" value="0">
                            </div>
                    </div>
                    <div class="item form-group">
                            <label class="col-form-label col-md-4 col-sm-4 label-align" for="code">Arquitecto:</label>
                            <div class="col-md-8 col-sm-8 ">
                                 <input id="arquitecto" name="arquitecto" class="form-control">
                                <input type="hidden" id="id_arquitecto" name="id_arquitecto"  class="form-control" value="0">
                            </div>
                    </div>
                 </div>
                 <div class="col-md-3 col-sm-3">
                    <div class="item form-group">
                            <label class="col-form-label col-md-4 col-sm-4 label-align" for="code">Zona:</label>
                            <div class="col-md-7 col-sm-7 ">
                                <select class="select2_single form-control"  name="zona" id="zona">
                                    <option value="0">Seleccione</option>
                                        {{#each zonas}}
                                            <option value="{{zona}}">{{zona}}</option>
                                        {{/each}}
                                </select>
                            </div>
                    </div>
                    <div class="item form-group">
                            <label class="col-form-label col-md-4 col-sm-4 label-align" for="code">Suelo:</label>
                            <div class="col-md-7 col-sm-7 ">
                               <select class="select2_single form-control"  name="suelo" id="suelo">
                                    <option value="0">Seleccione</option>
                                        {{#each suelos}}
                                            <option value="{{suelo}}">{{suelo}}</option>
                                        {{/each}}
                                </select>
                            </div>
                    </div>
                    <div class="item form-group">
                            <label class="col-form-label col-md-4 col-sm-4 label-align" for="code">Categoria:</label>
                            <div class="col-md-7 col-sm-7 ">
                                 <select class="select2_single form-control"  name="categoria" id="categoria">
                                    <option value="0">Seleccione</option>
                                        {{#each categorias}}
                                            <option value="{{categoria}}">{{categoria}}</option>
                                        {{/each}}
                                </select>
                            </div>
                    </div>
                 </div>
            </div>
            <div class="row">
                <div class="item form-group">
                    <div class="col-md-5 col-sm-5 "></div>
                    <button type="submit" class="btn btn-secondary" data-dismiss="modal">Buscar</button>
                </div>
            </div>
                
            
            
             </form>
        </div>
        </div>
    </div>
{{#if proyectos }}
    <div class="x_panel">
      <div class="x_title">
        <h2>Listado De Proyectos</h2>
         <div class="clearfix"></div>
      </div>
        <div class="x_content">
            <table class="table table-hover" id="tablaProyectos" name="tablaProyectos" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Proyecto</th>
                        <th>Contacto / Cliente</th>
                        <th>Director</th>
                        <th>Jefe</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each proyectos}}
                    <tr>
                        <td>{{year}}-{{code}} : {{nombre}}</td>
                        <td>{{nomCli}}</td>
                        <td>{{nomDir}}</td>
                        <td>{{nomJefe}}</td>
                    </tr>
                    {{/each}}
            </table>
        </div>
    </div>
{{/if}}



    

<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>-->

<script src="../../../template/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../../../template/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script> 
<script src="../../../template/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<script>
        var table = $('#tablaProyectos').DataTable({
            "dom": "<'row'<'col-sm-12 col-md-6'f><'col-sm-12 col-md-6'l>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
            "order": [[ 0, "desc" ]],
            orderCellsTop: true,
            fixedHeader: true,
            "scrollX": true,
            language: {
                "decimal": ".",
                "thousands": ",",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            }
        });
</script>