<style>
    .close {
            float: right;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1;
            color: #000;
            text-shadow: 0 1px 0 #fff;
            opacity: .5;
        }
     .close:not(:disabled):not(.disabled) {
            cursor: pointer;
        }
        button.close {
            padding: 0;
            background-color: transparent;
            border: 0;
            -webkit-appearance: none;
        }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

<div class="col-md-5 col-sm-5  ">
    <div class="x_panel">
        <div class="x_title">
            <h2>Costos Externos <!--<small>ingreso de trabajos externos</small>--></h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <form id="demo-form" data-parsley-validate action="/costos/addCostoExterno" method="POST">
             <div class="item form-group">
				<label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Proyectos <span class="required">*</span></label>
				<div class="col-md-6 col-sm-6 ">
					<select class="form-control" name="idProyecto" id="idProyecto">                        
                        {{#each proyectos}}
                            <option value="{{id}}">{{year}}-{{code}} : {{nombre}}</option>
                        {{/each}} 
	    	        </select>
				</div>
    		</div>
            <div class="item form-group">
				<label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Proovedor <span class="required">*</span></label>
				<div class="col-md-6 col-sm-6 ">
					<select class="form-control" name="idProveedor" id="idProveedor">                        
                        {{#each proveedores}}
                            <option value="{{id}}">{{nombre}}</option>
                        {{/each}} 
	    	        </select>
				</div>
    		</div>
            <div class="item form-group">
				<label class="col-form-label col-md-3 col-sm-3 label-align" for="Centro Costo">Centro Costo <span class="required">*</span></label>
				<div class="col-md-6 col-sm-6 ">
					<select class="form-control" name="idCentroCosto" id="idCentroCosto">                        
                        {{#each centros}}
                            <option value="{{id}}">{{centroCosto}}</option>
                        {{/each}} 
	    	        </select>
				</div>
    		</div>
            <div class="item form-group">
				<label class="col-form-label col-md-3 col-sm-3 label-align" for="Tipo Moneda">Tipo Moneda<span class="required">*</span></label>
				<div class="col-md-6 col-sm-6 ">
					<select class="form-control" name="idTipoMoneda" id="idTipoMoneda">                        
                        {{#each monedas}}
                            <option value="{{id_moneda}}">{{descripcion}}</option>
                        {{/each}} 
	    	        </select>
				</div>
    		</div>
            <div class="item form-group">
				<label class="col-form-label col-md-3 col-sm-3 label-align" for="Tipo Moneda">Costo<span class="required">*</span></label>
				<div class="col-md-6 col-sm-6 ">
                    <input type="number" id="costo" class="form-control" value="" name="costo" placeholder="Ingrese costo asociado" required />
				</div>
    		</div>
            <div class="item form-group">
				<label class="col-form-label col-md-3 col-sm-3 label-align" for="Num HH">Nº HH aprox<span class="required">*</span></label>
				<div class="col-md-6 col-sm-6 ">
                    <input type="number" id="numhh" class="form-control" value="" placeholder="Ingrese numero de HH." name="numhh" onkeypress='return event.charCode >= 48 && event.charCode <= 57' required />
				</div>
    		</div>
           <div class="item form-group">
				<label class="col-form-label col-md-3 col-sm-3 label-align" for="Num OC">N° Orden Compra<span class="required">*</span></label>
				<div class="col-md-6 col-sm-6 ">
                    <input type="number" id="numoc" class="form-control" value="" placeholder="Ingrese numero de OC." name="numoc" required />
				</div>
    		</div>
            <div class="item form-group">
				<label class="col-form-label col-md-3 col-sm-3 label-align" for="descripcion">Descripción<span class="required">*</span></label>
				<div class="col-md-6 col-sm-6 ">
                      	<textarea class="form-control" rows="3" placeholder="Ingrese breve descripción del trabajo" name="descripcion" id="descripcion"></textarea>         
				</div>
    		</div>
            <div class="item form-group">
                <label class="col-form-label col-md-7 col-sm-7 label-align" for="descripcion"></label>

                <button  type="submit" onvolumechange=""class="btn btn-warning btn-block">
                                                Ingresar
                                            </button>
            </div>
            </form>
        </div>
    </div>
</div>
<div class="col-md-7 ">
    <div class="x_panel">
		<div class="x_title">
               <h2>Listado Costos Externos Ingresados</h2>
		    <div class="clearfix"></div>
		</div>
        <div class="x_content">
            <table class="table table-hover" id="ListadoCostoExterno" name="ListadoCostoExterno">
                <thead>
                    <tr>
                        <th>OC</th>
                        <th>Proyecto</th>
                        <th>Proveedor</th>
                        <th>Monto</th>
                        <th>Estado</th>
                        <th>Fecha Ingreso</th>
                        <th></th>
                    </tr>
                </thead>
                    <tbody>
                        {{#each costosExternos}}
                            <tr> 
                                <td>{{numOC}}</td>
                                <td>{{year}}-{{code}} : {{nombre}}</td>
                                <td>{{proveedor}}</td>
                                <td>{{costo}}</td>
                                <td>{{descripcion}}</td>
                                <td>{{fechaIngreso}}</td>
                                <td>
                                    <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#comentario{{idCosto}}"><i class="fa fa-comments"></i></button>
                                    </div>
                                    <div class="modal fade" id="comentario{{idCosto}}" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Comentarios</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                               <div class="item form-group">
                                                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="Etapa"> <b>Comentario Ingreso :</b> </label>
                                                    <label class="col-form-label col-md-9 col-sm-9" for="Etapa"> {{comentarioIngreso}}</label>   
                                                </div>
                                                <div class="item form-group">
                                                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="Etapa"> <b>Comentario Aprobador :</b> </label>
                                                    <label class="col-form-label col-md-9 col-sm-9 " for="Etapa">{{comentarioAProbador}} </label>   
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {{/each}} 
                    </tbody>
            </table>
        </div>  
    </div>
</div>

       <!-- Optional JavaScript; choose one of the two! -->
    
       <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>-->
    
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->


<script src="../../../template/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../../../template/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script> 
<script src="../../../template/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<script>
      $('#ListadoCostoExterno').DataTable({
        language: {
          "decimal": "",
          "emptyTable": "No hay información",
          "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
          "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
          "infoFiltered": "(Filtrado de _MAX_ total entradas)",
          "infoPostFix": "",
          "thousands": ",",
          "lengthMenu": "Mostrar _MENU_ Entradas",
          "loadingRecords": "Cargando...",
          "processing": "Procesando...",
          "search": "Buscar:",
          "zeroRecords": "Sin resultados encontrados",
          "paginate": {
            "first": "Primero",
            "last": "Ultimo",
            "next": "Siguiente",
            "previous": "Anterior"
          }
        }
      });

</script>



   {{#if verToask }}
    <!--INFORMACIÓN-->
    <script>
            if ("{{verToask.tipo}}" == "Editar")
            {
                toastr.warning('{{verToask.body}}', '{{verToask.titulo}}', {
                "progressBar": true});
            }
            else if ("{{verToask.tipo}}" == "Crear")
            {
                toastr.success('{{verToask.body}}', '{{verToask.titulo}}', {
                "progressBar": true});
            }
            else if ("{{verToask.tipo}}" == "Eliminar")
            {
                toastr.error('{{verToask.body}}', '{{verToask.titulo}}', {
                "progressBar": true});
            }
            else if ("{{verToask.tipo}}" == "Permisos")
            {
                toastr.success('{{verToask.body}}', '{{verToask.titulo}}', {
                "progressBar": true});
            }


           
    </script>
    {{/if}}