
<!--LISTAR-->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
  <script	src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyCXQ6ltnbOZRP3U7JH3evn5O5OnfR--O4I"></script>

  <script>
        var nuevoalias = jQuery.noConflict();
	    nuevoalias(document).ready(function() {
            let tipo_servicio = nuevoalias("#id_servicio").val();
            //alert(tipo_servicio);
            if (tipo_servicio == 2)
            {
            $("#settings-tab").html("Entrega");
            $("#eplanos").hide();
            $("#erevisor").hide();
            $("#esuperficie").hide();
            $("#eFechaEstimadaApc").hide();

            $("#eDirector").html("Profesional Responsable:");
            $("#eJefe").html("Coordinador:");
            $("#eclienteContacto").html("Ingeniero Revisor:");

             let pais       =  $( "#id_pais" ).val();

            if (pais == 1)
            {
                $("#eArquitecto").html("Calculista:");
            }
            else if (pais == 6)
            {
                $("#eArquitecto").html("Cliente:");
            }
            else
            {
                $("#eArquitecto").html("Calculista:");
            }
            

            $("#efechaEntregaApl").html("Fecha Entrega:");


            	nuevoalias( function() {
                           // Prof a cargo Mariane y Luis
                nuevoalias( "#director" ).autocomplete({
                source: "../buscarProA/find=da",
                minLength: 2,
                select: function( event, ui ) {
                    nuevoalias('#id_director').val(ui.item.id);
                }
                });
                
                
                            // Coordinador solo simon
                nuevoalias( "#jefe" ).autocomplete({
                source: "../buscarCoord/find=da",
                minLength: 2,
                select: function( event, ui ) {
                    nuevoalias('#id_jefe').val(ui.item.id);
                }
                });

                nuevoalias( "#mandante" ).autocomplete({
                source: "../buscarMandante/find=da",
                minLength: 2,
                select: function( event, ui ) {
                    nuevoalias('#id_mandante').val(ui.item.id);
                }
                });
                // Ingeniero Revisor sera por centros de costos
            nuevoalias( "#cliente" ).autocomplete({
                source: "../buscarIngRev/find=da",
                minLength: 2,
                select: function( event, ui ) {
                    nuevoalias('#id_cliente').val(ui.item.id);
                }
                });
                nuevoalias( "#arquitecto" ).autocomplete({
                source: "../buscarArquitecto/find=da",
                minLength: 2,
                select: function( event, ui ) {
                    nuevoalias('#id_arquitecto').val(ui.item.id);
                }
                });
                nuevoalias( "#revisor" ).autocomplete({
                source: "../buscarRevisor/find=da",
                minLength: 2,
                select: function( event, ui ) {
                    nuevoalias('#id_revisor').val(ui.item.id);
                }
                });
            } );

            }
            else
            {
                $("#settings-tab").html("Información APL");
            $("#eplanos").show();
            $("#erevisor").show();
            $("#esuperficie").show();
            $("#eFechaEstimadaApc").show();

            $("#eDirector").html("Director Proyecto:");
            $("#eJefe").html("Jefe Proyecto:");
            $("#eclienteContacto").html("Cliente / Contacto:");
            $("#eArquitecto").html("Arquitecto:");
            $("#efechaEntregaApl").html("Fecha Entrega APL:");
	      nuevoalias( function() {
                nuevoalias( "#director" ).autocomplete({
                source: "../buscarDirector/find=da",
                minLength: 2,
                select: function( event, ui ) {
                    nuevoalias('#id_director').val(ui.item.id);
                }
                });
                nuevoalias( "#jefe" ).autocomplete({
                source: "../buscarJefe/find=da",
                minLength: 2,
                select: function( event, ui ) {
                    nuevoalias('#id_jefe').val(ui.item.id);
                }
                });
                nuevoalias( "#mandante" ).autocomplete({
                source: "../buscarMandante/find=da",
                minLength: 2,
                select: function( event, ui ) {
                    nuevoalias('#id_mandante').val(ui.item.id);
                }
                });
                nuevoalias( "#cliente" ).autocomplete({
                source: "../buscarCliente/find=da",
                minLength: 2,
                select: function( event, ui ) {
                    nuevoalias('#id_cliente').val(ui.item.id);
                }
                });
                nuevoalias( "#arquitecto" ).autocomplete({
                source: "../buscarArquitecto/find=da",
                minLength: 2,
                select: function( event, ui ) {
                    nuevoalias('#id_arquitecto').val(ui.item.id);
                }
                });
                nuevoalias( "#revisor" ).autocomplete({
                source: "../buscarRevisor/find=da",
                minLength: 2,
                select: function( event, ui ) {
                    nuevoalias('#id_revisor').val(ui.item.id);
                }
                });
            } );

            }
            // 
            var searchInput = 'direccion';
            var autocomplete;
			    autocomplete = new google.maps.places.Autocomplete((document.getElementById(searchInput)), {
				                types: ['geocode'],
			});

            google.maps.event.addListener(autocomplete, 'place_changed', function () {
				var near_place = autocomplete.getPlace();
                    
                    for (var i=0; i<near_place.address_components.length; i++)
                    {
                        if (near_place.address_components[i].types[0] === "country")
                        {
                            var obt = { pais : near_place.address_components[i].long_name} ;
                             $.ajax({
                                            method:'POST',
                                            url : '/proyecto/buscarPais',
                                            data : obt,
                                            success : function(result)
                                            {
                                               if (result.estado === 0)
                                               {
                                                   alert("Pais no registrado");
                                               }
                                               else
                                               {
                                                   nuevoalias('#id_pais').val(result.id_pais);
                                                   //nuevoalias('#zona').html('<option value="A">CAREWE</option>');
                                                  var zona = "";
                                                  var suelo = "";
                                                  var categoria = "";
                                                  result.zona.forEach(element => zona += "<option value="+element.valor+">"+element.valor+"</option>");
                                                  result.suelo.forEach(element => suelo += "<option value="+element.valor+">"+element.valor+"</option>");
                                                  result.categoria.forEach(element => categoria += "<option value="+element.valor+">"+element.valor+"</option>");
                                                  nuevoalias('#zona').html(zona);
                                                  nuevoalias('#suelo').html(suelo);
                                                  nuevoalias('#categoria').html(categoria);
                                               }
                                            }
                                     });

                        }
                    }
                nuevoalias('#loc_lat').val(near_place.geometry.location.lat());
                nuevoalias('#loc_long').val(near_place.geometry.location.lng());
			});


	});
  </script>



<div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
        <div class="x_title">
            <h2>Editar Proyecto<small></small></h2>
            <ul class="nav navbar-right panel_toolbox">
				<li><a onclick="window.history.go(-1); return false;"><i class="fa fa-arrow-circle-left"></i> Volver</a></li>
			</ul>

            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <form id="actualizarProyecto" name="actualizarProyecto" data-parsley-validate class="form-horizontal form-label-left" action="/proyecto/ActualizarProyecto" method="POST">
            <!-- Nav tabs -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Datos Generales</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Datos Financieros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">Equipo Proyecto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Información APL</a>
                </li>
                </ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="form-group row">
          &nbsp;
      </div>
            <div class="form-group row">
                        <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Destinatario">Año:</label>
							<div class="col-md-7 col-sm-7">
							    <input type="text" id="year" name="year"  class="form-control" value="{{proyecto.year}}" readonly>
                                <input type="hidden" id="id" name="id"  class="form-control" value="{{proyecto.idPro}}" readonly>
							</div>
                    </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Direccion">Dirección:</label>
                            <div class="col-md-7 col-sm-7">
                                <input type="text" id="direccion" name="direccion"  class="form-control" value="{{proyecto.direccion}}">
                                    <input type="hidden" name="loc_lat" id="loc_lat" value="{{proyecto.latitud}}"/>
								    <input type="hidden" name="loc_long" id="loc_long" value="{{proyecto.altitud}}"/>
                                    <input type="hidden" name="id_pais" id="id_pais" value="{{proyecto.id_pais}}"/>
                            </div>
                        </div>
                    <div class="form-group row">
                         <label class="col-form-label col-md-3 col-sm-3 label-align">Tipo Servicio:</label>
									<div class="col-md-7 col-sm-7">
										<select class="select2_single form-control" tabindex="-1" name="id_servicio" id="id_servicio" readonly>
                                               {{#each servicio}}
											        <!-- <option value="{{id}}">{{descripcion}}</option> -->
                                                    {{#if (if_equal id ../proyecto.id_tipo_servicio) }}
                                                    <option value="{{id}}" selected>{{descripcion}}</option>
                                                    {{else}}
                                                    <option value="{{id}}">{{descripcion}}</option>
                                                    {{/if}}
											    {{/each}}
                                        </select>
									</div>
                     </div>
                     
                    <div class="form-group row">
                        <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Destinatario">Codigo:</label>
							<div class="col-md-7 col-sm-7">
                                    <input type="text" id="code" name="code"  class="form-control" value="{{proyecto.code}}" readonly>
							</div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Destinatario">Nombre:</label>
							<div class="col-md-7 col-sm-7">
							    <input type="text" id="nombre" name="nombre"  class="form-control" value="{{proyecto.nombre}}">
							</div>
                    </div>
                    <div class="form-group row">
                         <label class="col-form-label col-md-3 col-sm-3 label-align">Tipo Proyecto:</label>
									<div class="col-md-7 col-sm-7">
										<select class="select2_single form-control" tabindex="-1" name="id_tipo_proyecto" id="id_tipo_proyecto">
											<option value="0">Seleccione una opción</option>
											{{#each tipo}}
											<!-- <option value="{{id}}">{{descripcion}}</option> -->
                                                {{#if (if_equal id ../proyecto.id_tipo_proyecto) }}
                                                <option value="{{id}}" selected>{{descripcion}}</option>
                                                {{else}}
                                                <option value="{{id}}">{{descripcion}}</option>
                                                {{/if}}
											{{/each}}
										</select>
									</div>
                     </div>
                     <div class="form-group row">
									<label class="col-form-label col-md-3 col-sm-3 label-align">Estado:</label>
									<div class="col-md-7 col-sm-7">
										<select class="select2_single form-control" tabindex="-1" name="id_Estado" id="id_Estado">
											<option value="0">Seleccione una opción</option>
											{{#each estado}}
                                                {{#if (if_equal id ../proyecto.id_estado) }}
                                                    <option value="{{id}}" selected>{{descripcion}}</option>
                                                    {{else}}
                                                    <option value="{{id}}">{{descripcion}}</option>
                                                    {{/if}}
											{{/each}}
										</select>
									</div>
					</div>
                    <div class="form-group row">
                            <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Destinatario">Superficie Preliminar:</label>
                                <div class="col-md-5 col-sm-5">
                                    <input type="number" id="superficie_pre" name="superficie_pre" class="form-control" value="{{proyecto.superficie_pre}}" onchange="ModificaValorProyecto(2);">
                                </div>
                                <label class="col-form-label col-md-2 col-sm-2" for="Destinatario"> m<sup>2</sup></label>
                    </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-3 col-sm-3 label-align">Complejidad:</label>
                                <div class="col-md-7 col-sm-7">
                                    <select class="select2_single form-control" tabindex="-1" name="id_Complejidad" id="id_Complejidad">
                                        <option value="0">Seleccione una opción</option>
                                                            {{#each complejidad}}
                                                                {{#if (if_equal id ../proyecto.id_complejidad) }}
                                                                    <option value="{{id}}" selected>{{descripcion}}</option>
                                                                    {{else}}
                                                                    <option value="{{id}}">{{descripcion}}</option>
                                                                    {{/if}}
                                                            {{/each}}
                                    </select>
                                </div>
                            </div>
                                    <div class="form-group row">
                        <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Destinatario">Nº Pisos</label>
                            <div class="col-md-7 col-sm-7">
                                <input type="number" id="num_pisos" name="num_pisos"  class="form-control" value="{{proyecto.num_pisos}}">
                            </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Destinatario">Nº Subterraneos</label>
                            <div class="col-md-7 col-sm-7">
                                <input type="number" id="num_subte" name="num_subte"  class="form-control" value="{{proyecto.num_subterraneo}}">
                            </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-9 col-sm-9">
                        
                        </div>
                        <div class="col-md-1 col-sm-1">
                            <button type="button" class="btn btn-secondary btn-sm" onclick="cargaTab(2);">Siguiente</button>
                        </div>
                    </div>
  </div>
  <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="form-group row">
            &nbsp;
        </div>
        <div class="form-group row">
            <div class="col-md-12 col-sm-12 ">
                <div class="col-md-6 col-sm-6 ">
                    <div class="form-group row">
                            <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Destinatario">Tipo Moneda Cobro:</label>
                                <div class="col-md-5 col-sm-5">
                                    <select class="select2_single form-control" tabindex="-1" name="id_tipo_cobro" id="id_tipo_cobro" onchange="ModificaTipoCobro();">
                                        {{#each monedas}}
                                                {{#if (if_equal id_moneda ../proyecto.id_tipo_moneda) }}
                                                    <option value="{{id_moneda}}" selected>{{descripcion}}</option>
                                                    {{else}}
                                                    <option value="{{id_moneda}}">{{descripcion}}</option>
                                                    {{/if}}
											{{/each}}
                                    </select>
                                </div>
                    </div>
                    <div class="form-group row">
                            <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Destinatario">Valor x m2:</label>
                                <div class="col-md-5 col-sm-5">
                                    <input type="number" id="valor_x_m2" name="valor_x_m2"  class="form-control" value="{{proyecto.valor_metro_cuadrado}}" onchange="ModificaValorProyecto(1);">
                                </div>
                            <label class="col-form-label col-md-2 col-sm-2" for="Destinatario" id="monedaM2" name="monedaM2">{{proyecto.simbolo}} / m<sup>2</sup></label>
                    </div>
                    <div class="form-group row">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="Destinatario">Superficie Preliminar:</label>
                                <div class="col-md-5 col-sm-5">
                                    <input type="number" id="superficie_pre_r" name="superficie_pre_r" class="form-control" readonly="">
                                </div>
                                <label class="col-form-label col-md-2 col-sm-2" for="Destinatario"> m<sup>2</sup></label>
                    </div>
                   <div class="form-group row">
                            <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Destinatario">Valor del Proyecto:</label>
                                <div class="col-md-5 col-sm-5">
                                    <input type="number" id="valor_proyecto" name="valor_proyecto"  class="form-control" value="{{proyecto.valor_proyecto}}"  onchange="ModificaValorProyecto(3);">
                                </div>
                            <label class="col-form-label col-md-2 col-sm-2" for="Destinatario" id="monedaTipo" name="monedaTipo"> {{proyecto.simbolo}}</label>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 ">
                        <div class="form-group row">
                             <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Destinatario">Fecha Inicio:</label>
                                <div class="col-md-6 col-sm-6">
                                    <input type="date" id="fecha_inicio" name="fecha_inicio"  class="form-control" value="{{proyecto.fecha_inicio}}" onchange="fechaInicio();">
                                </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
             <div class="col-md-1 col-sm-1">
                 <button type="button" class="btn btn-secondary btn-sm" onclick="cargaTab(1);">Anterior</button>
             </div>
                        <div class="col-md-9 col-sm-9">
                        
                        </div>
                    <div class="col-md-1 col-sm-1">
                        <button type="button" class="btn btn-secondary btn-sm" onclick="cargaTab(3);">Siguiente</button>
                    </div>
        </div>
  </div>
  <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">
      <div class="form-group row">
          &nbsp;
      </div>
                          <div class="form-group row">
                        <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Destinatario" id="eDirector">Director Proyecto:</label>
							<div class="col-md-9 col-sm-9">
							    <input id="director" name="director"  class="form-control" value="{{proyecto.nomDir}}">
                                <input type="hidden" id="id_director" name="id_director" value="{{proyecto.idDir}}">
							</div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Destinatario" id="eJefe">Jefe Proyecto:</label>
							<div class="col-md-9 col-sm-9">
							    <input id="jefe" name="jefe"  class="form-control" value="{{proyecto.nomJefe}}">
                                <input type="hidden" id="id_jefe" name="id_jefe" value="{{proyecto.idJefe}}">
							</div>
                    </div>
                    <!-- 
                        <div class="form-group row">
                        <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Destinatario">Mandante:</label>
							<div class="col-md-9 col-sm-9">
							    <input id="mandante" name="mandante"  class="form-control" value="{{proyecto.nomMan}}">
                                <input type="hidden" id="id_mandante" name="id_mandante"  class="form-control" value="{{proyecto.idMan}}">
							</div>
                    </div>
                    -->
                    <div class="form-group row">
                        <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Destinatario" id="eclienteContacto">Cliente / Contacto:</label>
							<div class="col-md-9 col-sm-9">
							    <input id="cliente" name="cliente"  class="form-control" value="{{proyecto.nomCli}}">
                                <input type="hidden" id="id_cliente" name="id_cliente" required="required" class="form-control" value="{{proyecto.idCli}}">
							</div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Destinatario" id="eArquitecto">Arquitecto:</label>
							<div class="col-md-9 col-sm-9">
							    <input id="arquitecto" name="arquitecto" class="form-control" value="{{proyecto.nomArq}}">
                                <input type="hidden" id="id_arquitecto" name="id_arquitecto"  value="{{proyecto.idArq}}" class="form-control">
							</div>
                    </div>
                    <div class="form-group row">
                    <div class="col-md-3 col-sm-3">
                    </div>
                    <div class="col-md-1 col-sm-1">
                        <button type="button" class="btn btn-secondary btn-sm" onclick="cargaTab(2);">Anterior</button>
                    </div>
                        <div class="col-md-7 col-sm-7">
                        
                        </div>
                    <div class="col-md-1 col-sm-1">
                        <button type="button" class="btn btn-secondary btn-sm" onclick="cargaTab(4);">Siguiente</button>
                    </div>
                    </div>
  </div>
  <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">
      <div class="form-group row">
          &nbsp;
      </div>
                          <div class="form-group row" id="erevisor">
                        <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Destinatario">Revisor:</label>
							<div class="col-md-9 col-sm-9">
							    <input id="revisor" name="revisor"  class="form-control" value="{{proyecto.nomRev}}">
                                <input type="hidden" id="id_revisor" name="id_revisor" value="{{proyecto.idRev}}" class="form-control">
							</div>
                    </div>
      <div class="form-group row" id="eFechaEstimadaApc">
                             <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Destinatario">Fecha Estimada APC</label>
                                <div class="col-md-4 col-sm-4">
                                    <input type="date" id="fecha_termino" name="fecha_termino"  class="form-control" value="{{proyecto.fecha_termino}}" onchange="fechaTermino();">
                                </div>
                        </div>
                        <div class="form-group row">
                             <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Destinatario" id="efechaEntregaApl">Fecha Entrega APL:</label>
                                <div class="col-md-6 col-sm-6">
                                    <input type="date" id="fecha_entrega" name="fecha_entrega"  class="form-control" value="{{proyecto.fecha_entrega}}">
                                </div>
                        </div>
        <div class="form-group row" id="esuperficie">
            <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Destinatario">Superficie APL</label>
				<div class="col-md-4 col-sm-4">
				    <input type="number" id="superficie_apl" name="superficie_apl"  class="form-control" value="{{proyecto.superficie_apl}}">
				</div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Destinatario">Zona</label>
				<div class="col-md-4 col-sm-4">
				    <!-- <input type="text" id="zona" name="zona"  class="form-control" value="{{proyecto.zona}}"> -->
                    <select class="select2_single form-control" tabindex="-1" name="zona" id="zona">
						<!-- <option value="0">Ingrese una dirección</option>							-->
                        {{#each zonas}}
                            {{#if (if_equal valor ../proyecto.zona) }}
                                    <option value="{{valor}}" selected>{{valor}}</option>
                            {{else}}
                                    <option value="{{valor}}">{{valor}}</option>
                            {{/if}}
						{{/each}}
					</select>
				</div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Destinatario">Suelo</label>
				<div class="col-md-4 col-sm-4">
				    <!-- <input type="text" id="suelo" name="suelo"  class="form-control" value="{{proyecto.suelo}}"> -->
                    <select class="select2_single form-control" tabindex="-1" name="suelo" id="suelo">
						<!-- <option value="0">Ingrese una dirección</option>							-->
                        {{#each suelo}}
                            {{#if (if_equal valor ../proyecto.suelo) }}
                                    <option value="{{valor}}" selected>{{valor}}</option>
                            {{else}}
                                    <option value="{{valor}}">{{valor}}</option>
                            {{/if}}
						{{/each}}
					</select>
				</div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Destinatario">Categoria</label>
				<div class="col-md-4 col-sm-4">
				    <!-- input type="text" id="categoria" name="categoria"  class="form-control" value="{{proyecto.categoria}}"> -->
                    <select class="select2_single form-control" tabindex="-1" name="categoria" id="categoria">
						<!-- <option value="0">Ingrese una dirección</option>							 -->
                        {{#each categoria}}
                            {{#if (if_equal valor ../proyecto.categoria) }}
                                    <option value="{{valor}}" selected>{{valor}}</option>
                            {{else}}
                                    <option value="{{valor}}">{{valor}}</option>
                            {{/if}}
						{{/each}}
					</select>
				</div>
        </div>
        <div class="form-group row" id="eplanos">
            <label class="col-form-label col-md-3 col-sm-3 label-align"	for="Destinatario">Nº Planos Estimado</label>
				<div class="col-md-4 col-sm-4">
				    <input type="number" id="num_planos_estimado" name="num_planos_estimado"  class="form-control" value="{{proyecto.num_plano_estimado}}">
				</div>
        </div>
                 <div class="form-group row">
                    <div class="col-md-3 col-sm-3">
                    </div>
                    <div class="col-md-1 col-sm-1">
                        <button type="button" class="btn btn-secondary btn-sm" onclick="cargaTab(3);">Prev</button>
                    </div>
                        <div class="col-md-4 col-sm-4">
                        
                        </div>
                    <div class="col-md-1 col-sm-1">
                        <button type="button" class="btn btn-success btn-sm" onclick="validarFormulario();">Actualizar</button>
                    </div>
                    </div>


</div>
            
            <!--
                <div class="form-group row">
                    <div class="col-md-5 col-sm-5">
                        
                    </div>
                    <div class="col-md-5 col-sm-5">
                        <button type="button" class="btn btn-success btn-sm" onclick="validarFormulario();">Actualizar</button>
                    </div>
                </div>
                -->
            </form>
        </div>
    </div>
</div>
<script>

function cargaTab(tab)
{
    switch(tab)
    {
        case 1:
        $( "#home" ).addClass('tab-pane active');
        $( "#home-tab" ).addClass('nav-link active');

        $( "#profile-tab" ).removeClass('nav-link active');
        $( "#profile-tab" ).addClass('nav-link');
        $( "#profile" ).removeClass('tab-pane active');
        $( "#profile" ).addClass('tab-pane');
        break;

        case 2:
        $( "#profile" ).addClass('tab-pane active');
        $( "#profile-tab" ).addClass('nav-link active');

        $( "#home-tab" ).removeClass('nav-link active');
        $( "#home-tab" ).addClass('nav-link');
        $( "#home" ).removeClass('tab-pane active');
        $( "#home" ).addClass('tab-pane');

        $( "#messages-tab" ).removeClass('nav-link active');
        $( "#messages-tab" ).addClass('nav-link');
        $( "#messages" ).removeClass('tab-pane active');
        $( "#messages" ).addClass('tab-pane');
        
        break;

        case 3:
        $( "#messages" ).addClass('tab-pane active');
        $( "#messages-tab" ).addClass('nav-link active');

        $( "#profile-tab" ).removeClass('nav-link active');
        $( "#profile-tab" ).addClass('nav-link');
        $( "#profile" ).removeClass('tab-pane active');
        $( "#profile" ).addClass('tab-pane');
        
        $( "#settings-tab" ).removeClass('nav-link active');
        $( "#settings-tab" ).addClass('nav-link');
        $( "#settings" ).removeClass('tab-pane active');
        $( "#settings" ).addClass('tab-pane');
        break;

        case 4:
        $( "#settings" ).addClass('tab-pane active');
        $( "#settings-tab" ).addClass('nav-link active');

        $( "#messages-tab" ).removeClass('nav-link active');
        $( "#messages-tab" ).addClass('nav-link');
        $( "#messages" ).removeClass('tab-pane active');
        $( "#messages" ).addClass('tab-pane');
        break;


    }
}
    function ModificaTipoCobro ()
    {
        var id_tipo           = $( "#id_tipo_cobro" ).val();
       // console.log(id_tipo);
        switch(id_tipo)
        {
            case "1":
            case 1:
            // "$"
            $( "#monedaTipo" ).html("$");
            $( "#monedaM2" ).html("$ /m<sup>2</sup>");
            break;
            case "2":
            case 2:
            // "US$"
            $( "#monedaTipo" ).html("US$");
            $( "#monedaM2" ).html("US$ /m<sup>2</sup>");
            break;
            case "4":
            case 4:
            // "UF"
            $( "#monedaTipo" ).html("UF");
            $( "#monedaM2" ).html("UF /m<sup>2</sup>");
            break;
            case "10":
            case 10:
            // "S/"
            $( "#monedaTipo" ).html("S");
            $( "#monedaM2" ).html("S /m<sup>2</sup>");
            break;
        }

    }
    function ModificaValorProyecto(dato)
    {
        var valor_x_m2    = $( "#valor_x_m2" ).val();
        var superficie    = $( "#superficie_pre" ).val();
        var valor_pro    = $( "#valor_proyecto" ).val();
        
          $( "#superficie_pre_r" ).val($("#superficie_pre" ).val());
        //console.log("---->" + dato);
       
        if((valor_x_m2 !== null && valor_x_m2 !== '' )
            && (superficie !== null && superficie !== '' )
            && (valor_pro !== null && valor_pro !== '' ))
            {
                switch(dato)
                {
                    case 1:$( "#valor_proyecto" ).val(valor_x_m2 * superficie );break;
                    case 2:$( "#valor_x_m2" ).val(valor_pro / superficie );break;
                    case 3:$( "#valor_x_m2" ).val(valor_pro / superficie ); break;
                }
            }
        else if((valor_x_m2 !== null && valor_x_m2 !== '' )
            && (superficie !== null && superficie !== '' ))
            {
                console.log(valor_x_m2);
                console.log(superficie);
                console.log(valor_pro);
                var vproyecto = valor_x_m2 * superficie;
                $( "#valor_proyecto" ).val(vproyecto);
            }
        else if((valor_pro !== null && valor_pro !== '')
            && (superficie !== null && superficie !== '' ))
            {
                var vxm2 = valor_pro / superficie;
                $( "#valor_x_m2" ).val(vxm2);
            }
    }
function validarFormulario()
{
    // DATOS GENERALES 
    var annio           = $( "#year" ).val();
    var codigo          = $( "#code" ).val();
    var nombre          = $( "#nombre" ).val();
    var tipoProyecto    = $( "#id_tipo_proyecto" ).val();
    var tipoServicio    = $( "#id_servicio" ).val();
    var estado          = $( "#id_Estado" ).val();
    var direccion       = $( "#direccion" ).val();


    var estadoEnvio = true;

   // validar 
   //$("#year").css({'border-color': '#dc3545'}); // ROJO #dc3545  // VERDE #28a745
   // alert(codigo);
    if(annio !== null && annio !== '' && annio !== '0') {$("#year").css({'border-color': '#28a745'});} else {$("#year").css({'border-color': '#dc3545'}); estadoEnvio = false;} 
    if(codigo !== null && codigo !== '' && codigo !== '0') {$("#code").css({'border-color': '#28a745'});} else {$("#code").css({'border-color': '#dc3545'}); estadoEnvio = false;}
    if(nombre !== null && nombre !== '') {$("#nombre").css({'border-color': '#28a745'});} else {$("#nombre").css({'border-color': '#dc3545'});estadoEnvio = false;}
   // if(tipoProyecto !== null && tipoProyecto !== '' && tipoProyecto !== '0') {$("#id_tipo_proyecto").css({'border-color': '#28a745'});} else {$("#id_tipo_proyecto").css({'border-color': '#dc3545'});estadoEnvio = false;}
    if(tipoServicio !== null && tipoServicio !== '' && tipoServicio !== '0') {$("#id_servicio").css({'border-color': '#28a745'});} else {$("#id_servicio").css({'border-color': '#dc3545'});estadoEnvio = false;}
   // if(estado !== null && estado !== '' && estado !== '0') {$("#id_Estado").css({'border-color': '#28a745'});} else {$("#id_Estado").css({'border-color': '#dc3545'});estadoEnvio = false;}
    if(direccion !== null && direccion !== '' ) {$("#direccion").css({'border-color': '#28a745'});} else {$("#direccion").css({'border-color': '#dc3545'});estadoEnvio = false;}

    // DATOS FINANCIEROS 
    var valorxmts     = $( "#valor_x_m2" ).val();
    var valorproyecto = $( "#valor_proyecto" ).val();
    var superficie_pre    = $( "#superficie_pre" ).val();
    var finicio       = $( "#fecha_inicio" ).val();
    var fentrega      = $( "#fecha_entrega" ).val();
    var ftermino      = $( "#fecha_termino" ).val();

    //if(valorxmts !== null && valorxmts !== '' ) {$("#valor_x_m2").css({'border-color': '#28a745'});} else {$("#valor_x_m2").css({'border-color': '#dc3545'});estadoEnvio = false;}
    //if(valorproyecto !== null && valorproyecto !== '' ) {$("#valor_proyecto").css({'border-color': '#28a745'});} else {$("#valor_proyecto").css({'border-color': '#dc3545'});estadoEnvio = false;}
    //if(superficie_pre !== null && superficie_pre !== '' ) {$("#superficie_pre").css({'border-color': '#28a745'});} else {$("#superficie_pre").css({'border-color': '#dc3545'});estadoEnvio = false;}
    //if(finicio !== null && finicio !== '' ) {$("#fecha_inicio").css({'border-color': '#28a745'});} else {$("#fecha_inicio").css({'border-color': '#dc3545'});estadoEnvio = false;}
    //if(fentrega !== null && fentrega !== '' ) {$("#fecha_entrega").css({'border-color': '#28a745'});} else {$("#fecha_entrega").css({'border-color': '#dc3545'});estadoEnvio = false;}
    //if(ftermino !== null && ftermino !== '' ) {$("#fecha_termino").css({'border-color': '#28a745'});} else {$("#fecha_termino").css({'border-color': '#dc3545'});estadoEnvio = false;}

    // EQUIPO PROYECTO 
     var director       = $( "#id_director" ).val();
     var jefe           = $( "#id_jefe" ).val();
     var mandante       = $( "#id_mandante" ).val();
     var cliente        = $( "#id_cliente" ).val();
     var arquitecto     = $( "#id_arquitecto" ).val();
     var revisor        = $( "#id_revisor" ).val();

   // if(director !== null && director !== '' ) {$("#director").css({'border-color': '#28a745'});} else {$("#director").css({'border-color': '#dc3545'});estadoEnvio = false;}
   // if(jefe !== null && jefe !== '' ) {$("#jefe").css({'border-color': '#28a745'});} else {$("#jefe").css({'border-color': '#dc3545'});estadoEnvio = false;}
   // if(mandante !== null && mandante !== '' ) {$("#mandante").css({'border-color': '#28a745'});} else {$("#mandante").css({'border-color': '#dc3545'});estadoEnvio = false;}
   // if(cliente !== null && cliente !== '' ) {$("#cliente").css({'border-color': '#28a745'});} else {$("#cliente").css({'border-color': '#dc3545'});estadoEnvio = false;}
   // if(arquitecto !== null && arquitecto !== '' ) {$("#arquitecto").css({'border-color': '#28a745'});} else {$("#arquitecto").css({'border-color': '#dc3545'});estadoEnvio = false;}
    //if(revisor !== null && revisor !== '' ) {$("#revisor").css({'border-color': '#28a745'});} else {$("#revisor").css({'border-color': '#dc3545'});estadoEnvio = false;}

    // 

    if (estadoEnvio)
    {
        // realizar el envio 
        $( "#actualizarProyecto" ).submit();
    }
}

function fechaInicio ()
{
    // preguntar información.
    var valorFechaTermino   =  $( "#fecha_termino" ).val();
    var valorFechaInicio    =  $( "#fecha_inicio" ).val();

    if (valorFechaTermino != "")
    {
        const termino = new Date(valorFechaTermino);
        const inicio = new Date(valorFechaInicio);
        const diffTime = termino - inicio;
        const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24)); 
        if (diffDays < 0)
        {
            alert("La fecha de inicio no puede ser mayor a la fecha de termino");
            $( "#fecha_inicio" ).val("");
        }
    }
}

function fechaTermino ()
{
    // preguntar información.
    var valorFechaTermino   =  $( "#fecha_termino" ).val();
    var valorFechaInicio    =  $( "#fecha_inicio" ).val();

    if (valorFechaInicio != "")
    {
        const termino = new Date(valorFechaTermino);
        const inicio = new Date(valorFechaInicio);
        const diffTime = termino - inicio;
        const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24)); 
        if (diffDays < 0)
        {
            alert("La fecha de termino no puede ser menor a la fecha de inicio");
            $( "#fecha_termino" ).val("");
        }
    }
}

</script>

