<!-- <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
     {{#each modulosHTML}}
        {{#each modulos}}
          <a href="#">  {{this}} </a>
        {{/each}} 
     {{/each}} 
</div>

<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>
<script>
  function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script> -->
    <div id="mySidenav" class="sidebar">
       <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			<ul class="acorh"> 
         {{#each modulosHTML}}    
			    <li><a href="#"><i class="icono izquierda {{icono}}" aria-hidden="true"> </i> {{grupo}}<i class="icono derecha fa fa-chevron-down" aria-hidden="true"></i></a>
            <ul>
              {{#each modulos}}
                <li><a href="{{aref}}"><i class="icono izquierda {{icon}}" aria-hidden="true"></i>  {{nombre}}</a></li>
              {{/each}} 
            </ul>
			    </li>
         {{/each}} 
			</ul>
    </div>
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>
<script>
  function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>