<style>
     .close {
            float: right;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1;
            color: #000;
            text-shadow: 0 1px 0 #fff;
            opacity: .5;
        }
        .close:not(:disabled):not(.disabled) {
            cursor: pointer;
        }
   .dataTables_filter{
	    position: relative;
  		float: left;
   }
   .dataTables_length{
	    position: relative;
  		float: right;
   }
   #tooltipRle {
  background: cornsilk;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}
 .tooltipRle {
  background: cornsilk;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}
</style>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
<div class="col-md-12">
     <div class="x_panel">
            <div class="x_title">
                  <h2><small>{{proyecto.year}}-{{proyecto.code}} : {{proyecto.nombre}}</small></h2> 
                  <div class="clearfix"></div>
            </div>
     </div>
</div>
<div class="col-md-12">
          <div class="x_panel">
            <div class="x_title">
                   <!-- <h2><small>{{proyecto.year}}-{{proyecto.code}} : {{proyecto.nombre}}</small></h2> -->
                  <h2> Estructuras Asociadas </h2>
                  <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-md-3">
                        <form id="cargaNombre" action="#" method="POST">
                            <div class="item form-group">
					            <label class="col-form-label col-md-3 col-sm-3 label-align" for="titulo">Presupuestos</label>
                                <div class="col-md-5">
									<select class="form-control" name="cargaPresupuesto" id="cargaPresupuesto" onchange="CargaListadoPPto(this.value);">
                                            <option value="0">Seleccione</option>   
                                            {{#each presupuestos}}
                                                <option value="{{id_presupuesto}}">{{codigo}}</option>   
                                             {{/each}}     
                                    </select>	
                                    <input type="hidden" name="idproyecto" id="idproyecto" value="{{proyecto.id}}">
								</div>
                                <div class="col-md-4">
									<div class="form-check">
                                    </div>
								</div>
                            </div>
                            <div class="item form-group">
					            <label class="col-form-label col-md-3 col-sm-3 label-align" for="titulo">Nombre</label>
                                <div class="col-md-5">
										<input type="text" id="nombre" name="nombre" required="required" class="form-control">
								</div>
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-success" onclick="cargaNombreCobro()">Agregar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                     <div class="col-md-2" name="listadoNombrePpto" id="listadoNombrePpto">

                        <ul class="list-group">
                            {{#each substructura}}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    {{descripcion}}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16" onclick="EliminarRegistro({{id}})";>
                                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
                                    </svg>
                                    <!-- 
                                        <button type="button" class="btn btn-danger btn-sm" onclick="EliminarRegistro({{id}});">
                                    X
                                    </button>
                                    -->
                                </li>
                            {{/each}}
                        </ul>
                     </div>
                    <div class="col-md-3">

                    </div>  
                     <div class="col-md-3">
                        <div class="alert alert-secondary" role="alert">
                            <b>Estructuras Asociadas</b><br>
                            Puedes agregar divisiones al proyecto, para la metodología de pago (ej. Torre A , Torre B , Placa, etc.). En caso que no tenga divisiones, se indica como como N/A.
                        </div>
                    </div>
                </div>  
            </div>
          </div>
</div>

<div class="col-md-4">
    <div class="x_panel">
        <div class="x_title">
            <h2>Ingresar Cobro</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="alert alert-secondary" role="alert">
                <div class="item form-group">
					<label class="col-form-label col-md-3 col-sm-3 label-align" for="titulo">Tipo Cobro<span class="required"></span> </label>
					<div class="col-md-6 col-sm-6 ">
						<select class="form-control" name="tipoCobro" id="tipoCobro" onchange="cargaOpcionCobro(this.value);">
                                <option value="0">Seleccione</option>        
                                <option value="1">Metodologia de pago</option>
                                <option value="2">Cobro Adicional</option>
                        </select>
					</div>
                
			    </div>
            </div>
            
             <div class="clearfix"></div>
             <br>
             
            <div name="ingresoCobro" id="ingresoCobro">


            </div>
        </div>

    </div>
</div>
<div class="col-md-8">
    <div class="x_panel">
        <ul class="nav nav-tabs justify-content-end bar_tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="metodologia-tab" data-toggle="tab" href="#metodologia" role="tab" aria-controls="metodologia" aria-selected="true">Forma Pago</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="cobro-tab" data-toggle="tab" href="#cobro" role="tab" aria-controls="cobro" aria-selected="false">Cobro Adicional</a>
                </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="metodologia" role="tabpanel" aria-labelledby="metodologia-tab">
                <table class="table table-hover" >
                    <thead>
                        <tr>
                            <th>Presupuesto</th>
                            <th>Sub-Estructura</th>
                            <th>Hito</th>
                            <th>Moneda</th>
                            <th>%</th>
                            <th>Monto</th>
                            <th>Ppciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    
                      {{#each metodologia_pago}}
                        <tr>
                            <td>
                                <div id="1_{{id}}_tooltip" display="none" style="position: absolute; display: none;" class="tooltipRle"></div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-text" viewBox="0 0 16 16" onmousemove="showTooltip(evt, '{{observacion}}', 1 , {{id}});" onmouseout="hideTooltip(1, {{id}});" >
                                <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                                <path d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
                                </svg> {{codigo}} </td>
                            <td>{{substructura}}</td>
                            <td>{{motivohito}}</td>
                            <td>{{moneda}}</td>
                            <td>{{porcentaje}}</td>
                            <td>{{monto}}</td>
                            <td>
                                <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#aver{{id}}" onclick="cargaInformacionEditar(1,{{id}})">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                        <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                                    </svg> Editar
                                </button>
                                        <div class="modal fade" id="aver{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLongTitle">Modificar Metodologia de Pago</h5>
                                                    </div>
                                                    <div class="modal-body" name="adetalleMetodPago{{id}}" id="adetalleMetodPago{{id}}">
                                                        
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-warning"  onclick="cargarActualizacionMetodPago();">Actualizar</button>
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                                

                                <button type="button" class="btn btn-danger btn-sm" onclick="EliminarRegistroMetodologia({{tiporegistro}},{{id}});">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"></path>
                                    </svg>
                                                Eliminar
                                </button>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>TOTALES</td>
                            <td>{{totalPorc}}</td>
                            <td>{{totalMonto}}</td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="tab-pane fade" id="cobro" role="tabpanel" aria-labelledby="cobro-tab">
                <table class="table table-hover" >
                    <thead>
                        <tr>
                            <th>Sub-Estructura</th>
                            <th>Tipo cobro</th>
                            <th>Número</th>
                            <th>Motivo</th>
                            <th>Moneda</th>
                            <th>%</th>
                            <th>Monto</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    
                      {{#each pago_adicional}}
                        <tr>
                            <td>
                                 <div id="2_{{id}}_tooltip" display="none" style="position: absolute; display: none;" class="tooltipRle"></div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-text" viewBox="0 0 16 16" onmousemove="showTooltip(evt, '{{observacion}}',2,{{id}});" onmouseout="hideTooltip(2,{{id}});" >
                                <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                                <path d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
                                </svg> 
                                {{substructura}}</td>
                            <td>{{tipoCobro}}</td>
                            <td>{{numero}}</td>
                            <td>{{motivohito}}</td>
                            <td>{{moneda}}</td>
                            <td>{{porcentaje}}</td>
                            <td>{{monto}}</td>
                            <td>
                                <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#bver{{id}}" onclick="EditarRegistroMetodologia({{tiporegistro}},{{id}});">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                                                </svg>
                                                Editar
                                </button>
                                <div class="modal fade" id="bver{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLongTitle">Modificar Pago Adicional</h5>
                                                    </div>
                                                    <div class="modal-body" name="metodologiaPago{{id}}" id="metodologiaPago{{id}}">
                                                        
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-warning" onclick="cargarActualizacionPagoAdicional();" >Actualizar</button>
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                </div>

                                <button type="button" class="btn btn-danger btn-sm" onclick="EliminarRegistroMetodologia({{tiporegistro}},{{id}});">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"></path>
                                </svg>
                                                Eliminar
                                </button>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="col-md-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Documentos de Respaldo</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
                <div class="row">
                    <div class="col-md-4">
                        <div class="alert alert-secondary" role="alert">
                            <form action="cargaDocumento/" method="post" enctype="multipart/form-data">
                                <div class="item form-group">
                                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="titulo">Tipo <span class="required"></span> </label>
                                        <div class="col-md-8 col-sm-8 ">
                                            <select class="form-control" name="tipoDocumento" id="tipoDocumento" >
                                                    <option value="0">Seleccione</option>        
                                                    {{#each tipoDocumentos}}
                                                            <option value="{{id}}">{{descripcion}}</option>   
                                                    {{/each}}  
                                            </select>
                                        </div>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="titulo">Numero</label>
                                    <div class="col-md-8">
                                            <input type="text" id="numerodoc" name="numerodoc" class="form-control">
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="titulo">Monto</label>
                                    <div class="col-md-8">
                                            <input type="text" id="montodoc" name="montodoc" class="form-control">
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="titulo">Documento</label>
                                    <div class="col-md-8">
                                             <input type="file" class="form-control" id="archivo" name="archivo"> 
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <div class="col-md-6">
                                        <input type="hidden" name="id_proyecto" id="id_proyecto" value="{{proyecto.id}}">
                                    </div>
                                    <button type="submit" class="btn btn-success">Agregar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                     <div class="col-md-7">
                        <table class="table table-hover" >
                            <thead>
                                <tr>
                                        <th>Respaldo Facturacion</th>
                                        <th>Número</th>
                                        <th>Monto</th>
                                        <th>Doc</th>
                                        <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each respaldo_doc}}
                                    <tr>
                                        <td>{{descripcion}} </td>
                                        <td>{{numero}} </td>
                                        <td>{{monto}} </td>
                                        <td> 
                                            <a href="/finanzas/download/{{idDoc}}"    target="_blank">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filetype-doc" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2v-1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5L14 4.5Zm-7.839 9.166v.522c0 .256-.039.47-.117.641a.861.861 0 0 1-.322.387.877.877 0 0 1-.469.126.883.883 0 0 1-.471-.126.868.868 0 0 1-.32-.386 1.55 1.55 0 0 1-.117-.642v-.522c0-.257.04-.471.117-.641a.868.868 0 0 1 .32-.387.868.868 0 0 1 .471-.129c.176 0 .332.043.469.13a.861.861 0 0 1 .322.386c.078.17.117.384.117.641Zm.803.519v-.513c0-.377-.068-.7-.205-.972a1.46 1.46 0 0 0-.589-.63c-.254-.147-.56-.22-.917-.22-.355 0-.662.073-.92.22a1.441 1.441 0 0 0-.589.627c-.136.271-.205.596-.205.975v.513c0 .375.069.7.205.973.137.271.333.48.59.627.257.144.564.216.92.216.357 0 .662-.072.916-.216.256-.147.452-.356.59-.627.136-.274.204-.598.204-.973ZM0 11.926v4h1.459c.402 0 .735-.08.999-.238a1.45 1.45 0 0 0 .595-.689c.13-.3.196-.662.196-1.084 0-.42-.065-.778-.196-1.075a1.426 1.426 0 0 0-.59-.68c-.263-.156-.598-.234-1.004-.234H0Zm.791.645h.563c.248 0 .45.05.609.152a.89.89 0 0 1 .354.454c.079.201.118.452.118.753a2.3 2.3 0 0 1-.068.592 1.141 1.141 0 0 1-.196.422.8.8 0 0 1-.334.252 1.298 1.298 0 0 1-.483.082H.79V12.57Zm7.422.483a1.732 1.732 0 0 0-.103.633v.495c0 .246.034.455.103.627a.834.834 0 0 0 .298.393.845.845 0 0 0 .478.131.868.868 0 0 0 .401-.088.699.699 0 0 0 .273-.248.8.8 0 0 0 .117-.364h.765v.076a1.268 1.268 0 0 1-.226.674c-.137.194-.32.345-.55.454a1.81 1.81 0 0 1-.786.164c-.36 0-.664-.072-.914-.216a1.424 1.424 0 0 1-.571-.627c-.13-.272-.194-.597-.194-.976v-.498c0-.379.066-.705.197-.978.13-.274.321-.485.571-.633.252-.149.556-.223.911-.223.219 0 .421.032.607.097.187.062.35.153.489.272a1.326 1.326 0 0 1 .466.964v.073H9.78a.85.85 0 0 0-.12-.38.7.7 0 0 0-.273-.261.802.802 0 0 0-.398-.097.814.814 0 0 0-.475.138.868.868 0 0 0-.301.398Z"/>
                                                </svg>
                                            </a>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#cver{{idDoc}}" onclick="EditarDocRespaldo({{idDoc}});">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                                                </svg>
                                                Editar
                                            </button>
                                            <button type="button" class="btn btn-danger btn-sm" onclick="EliminarRegistroDocRespaldo({{idDoc}});">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"></path>
                                            </svg>
                                                            Eliminar
                                            </button>
                                            <div class="modal fade" id="cver{{idDoc}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <form action="actualizarDocumentoResplado/" method="post" enctype="multipart/form-data">
                                                    
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLongTitle">Modificar Documento Respaldo</h5>
                                                    </div>
                                                    <div class="modal-body" name="docRespaldo{{idDoc}}" id="docRespaldo{{idDoc}}">
                                                        
                                                    </div>
                                                    <div class="modal-footer">
                                                        <!--onclick="actualizarDocumentoRespaldo({{idDoc}})"-->
                                                         <input type="hidden" name="uDoc" id="uDoc" value="{{idDoc}}">
                                                        <button type="submit" class="btn btn-warning">Actualizar</button>
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    </div>
                                                    </form>
                                                </div>
                                            </div>
                                </div>
                                        </td>
                                    </tr>
                                {{/each}}  
                            </tbody>
                        </table>
                     </div>
                </div>
        </div>
    </div>
</div>



<!-- Optional JavaScript; choose one of the two! -->


<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>-->

<script src="../../../template/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../../../template/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script> 
<script src="../../../template/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

  



{{#if verToask }}
<!--INFORMACIÓN-->
<script>
    if ("{{verToask.tipo}}" == "Editar") {
        toastr.warning('{{verToask.body}}', '{{verToask.titulo}}', {
            "progressBar": true
        });
    }
    else if ("{{verToask.tipo}}" == "Crear") {
        toastr.success('{{verToask.body}}', '{{verToask.titulo}}', {
            "progressBar": true
        });
    }
    else if ("{{verToask.tipo}}" == "Eliminar") {
        toastr.error('{{verToask.body}}', '{{verToask.titulo}}', {
            "progressBar": true
        });
    }
    else if ("{{verToask.tipo}}" == "Permisos") {
        toastr.success('{{verToask.body}}', '{{verToask.titulo}}', {
            "progressBar": true
        });
    }



</script>
{{/if}}

<script>
        var table = $('#tablaProyectos').DataTable({
            "dom": "<'row'<'col-sm-12 col-md-6'f><'col-sm-12 col-md-6'l>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
            "order": [[ 0, "desc" ]],
            orderCellsTop: true,
            fixedHeader: true,
            "scrollX": true,
            language: {
                "decimal": ".",
                "thousands": ",",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            }
        });


function cargaOpcionCobro( opcion)
{
    let idppto  = $("#cargaPresupuesto").val();
    let idProyecto = $("#idproyecto").val();

    let informacion = {tipo : opcion , idppto , idProyecto};

        if (opcion === 0 || opcion === "0")
        {
            $("#ingresoCobro").html("");
        }
        else
        {
        $.ajax({
                    type: 'post',
                    //url: '/finanzas/ocCambioEstado',
                    url: '/finanzas/cargaFormIngreso',
                    data: informacion,
                    dataType: 'text'
                    })
                    .done(function (data) {  
                            $("#ingresoCobro").html(data);
                    });
        }
}

function cargaNombreCobro()
{

    let nombre  = $("#nombre").val();
    let idppto  = $("#cargaPresupuesto").val();
    let idProyecto = $("#idproyecto").val();
    


    //console.log(params);

    let informacion = { 
        nombre : nombre,
        idppto : idppto,
        idProyecto : idProyecto
    };

    

         
         $.ajax({
              type: 'post',
              url: '/finanzas/cargaNombreSub',
              data: informacion,
              dataType: 'text'
               })
              .done(function (data) {  
                    $("#listadoNombrePpto").html(data);
                    $("#nombre").val("");
              });


      toastr.success('Carga de sub-estructura terminada', 'Titulo', {
            "progressBar": true
        });


}

function CargaListadoPPto(idPPto)
{
    // con el ide del ppto mostrar las que estan cargadas en un listado al costado izquierdo. 
let idProyecto = $("#idproyecto").val();

let informacion = {   idPPto,idProyecto  };



    $.ajax({
              type: 'post',
              //url: '/finanzas/ocCambioEstado',
              url: '/finanzas/cargaListadoPpto',
              data: informacion,
              dataType: 'text'
               })
              .done(function (data) {
                    $("#listadoNombrePpto").html(data);
              });

}

function EliminarRegistro(Id)
{
    let idppto  = $("#cargaPresupuesto").val();
    let idProyecto = $("#idproyecto").val();

    let informacion = {   Id ,idppto,idProyecto };


   $.ajax({
              type: 'post',
              //url: '/finanzas/ocCambioEstado',
              url: '/finanzas/EliminarSubStructura',
              data: informacion,
              dataType: 'text'
               })
              .done(function (data) {
                toastr.error('Registro Eliminado', 'Titulo', {
                                        "progressBar": true
                                    });
                    $("#listadoNombrePpto").html(data);
              });

}


function EliminarRegistroDocRespaldo(id)
{
    let informacion = {  id };


$.ajax({
              type: 'post',
              //url: '/finanzas/ocCambioEstado',
              url: '/finanzas/EliminarDocRespaldo',
              data: informacion,
              dataType: 'text'
               })
              .done(function (data) {
                
              });

  toastr.error('Registro Eliminado', 'Titulo', {
                                        "progressBar": true
                                    });

    setTimeout(() => {  console.log("ejecutando");
                        
                        }
                    , 5000);

    location.reload();


}


function EliminarRegistroMetodologia(tipo , id)
{

 let informacion = {   tipo ,id };

 $.ajax({
              type: 'post',
              //url: '/finanzas/ocCambioEstado',
              url: '/finanzas/EliminarRegistroMetoPago',
              data: informacion,
              dataType: 'text'
               })
              .done(function (data) {
                    //  location.reload();
              });


toastr.error('Registro Eliminado', 'Titulo', {
                                        "progressBar": true
                                    });

setTimeout(() => {  console.log("ejecutando");
                        
                        }
                    , 5000);

    location.reload();


}


function cargaNAPresupuesto()
{
    //alert(("#na_ppto").val());
    if( $('#na_ppto').prop('checked') ) {
         $("#listadoNombrePpto").val("");
         $("#nombre").val("");
    }
}

function cargarFormMetodologia()
{
    let idProyecto          = $("#idproyecto").val();
    let idppto              = $("#presupuesto").val();
    let edificiotorre       = $("#edificiotorre").val(); 
    let hito                = $("#hito").val(); 
    let porcentaje          = $("#porcentaje").val();
    let monto               = $("#monto").val();
    let moneda              = $("#moneda").val();
    let observacion         = $("#observacion").val();
    
    let informacion = {idProyecto,  idppto, edificiotorre, hito,porcentaje,monto,moneda, observacion};

   // console.log(informacion);




    $.ajax({
              type: 'post',
              //url: '/finanzas/ocCambioEstado',
              url: '/finanzas/cargaMetodologiaPago',
              data: informacion,
              dataType: 'text'
               })
              .done(function (data) {
              });

    toastr.success('Carga de metodologia de pago', 'Titulo', {
                                        "progressBar": true
                                    });

    setTimeout(() => {  console.log("ejecutando");
                        
                        }
                    , 5000);

    location.reload();

}

function cargarFormAdicional()
{

    let idProyecto      = $("#idproyecto").val();
    let tipoCobro       = $("#etipoCobro").val();
    let numero          = $("#numero").val(); 
    let motivo          = $("#motivo").val(); 
    let porcentaje      = $("#porcentaje").val();
    let monto           = $("#monto").val();
    let moneda          = $("#moneda").val();
    let observacion     = $("#observacion").val(); 
    
    let edificiotorre     = $("#edificiotorre").val();

    let informacion = {idProyecto,  tipoCobro, numero,motivo,porcentaje,monto,moneda, observacion,  edificiotorre};


 $.ajax({
              type: 'post',
              //url: '/finanzas/ocCambioEstado',
              url: '/finanzas/cargaPagoAdiocional',
              data: informacion,
              dataType: 'text'
               })
              .done(function (data) {
                    location.reload();
              });


toastr.success('Carga de pago Adicional', 'Titulo', {
                                        "progressBar": true
                                    });

setTimeout(() => {  console.log("ejecutando");
                        
                        }
                    , 5000);

    location.reload();


}


function showTooltip(evt, text, item, key) {
  let tooltip = document.getElementById(item+"_"+key+"_tooltip");
  tooltip.innerHTML = text;
  tooltip.style.display = "block";
 // tooltip.style.left = evt.pageX + 10 + 'px';
 // tooltip.style.top = evt.pageY + 10 + 'px';
}

function hideTooltip(item, key) {
  var tooltip = document.getElementById(item+"_"+key+"_tooltip");
  tooltip.style.display = "none";
}

function cargaOpcionesPresupuesto ( iId)
{
    let idProyecto      = $("#idproyecto").val();
    let informacion = { iId , idProyecto};


    $.ajax({
                type: 'post',
                //url: '/finanzas/ocCambioEstado',
                url: '/finanzas/cargaOpcionesSubStructura',
                data: informacion,
                dataType: 'text'
                })
                .done(function (data) {
                    $("#edificiotorre").html(data);
                });



}

function cargarTodosSegunProyecto()
{


    if( $('#chkAll').is(':checked') ){ 
         let idProyecto      = $("#idproyecto").val();
         let informacion = {  idProyecto};

        $.ajax({
                type: 'post',
                //url: '/finanzas/ocCambioEstado',
                url: '/finanzas/cargaOpcionesSubStructuraAll',
                data: informacion,
                dataType: 'text'
                })
                .done(function (data) {
                    $("#edificiotorre").html(data);
                });

    }


}


function cargaInformacionEditar ( tipo , iId )
{

 let idProyecto      = $("#idproyecto").val();

     let informacion = {  tipo , iId , idProyecto};


     $.ajax({
                type: 'post',
                //url: '/finanzas/ocCambioEstado',
                url: '/finanzas/cargaFormularioEditar',
                data: informacion,
                dataType: 'text'
                })
                .done(function (data) {
                    
                    switch(tipo)
                        {
                            case "1":
                            case 1:
                                $("#adetalleMetodPago"+iId).html(data);
                            break;
                            case "2":
                            case 2:
                                $("#metodologiaPago"+iId).html(data);
                            break;
                        }

                });


}

function cargarActualizacionPagoAdicional()
{
    let idProyecto          = $("#idproyecto").val();
    
    let tipoCobro           = $("#etipoCobro").val(); 
    let edificiotorre       = $("#edificiotorre").val(); 
    let numero              = $("#numero").val(); 
    let motivo              = $("#motivo").val();
    let porcentaje          = $("#porcentaje").val();
    let monto               = $("#monto").val();
    let moneda              = $("#moneda").val();
    let observacion         = $("#observacion").val(); 
    let id                  = $("#id").val();

    

    let informacion = {idProyecto,  tipoCobro, edificiotorre, numero, motivo,porcentaje,monto,moneda, observacion, id};

    console.log(informacion);

     $.ajax({
              type: 'post',
              //url: '/finanzas/ocCambioEstado',
              url: '/finanzas/actualizaPagoAdicional',
              data: informacion,
              dataType: 'text'
               })
              .done(function (data) {

                 toastr.success('Actualizacion de Pago Adicional', 'Titulo', {
                                        "progressBar": true
                                    });
                // location.reload();
              });


}

function cargarActualizacionMetodPago()
{

    let idProyecto          = $("#idproyecto").val();
    let idppto              = $("#presupuesto").val();
    let edificiotorre       = $("#edificiotorre").val(); 
    let hito                = $("#hito").val(); 
    let porcentaje          = $("#porcentaje").val();
    let monto               = $("#monto").val();
    let moneda              = $("#moneda").val();
    let observacion         = $("#observacion").val();
    let id                  = $("#id").val();
    
    let informacion = {idProyecto,  idppto, edificiotorre, hito,porcentaje,monto,moneda, observacion, id};


    $.ajax({
              type: 'post',
              //url: '/finanzas/ocCambioEstado',
              url: '/finanzas/actualizaMetodologiaPago',
              data: informacion,
              dataType: 'text'
               })
              .done(function (data) {

                 toastr.success('Actualizacion de metodologia de pago', 'Titulo', {
                                        "progressBar": true
                                    });
                 location.reload();

              });


}

function EditarRegistroMetodologia (tipo , iId)
{

    let idProyecto      = $("#idproyecto").val();

    let informacion = {  tipo , iId , idProyecto};


     $.ajax({
                type: 'post',
                //url: '/finanzas/ocCambioEstado',
                url: '/finanzas/cargaFormularioEditar',
                data: informacion,
                dataType: 'text'
                })
                .done(function (data) {
                    
                    switch(tipo)
                        {
                            case "1":
                            case 1:
                                $("#adetalleMetodPago"+iId).html(data);
                            break;
                            case "2":
                            case 2:
                                $("#metodologiaPago"+iId).html(data);
                            break;
                        }

                });


}

function EditarDocRespaldo(iId)
{
    let idProyecto      = $("#idproyecto").val();
    let informacion = {   iId , idProyecto};


    $.ajax({
                type: 'post',
                //url: '/finanzas/ocCambioEstado',
                url: '/finanzas/cargaFormularioEditarDocRespaldo',
                data: informacion,
                dataType: 'text'
                })
                .done(function (data) {
                    
                                $("#docRespaldo"+iId).html(data);
                });
}

function actualizarDocumentoRespaldo(iId)
{
    let tipoDocumento   = $("#utipoDocumento").val();
    let unumerodoc      = $("#unumerodoc").val();
    let umontodoc    = $("#umontodoc").val();
    let idProyecto      = $("#idproyecto").val();

    let informacion = {   tipoDocumento , unumerodoc,umontodoc, iId,idProyecto};

 $.ajax({
              type: 'post',
              //url: '/finanzas/ocCambioEstado',
              url: '/finanzas/actualizarDocumentoResplado',
              data: informacion,
              dataType: 'text'
               })
              .done(function (data) {

                 toastr.success('Actualizacion de Documento Respaldo', 'Titulo', {
                                        "progressBar": true
                                    });
                // location.reload();

              });

}


function cargaMonto( porcentaje )
{

    let montoProyecto = parseFloat($("#valorpro").text());

    $("#monto").val( montoProyecto * porcentaje / 100);

}

</script>